<div class="form">
	<form>
		<fieldset>
			<legend>Rechercher des clients</legend>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Code</label>
				<div class="col-lg-3 ose-format">
					<input name="nom" class="form-control" data-ng-model="criteria.searchkey" pattern="[^\x22]{0,}" />
				</div>
				<label class="col-lg-1 ose-control-label">Nom</label>
				<div class="col-lg-2 ose-format">
					<input name="nom" class="form-control" data-ng-model="criteria.lastname" pattern="[^\x22]{0,}" />
				</div>
				<label class="col-lg-1 ose-control-label">Pr&eacute;nom</label>
				<div class="col-lg-2 ose-format">
					<input name="nom" class="form-control" data-ng-model="criteria.firstname" pattern="[^\x22]{0,}" />
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Point de vente de rattachement</label>
				<div class="col-lg-3 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.pdv" data-theme="bootstrap">
						<ui-select-match class="ui-select-match" allow-clear="true" data-placeholder="">{{criteria.pdv.label}}</ui-select-match>
						<ui-select-choices class="ui-select-choices" data-repeat="location in pdvs | filter: $select.search">
							<table width="100%">
								<tr>
									<td width="35%">
										<div data-ng-bind-html="location.id | highlight: $select.search"></div>
									</td>
									<td width="65%">
										<div data-ng-bind-html="location.label | highlight: $select.search"></div>
									</td>
								</tr>
							</table>
						</ui-select-choices>
					</ui-select>
				</div>
				<label class="col-lg-1 ose-control-label">T&eacute;l&eacute;phone</label>
                <div class="col-lg-2 ose-format">
                    <input placeholder="0123456789" name="tel" class="form-control" data-ng-model="criteria.searchphone" pattern="[\d]{0,10}" />
                </div>
				<label class="col-lg-1 ose-control-label">Parent/Enfant</label>
				<div class="col-lg-2 ose-format ose-form-height">
					<nz-toggle tri-toggle ng-model="criteria.parentConstraint" tip-false="'Uniquement les parents'" tip-null="'Parents et Enfants'"
						tip-true="'Uniquement les enfants'"> </nz-toggle>
				</div>
			</div>
			
			<div class="row">
				<label class="col-lg-2 ose-control-label">Profil</label>
				<div class="col-lg-2 ose-format">					
					<ui-select focus-on="SetFocus" data-ng-model="criteria.profil" data-theme="bootstrap"> 
						<ui-select-match class="ui-select-match" allow-clear="true" data-placeholder="">{{criteria.profil.label}}</ui-select-match>
						<ui-select-choices class="ui-select-choices" data-repeat="profil in profils | filter: $select.search">
							<table width="100%">
								<tr>
									<td width="100%">
										<div data-ng-bind-html="profil.label | highlight: $select.search"></div>
									</td>
								</tr>
							</table>
						</ui-select-choices>
					</ui-select>
				</div>
				<div class="col-lg-1">
    				<toggle-switch ng-model="criteria.profilConstraint" on-label="Inclus" off-label="Exclus" class="switch-success pull-leftt" style="margin-top:4px"> </toggle-switch>
    			</div>
    			<label class="col-lg-1 ose-control-label">E-mail</label>
                <div class="col-lg-3 ose-format ose-form-height">
                    <input name="mail" class="form-control" data-ng-model="criteria.searchmail" pattern="[^\x22]{0,}" />
                </div>
                <div class="col-lg-1ose-form-height">
                    <nz-toggle tri-toggle ng-model="criteria.emailConstraint" tip-false="'Pas de Mail'" tip-null="'Sans contrainte'" tip-true="'Avec Mail'">
                    </nz-toggle>
                </div>
			</div>
			
			<div class="row">
				<label class="col-lg-2 ose-control-label">Date de modification</label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.from" is-open="openedFrom"
							datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
							close-text="Fermer" show-weeks="true" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openFrom($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<label class="col-lg-1 ose-control-label">au</label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="to" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.to" is-open="openedTo"
							datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
							close-text="Fermer" show-weeks="true" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openTo($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Localisation</label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.insee" data-theme="bootstrap"> <ui-select-match
						class="ui-select-match"  allow-clear="true">{{criteria.insee.zipCode}}-{{criteria.insee.commune}}</ui-select-match> <ui-select-choices
						class="ui-select-choices" data-repeat="insee in insees | filter: $select.search" data-refresh="getCities($select.search)"
						refresh-delay="0">
					<table width="100%">
						<tr>
							<td width="35%">
								<div data-ng-bind-html="insee.zipCode | highlight: $select.search"></div>
							</td>
							<td width="65%">
								<div data-ng-bind-html="insee.commune | highlight: $select.search"></div>
							</td>
						</tr>
					</table>
					</ui-select-choices> </ui-select>
				</div>
				<label class="col-lg-1 ose-control-label">Rayon</label>
				<div class="col-lg-2 ose-format">
					<select class="form-control" data-ng-model="criteria.radius" data-ng-options="x as x for x in xx">
					</select>
				</div>
				<label class="col-lg-1 ose-control-label">Kms</label>
			</div>
			<div class="row line">
				<div class="col-lg-12">
					<button type="submit" class="btn btn-primary ose-search-button col-lg-9" data-ng-click="searchCustomers()">Rechercher</button>
					<button has-permission="PERM_CLIENT_EXTRACT" class="btn btn-primary ose-search-button col-lg-3" ng-disabled="isDownLoading"
						data-ng-click="downloadCSV()">T&eacute;l&eacute;charger</button>
				</div>
			</div>
		</fieldset>
	</form>
	<div class='col-lg-12' ng-if='isLoading'>
		<h1>
			Loading <i class='fa fa-cog fa-spin'></i>
		</h1>
	</div>
	<fieldset data-ng-if="!isLoading && customers">
		<legend>R&eacute;sultat de la recherche</legend>
		<div class="row line">
			<div class="col-lg-12">
				<span data-ng-if="customers.length==0"> Aucun r&eacute;sultat ne correspond &agrave; votre recherche. </span>
				<div has-permission="PERM_CLIENT_MODIF">
					<span data-ng-if="customers.length!=0"> Vous n'avez pas trouv&eacute; le bon client? </span> <a href="#/customers/form?_action=create&criteria={{passCriteria()}}"
						class="btn btn-danger pull-right">Cr&eacute;er un nouveau client.</a>
				</div>
			</div>
		</div>
		<div class="row line" data-ng-if="customers.length!=0">
			<div class="col-lg-12">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th class="text-center" width="10%"><a href="#/customers/list" ng-click="sortType = 'Key'; sortReverse = !sortReverse">Code
									<span ng-show="sortType == 'Key' && !sortReverse" class="fa fa-caret-down"></span> <span ng-show="sortType == 'Key' && sortReverse"
									class="fa fa-caret-up"></span>
							</a> <i ng-show="search.key.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.key"></th>
							<th class="text-center" width="15%"><a href="#/customers/list" ng-click="sortType = 'lastName'; sortReverse = !sortReverse">Nom
									<span ng-show="sortType == 'lastName' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'lastName' && sortReverse" class="fa fa-caret-up"></span>
							</a> <i ng-show="search.lastName.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.lastName"></th>
							<th class="text-center" width="15%"><a href="#/customers/list" ng-click="sortType = 'firstName'; sortReverse = !sortReverse">Pr&eacute;nom
									<span ng-show="sortType == 'firstName' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'firstName' && sortReverse" class="fa fa-caret-up"></span>
							</a> <i ng-show="search.firstName.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.firstName"></th>
												
							<th class="text-center" width="15%"><a href="#/customers/list" ng-click="sortType = 'discountProfile'; sortReverse = !sortReverse">Profil
									<span ng-show="sortType == 'discountProfile' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'discountProfile' && sortReverse" class="fa fa-caret-up"></span>
							</a> <i ng-show="search.discountProfile.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.discountProfile.label"></th>
								
							<th class="text-center" width="15%"><a href="#/customers/list" ng-click="sortType = 'location'; sortReverse = !sortReverse">Point de vente
									<span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>
							</a> <i ng-show="search.location.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.location.label"></th>
									
							<th class="text-center" width="20%"><a href="#/customers/list" ng-click="sortType = 'city'; sortReverse = !sortReverse">Ville
									<span ng-show="sortType == 'city' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'city' && sortReverse" class="fa fa-caret-up"></span>
							</a> <i ng-show="search.city.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.city"></th>
							<th class="text-center" width="10%"><a href="#/customers/list" ng-click="sortType = 'zipCode'; sortReverse = !sortReverse">Code
									postal <span ng-show="sortType == 'zipCode' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'zipCode' && sortReverse" class="fa fa-caret-up"></span>
							</a> <i ng-show="search.zipCode.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.zipCode"></th>
							<th class="text-center" width="10%"><a href="#/customers/list" ng-click="sortType = 'phone1'; sortReverse = !sortReverse">T&eacute;l&eacute;phone
									<span ng-show="sortType == 'phone1' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'phone1' && sortReverse" class="fa fa-caret-up"></span>
							</a> <i ng-show="search.phone1.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.phone1"></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="customer in customers | orderBy:sortType:sortReverse | filter:search">
							<td><a href="#/customers/{{customer.id}}/form?_action=view">{{customer.key}}</a></td>
							<td>{{customer.lastName}}</td>
							<td data-ng-if="customer.civilite!='STE'">{{customer.firstName}}</td>
							<td data-ng-if="customer.civilite=='STE'"></td>
							<td>{{customer.discountProfilLabel}}</td>
							<td>{{customer.locationLabel}}</td>
							<td>{{customer.city}}</td>
							<td>{{customer.zipCode}}</td>
							<td>{{customer.phone1}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>
