<form name="customersForm" data-role="form" novalidate
	data-ng-submit="saveCustomer()">
	<div class="form">
		<div class="row line">
			<div class="col-lg-12">
				<fieldset>
					<legend>Information client</legend>
					<div class="row">
						<div class="col-lg-8">
							<div class="row">
								<label class="col-lg-3"
									data-ng-class="{'ose-control-label':edit}">Code*</label>
								<div class="col-lg-4 ose-format"
									data-ng-class="{'has-error' : customersForm.$submitted && customersForm.code.$invalid}">
									<label data-ng-if="!canEditSearchkey || !edit" class="label-view">{{customer.searchKey}}</label>
									<input data-ng-if="canEditSearchkey && edit" name="code" class="form-control"
										data-ng-model="customer.searchKey" data-ng-required="true">
								</div>
							</div>
							<div class="row">
								<label class="col-lg-3 control-label">Civilit&eacute;*</label>
								<div class="col-lg-2 ose-format"
									data-ng-class="{'has-error' : customersForm.$submitted && customersForm.code.$invalid}">
									<div class="checkbox">
										<label class="label-view"> <input type="checkbox"
											data-ng-model="customer.civilite" data-ng-true-value="'M'"
											data-ng-disabled="!edit" /> Monsieur
										</label>
									</div>
								</div>
								<div class="col-lg-2 ose-margin">
									<div class="checkbox">
										<label class="label-view"> <input type="checkbox"
											data-ng-model="customer.civilite" data-ng-true-value="'MME'"
											data-ng-disabled="!edit" /> Madame
										</label>
									</div>
								</div>
								<div class="col-lg-4 ose-margin">
									<div class="checkbox">
										<label class="label-view"> <input type="checkbox"
											data-ng-model="customer.civilite" data-ng-true-value="'STE'"
											data-ng-disabled="!edit" /> Autre (Soci&eacute;t&eacute; -
											Association)
										</label>
									</div>
								</div>
								<div
									data-ng-if="customersForm.$submitted && customer.civilite!='MME' && customer.civilite!='M' && customer.civilite!='STE'"
									class="col-lg-4 ose-margin">
									<label class="control-label ose-has-error">La
										civilit&eacute; est obligatoire</label>
								</div>
							</div>
							<div data-ng-if="customer.civilite!='STE'" class="row">
								<label class="col-lg-3"
									data-ng-class="{'ose-control-label':edit}">Nom*</label>
								<div class="col-lg-4 ose-format"
									data-ng-class="{'has-error' : customersForm.$submitted && customersForm.lastName.$invalid}">
									<label data-ng-if="!edit" class="label-view">{{customer.lastName}}</label>
									<input data-ng-if="edit" name="lastName" class="form-control"
										data-ng-model="customer.lastName"
										data-ng-required="customer.civilite!='STE'">
								</div>
								<label class="col-lg-2"
									data-ng-class="{'ose-control-label':edit}">Pr&eacute;nom</label>
								<div class="col-lg-3 ose-format">
									<label data-ng-if="!edit" class="label-view">{{customer.firstName}}</label>
									<input data-ng-if="edit" name="firstName" class="form-control"
										data-ng-model="customer.firstName">
								</div>
							</div>
							<div data-ng-if="customer.civilite=='STE'" class="row">
								<label class="col-lg-3"
									data-ng-class="{'ose-control-label':edit}">Raison
									sociale*</label>
								<div class="col-lg-6 ose-format"
									data-ng-class="{'has-error' : customersForm.$submitted && customersForm.lastName.$invalid}">
									<label data-ng-if="!edit" class="label-view">{{customer.lastName}}</label>
									<input data-ng-if="edit" name="lastName" class="form-control"
										data-ng-model="customer.lastName"
										data-ng-required="customer.civilite=='STE'">
								</div>
							</div>
							<div data-ng-if="customer.civilite!='STE'" class="row">
								<label class="col-lg-3"
									data-ng-class="{'ose-control-label':edit}">Date de
									naissance</label>
								<div class="col-lg-4 ose-format">
									<label data-ng-if="!edit" class="label-view">{{customer.dateOfBirth
										| date:'dd/MM/yyyy'}}</label>
									<p data-ng-if="edit" class="input-group ose-input-group"
										data-ng-class="{'has-error' : customersForm.$submitted && customersForm.dateOfBirth.$invalid}">
										<input type="text" name="dateOfBirth" class="form-control"
											uib-datepicker-popup="dd/MM/yyyy"
											ng-model="customer.dateOfBirth" is-open="$parent.mydp.opened"
											datepicker-options="dateOptions"
											max-date = "dateOptions.maxDate"
											date-disabled="disabled(date, mode)" ng-required="false"
											current-text="Aujourd'hui" clear-text="Effacer"
											close-text="Fermer" show-weeks="true" /> <span
											class="input-group-btn">
											<button type="button" class="btn btn-default"
												ng-click="open($event)">
												<i class="glyphicon glyphicon-calendar"></i>
											</button>
										</span>
									</p>
								</div>
							</div>

							<div class="row">
								<label class="col-lg-3"
									data-ng-class="{'ose-control-label':edit}">Carte de
									fid&eacute;lit&eacute;</label>
								<div class="col-lg-4 ose-format">
									<label data-ng-if="!canEditSearchkey || !edit" class="label-view">{{customer.cardNumber}}</label>
									<input data-ng-if="canEditSearchkey && edit" class="form-control"
										data-ng-model="customer.cardNumber">
								</div>
							</div>

							<div class="row">
								<label class="col-lg-3"
									data-ng-class="{'ose-control-label':edit}">Point de
									vente de rattachement</label>
								<div class="col-lg-4 ose-format">
									<label data-ng-if="!edit" class="label-view">{{customer.location.label}}</label>
									<ui-select data-ng-if="edit" data-theme="bootstrap"
										reset-search-input="true" focus-on="SetFocus"
										data-ng-model="customer.location"> <ui-select-match
										class="ui-select-match" data-placeholder="" allow-clear="true">{{customer.location.label}}</ui-select-match>
									<ui-select-choices class="ui-select-choices"
										data-repeat="location in pdvs | filter: $select.search">
									<table width="100%">
										<tr>
											<td width="35%">
												<div
													data-ng-bind-html="location.id | highlight: $select.search"></div>
											</td>
											<td width="65%">
												<div
													data-ng-bind-html="location.label | highlight: $select.search"></div>
											</td>
										</tr>
									</table>
									</ui-select-choices> </ui-select>
								</div>
							</div>

							<div class="row">
								<label class="col-lg-3"
									data-ng-class="{'ose-control-label':edit}">Profil</label>
								<div class="col-lg-4 ose-format">
									<label data-ng-if="!edit" class="label-view">{{customer.discountProfile.label}}</label>
									<select data-ng-if="edit" class="form-control"
										data-ng-model="customer.discountProfile"
										data-ng-options="p as p.label for p in profils track by p.id">
									</select>
								</div>
							</div>
							<div class="row">
								<label class="col-lg-3"
									data-ng-class="{'ose-control-label':edit}">Note</label>
								<div class="col-lg-9 ose-format">
									<label data-ng-if="!edit" class="label-view">{{customer.note}}</label>
									<textarea data-ng-if="edit" class="form-control"
										data-ng-model="customer.note"></textarea>
								</div>
							</div>
							<div class="row">
								<label class="col-lg-3 control-label">&nbsp;</label>
								<div class="col-lg-4 ose-format">
									<div class="checkbox">
										<label class="label-view"> <input type="checkbox"
											data-ng-model="customer.newsletter" data-ng-disabled="!edit" />
											Accepte de recevoir les communications Shopix.
										</label>
									</div>
								</div>
								<label class="col-lg-2 control-label"
									data-ng-if="customer.creationDate">Date Cr&eacute;ation</label>
								<label class="col-lg-2 ose-format label-view"
									data-ng-if="customer.creationDate">{{customer.creationDate
									| date:'dd/MM/yyyy HH:mm'}}</label>
							</div>
							<div class="row">
								<label class="col-lg-3 control-label">&nbsp;</label>
								<div class="col-lg-4 ose-format">
									<div class="checkbox">
										<label class="label-view"> <input type="checkbox"
											data-ng-model="customer.partenaires" data-ng-disabled="!edit" />
											Accepte de recevoir les offres de nos partenaires.
										</label>
									</div>
								</div>
								<label class="col-lg-2 control-label"
									data-ng-if="customer.lastUpdate">Date modification</label> <label
									class="col-lg-3 ose-format label-view"
									data-ng-if="customer.lastUpdate">{{customer.lastUpdate
									| date:'dd/MM/yyyy HH:mm'}}</label>
							</div>
							<div class="row">
								<label class="col-lg-3"
									data-ng-class="{'ose-control-label':edit}">QR Code</label>
								<div class="col-lg-9 ose-format">
									<qrcode error-correction-level="M"
										data="{{customer.searchKey}}"></qrcode>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div
								data-ng-if="customer.idParent && !isEditIdParent && FoundIdParent">
								<table class="centerTable">
									<thead>
										<tr>
											<th width="10%"></th>
											<th width="10%"></th>
											<th width="30%"></th>
										</tr>
									</thead>
									<tbody>
										<tr class="center">
											<td><label data-ng-if="!edit">Doublon de</label></td>
											<td><a data-ng-if="!edit" class="label-view"
												href="#/customers/{{customer.idParent}}/form?_action=view">{{customer.customerParent.searchKeyParent}}</a></td>
											<td><i has-permission="PERM_CLIENT_DEDUP_DELETE"
												data-ng-if="!edit" class="fa fa-trash link"
												title="Supprimer la liaison parent/enfant"
												data-ng-click="removeCustomerParent()"></i></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div
								data-ng-if="!customer.idParent && customer.customers.length > 0 && !isEditIdParent"
								class="row">
								<table class="table">
									<tr>
										<th class="text-center" width="100%">Fiches Clients
											li&eacute;es</th>
									</tr>
									<tr data-ng-repeat="customer in customer.customers">
										<td class="text-center"><a
											href="#/customers/{{customer.id}}/form?_action=view">{{customer.searchKey}}</a></td>
									</tr>
								</table>
							</div>
							<div
								data-ng-if="(!customer.idParent && customer.customers.length <= 0) || (customer.customers.length <= 0 && isEditIdParent)"
								class="row">
								<table class="centerTable">
									<thead>
										<tr>
											<th width="10%"></th>
											<th width="30%"></th>
										</tr>
									</thead>
									<tbody>
										<tr class="center">
											<td class="col-lg-2" data-ng-if="isEditIdParent && !edit"
												data-ng-class="{'has-error' : !FoundIdParent}"><input
												name="idparent" placeholder="Num&eacute;ro client du parent"
												class="form-control" data-ng-model="customer.idParent">
												<p ng-show="!FoundIdParent" class="help-block">Num&eacute;ro
													client invalide</p></td>
											<td class="text-center">
												<button has-permission="PERM_CLIENT_DEDUP_SAVE"
													type="button" class="btn btn-success pull-left"
													data-ng-if="isEditIdParent && !edit"
													data-ng-click="saveIdParentCustomer()"
													data-toggle="tooltip" data-placement="top" title="Sauver">
													<i class="fa fa-check-square-o fa-lg"></i>
												</button>
												<button has-permission="PERM_CLIENT_DEDUP_SAVE"
													type="button" class="btn btn-danger pull-left"
													data-ng-if="isEditIdParent && !edit"
													data-ng-click="stopEditIdParent()" data-toggle="tooltip"
													data-placement="top" title="Annuler">
													<i class="fa fa-ban fa-lg"></i>
												</button>
												<button has-permission="PERM_CLIENT_DEDUP_SAVE"
													type="button" class="btn btn-success pull-left"
													data-ng-if="!isEditIdParent && !edit"
													data-ng-click="editIdParent()" data-toggle="tooltip"
													data-placement="top" title="Modifier">Lier
													&agrave; un autre client</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="row line">
			<div class="col-lg-6">
				<fieldset>
					<div class="row">
						<!--  <ui-select-adresse selected-items="adresse" data-ng-model = "customer.adresse" data-ng-change = "adresseChanged()" placeholder="'Adresse'"></ui-select-adresse> -->
						<label class="col-lg-4" data-ng-if="edit">Adresse</label>
						<div class="col-lg-8 ose-format">
							<ui-select-adresse data-ng-if="edit"
								selected-items="customer.selectedAdress" placeholder="'Adresse'"></ui-select-adresse>
						</div>
					</div>
					<legend>Adresse</legend>
					<div class="row">
						<label class="col-lg-4" data-ng-class="{'ose-control-label':edit}">Adresse
							1</label>
						<div class="col-lg-8 ose-format">
							<label data-ng-if="!edit" class="label-view">{{customer.address1}}</label>
							<input data-ng-if="edit" class="form-control"
								data-ng-model="customer.address1">
						</div>
					</div>
					<div class="row">
						<label class="col-lg-4" data-ng-class="{'ose-control-label':edit}">Adresse
							2</label>
						<div class="col-lg-8 ose-format">
							<label data-ng-if="!edit" class="label-view">{{customer.address2}}</label>
							<input data-ng-if="edit" class="form-control"
								data-ng-model="customer.address2">
						</div>
					</div>

					<div class="row">
						<label class="col-lg-4" data-ng-class="{'ose-control-label':edit}">Code
							postal</label>
						<div class="col-lg-8 ose-format">
							<label data-ng-if="!edit" class="label-view">{{customer.zipCode}}</label>
							<ui-select data-ng-if="edit"
								data-ng-model="customer.selectedInsee" data-theme="bootstrap"
								reset-search-input="true" data-ng-change="inseeChanged()">
							<ui-select-match class="ui-select-match" data-placeholder=""
								allow-clear="true">{{customer.selectedInsee.zipCode}}</ui-select-match>
							<ui-select-choices class="ui-select-choices"
								data-repeat="insee in insees | filter: $select.search"
								data-refresh="getCities($select.search)" refresh-delay="0">
							<table width="100%">
								<tr>
									<td width="20%">
										<div
											data-ng-bind-html="insee.zipCode | highlight: $select.search"></div>
									</td>
									<td width="80%">
										<div
											data-ng-bind-html="insee.commune | highlight: $select.search"></div>
									</td>
								</tr>
							</table>
							</ui-select-choices> </ui-select>
						</div>
					</div>
					<div class="row">
						<label class="col-lg-4 control-label">Ville</label>
						<div class="col-lg-8 ose-format">
							<label class="label-view">{{customer.city}} </label> <label
								data-ng-if="customer.insee" class="label-view">({{customer.insee | limitTo : 5}})</label>
							<!--  <label data-ng-if="edit && customer.insee" class="label-view">({{customer.selectedInsee.insee}})</label> -->
						</div>
					</div>
					<div class="row">
						<label class="col-lg-4" data-ng-class="{'ose-control-label':edit}">Pays</label>
						<div class="col-lg-8 ose-format">
							<label data-ng-if="!edit" class="label-view">{{customer.country}}</label>
							<ui-select data-ng-if="edit"
								data-ng-model="customer.selectedCountry" data-theme="bootstrap"
								reset-search-input="true" data-ng-change="countryChanged()">
							<ui-select-match class="ui-select-match" data-placeholder="">{{customer.selectedCountry.nom}}</ui-select-match>
							<ui-select-choices class="ui-select-choices"
								data-repeat="p in pays | filter: $select.search"
								refresh-delay="0">
							<table width="100%">
								<tr>
									<td width="80%">
										<div data-ng-bind-html="p.nom | highlight: $select.search"></div>
									</td>
								</tr>
							</table>
							</ui-select-choices> </ui-select>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="col-lg-6">
				<fieldset>
					<legend>T&eacute;l&eacute;phone</legend>
					<div class="row">
						<label class="col-lg-4" data-ng-class="{'ose-control-label':edit}">T&eacute;l&eacute;phone
							Mobile</label>
						<div class="col-lg-8 ose-format"
							data-ng-class="{'has-error' : customersForm.$submitted && customersForm.phone1.$invalid}">
							<label data-ng-if="!edit" class="label-view">{{customer.phone1
								| phonenumber }}</label> <input type="tel" data-ng-if="edit"
								name='phone1' data-ng-required="false"
								pattern="((0|\+33|0033)[6-7][0-9]{8}|(\+|00)[0-9]{6,12})"
								class="form-control" data-ng-model="customer.phone1">
						</div>
					</div>
					<div class="row ">
						<label class="col-lg-4" data-ng-class="{'ose-control-label':edit}">T&eacute;l&eacute;phone
							2</label>
						<div class="col-lg-8 ose-format"
							data-ng-class="{'has-error' : customersForm.$submitted && customersForm.phone2.$invalid}">
							<label data-ng-if="!edit" class="label-view">{{customer.phone2
								| phonenumber}}</label> <input type="tel" data-ng-if="edit"
								name='phone2' data-ng-required="false"
								pattern="((0|\+33|0033)[1-9][0-9]{8}|(\+|00)[0-9]{6,12})"
								class="form-control" data-ng-model="customer.phone2">
						</div>
					</div>
					<div class="row">
						<label class="col-lg-4" data-ng-class="{'ose-control-label':edit}">Email</label>
						<div class="col-lg-8 ose-format"
							data-ng-class="{'has-error' : customersForm.$submitted && customersForm.email.$invalid}">
							<label data-ng-if="!edit" class="label-view">{{customer.email}}</label>
							<input data-ng-if="edit" type='email' data-ng-required="false"
								name='email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
								class="form-control" data-ng-model="customer.email">
						</div>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="row line">
			<div class="col-lg-12">
				<fieldset>
					<legend>Historique des passages en caisses</legend>
					<table class="table table-condensed">
						<tr>
							<th class="text-center" width="10%"><a
								href="javascript:window.location"
								ng-click="sortType = 'ticketNumber'; sortReverse = !sortReverse">N
									passage <span
									ng-show="sortType == 'ticketNumber' && !sortReverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'ticketNumber' && sortReverse"
									class="fa fa-caret-up"></span>
							</a> <i ng-show="search.ticketNumber.length > 0"
								class="glyphicon glyphicon-filter"></i> <input type="text"
								class="form-control" placeholder="Filtre : !pour exclure"
								ng-model="search.ticketNumber"></th>
							<th class="text-center" width="10%"><a
								href="javascript:window.location"
								ng-click="sortType = 'date'; sortReverse = !sortReverse">Date
									<span ng-show="sortType == 'date' && !sortReverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'date' && sortReverse"
									class="fa fa-caret-up"></span>
							</a></th>
							<th class="text-center" width="20%"><a
								href="javascript:window.location"
								ng-click="sortType = 'ticketId'; sortReverse = !sortReverse">Num&eacute;ro
									ticket <span ng-show="sortType == 'ticketId' && !sortReverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'ticketId' && sortReverse"
									class="fa fa-caret-up"></span>
							</a> <i ng-show="search.ticketId.length > 0"
								class="glyphicon glyphicon-filter"></i> <input type="text"
								class="form-control" placeholder="Filtre : !pour exclure"
								ng-model="search.ticketId"></th>
							<th class="text-center" width="30%"><a
								href="javascript:window.location"
								ng-click="sortType = 'locationsName'; sortReverse = !sortReverse">Lieu
									<span ng-show="sortType == 'locationsName' && !sortReverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'locationsName' && sortReverse"
									class="fa fa-caret-up"></span>
							</a> <i ng-show="search.locationsName.length > 0"
								class="glyphicon glyphicon-filter"></i> <input type="text"
								class="form-control" placeholder="Filtre : !pour exclure"
								ng-model="search.locationsName"></th>
							<th class="text-center" width="15%"><a
								href="javascript:window.location"
								ng-click="sortType = 'productsUnit'; sortReverse = !sortReverse">Nb
									de produits <span
									ng-show="sortType == 'productsUnit' && !sortReverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'productsUnit' && sortReverse"
									class="fa fa-caret-up"></span>
							</a></th>
							<th class="text-center" width="15%"><a
								href="javascript:window.location"
								ng-click="sortType = 'ticketsAmount'; sortReverse = !sortReverse">Panier
									<span ng-show="sortType == 'ticketsAmount' && !sortReverse"
									class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'ticketsAmount' && sortReverse"
									class="fa fa-caret-up"></span>
							</a></th>
						</tr>
						<tr
							data-ng-repeat="ticket in tickets | orderBy:sortType:sortReverse | filter:search">
							<td align="center">{{ticket.ticketNumber}}</td>
							<td align="center">{{ticket.date | date:'dd/MM/yyyy'}}</td>
							<td align="center"><a has-permission="PERM_VTE_TICKET"
								href="#/tickets/{{ticket.ticketId}}/form?_action=view">{{ticket.ticketId}}</a>
								<div has-permission="!PERM_VTE_TICKET">{{ticket.ticketId}}</div></td>
							<td align="center">{{ticket.locationsName}}</td>
							<td align="center">{{ticket.productsUnit}}</td>
							<td align="center">{{ticket.ticketsAmount | number:2}}
								&euro;</td>
						</tr>
					</table>
				</fieldset>
			</div>
		</div>
		<div has-permission="PERM_CLIENT_MODIF" class="row line">
			<div class="col-lg-12">
				<button
					data-ng-if="(!edit && !customer.idParent) || (!edit && isEditIdParent) "
					class="btn btn-danger pull-right" data-ng-click="editCustomer()">Modifier</button>
				<button data-ng-if="edit" type="submit"
					class="btn btn-danger pull-right">Enregistrer</button>
				<button data-ng-if="edit && customer.id"
					class="btn btn-default pull-right" data-ng-click="cancelCustomer()">Annuler</button>
			</div>
		</div>
	</div>
</form>
