

<ui-select  data-ng-model="$ctrl.selectedItems" data-theme="bootstrap" reset-search-input="true" data-on-select="$ctrl.selected()" > 
	<ui-select-match class="ui-select-match" data-placeholder="{{$ctrl.placeholder}}" allow-clear="true">{{$ctrl.selectedItems.properties.label}}</ui-select-match>
	<ui-select-choices class="ui-select-choices" data-repeat="item in $ctrl.items"
	data-refresh="$ctrl.getItems($select.search)" refresh-delay="0">
		<div  data-ng-bind-html="item.properties.label | highlight: $select.search"></div>
	</ui-select-choices> 
</ui-select>


<!-- <ui-select data-ng-model="$ctrl.selectedItems" data-theme="bootstrap" name="uiselect" data-on-select="$ctrl.selected()" >
  <ui-select-match class="ui-select-match" data-placeholder="{{$ctrl.placeholder}}">{{$item.properties.label}}</ui-select-match>
  <ui-select-choices data-repeat="item in $ctrl.items" data-refresh="$ctrl.getItems($select.search)" refresh-delay="0">
    <div ng-if="item.properties.citycode" data-ng-bind-html="item.properties.label + ' - ' + item.properties.citycode + ' - ' + item.properties.city + ' - ' + item.properties.context | highlight: $select.search"></div>
  </ui-select-choices>
</ui-select>  -->