<div
  class="ui-grid-cell-contents"
  title="TOOLTIP">
           <table class="table table-condensed"> 
           <tr> 
             <td class="text-center" data-ng-if="!grid.appScope.isEdit(COL_FIELD)" data-toggle="tooltip" data-placement="top" title="Stock Type">{{COL_FIELD.stockSecurity | number:0}}</td> 
             <td class="text-center" data-ng-if="grid.appScope.isEdit(COL_FIELD)"><input name="stockSecurity"  type="number" class="form-control" data-ng-model="COL_FIELD.stockSecurity" data-toggle="tooltip" data-placement="top" title="Stock Type"></td>             
          
           <td><button type="button" class="btn btn-success pull-right" data-ng-if="grid.appScope.isEdit(COL_FIELD)" data-ng-click="grid.appScope.saveStockLevel(COL_FIELD)" data-toggle="tooltip" data-placement="top" title="Sauver"><i class="fa fa-check-square-o fa-lg"></i></button> 
               <button type="button" class="btn btn-primary pull-right" data-ng-click="grid.appScope.editStockLevel(COL_FIELD)" data-ng-if="!grid.appScope.isEdit(COL_FIELD)" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="fa fa-pencil-square-o fa-lg"></i></button></td></tr> 
           <tr> 
           <td class="text-center" data-ng-if="!grid.appScope.isEdit(COL_FIELD)" data-toggle="tooltip" data-placement="top" title="Stock Maximum">{{COL_FIELD.stockMaximum | number:0}}</td> 
           <td class="text-center" data-ng-if="grid.appScope.isEdit(COL_FIELD)"><input name="stockMaximum"  type="number" class="form-control" data-ng-model="COL_FIELD.stockMaximum" data-toggle="tooltip" data-placement="top" title="Stock Maximum"></td> 

           <td><button type="button" class="btn btn-danger pull-right" data-ng-if="grid.appScope.isEdit(COL_FIELD)" data-ng-click="grid.appScope.razStockLevel(COL_FIELD)"><i class="fa fa-trash-o fa-lg" data-toggle="tooltip" data-placement="top" title="Supprimer"></i></button></td></tr> 
           </table>
</div>
