        	<div class="login-page form">
		<div class="row">
			<div class="col-lg-12 text-center">
				<qrcode error-correction-level="M" size="150" data="{{url}}">
				</qrcode>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<form id="authenticationForm" data-role="form" action="login"
					method="post">
					<fieldset>
						<div class="row">
							<div class="col-lg-12">
								<p class="has_error text-center">
									<label>{{error}}</label>
								</p>
							</div>
						</div>
						<div class="form-group">
							<label for="username">Identifiant</label> <input id="username"
								name="username" type="text" class="form-control input-sm" />
						</div>
						<div class="form-group">
							<label for="password">Mot de passe</label> <input id="password"
								name="password" type="password" class="form-control input-sm" />
						</div>
						<div class="form-group">
							<input id="anchor" name="anchor" type="hidden" value="" />
						</div>
						<button type="submit" class="btn btn-sm btn-primary pull-right">Se
							connecter</button>
					</fieldset>
				</form>
			</div>
		</div>
	</div>