<div class="form">
  <fieldset>
    <legend>Information d&eacute;ballage</legend>
    <div class="row">
      <label class="col-lg-3 control-label">Tourn&eacute;e</label>
      <div class="col-lg-4 ose-format">
        <label data-ng-if="!edit" class="label-view">{{salesLocation.tourName}}</label>
        <input data-ng-if="edit" class="form-control" data-ng-model="salesLocation.tourId">
      </div>
      <label class="col-lg-2 control-label">Camion</label>
      <div class="col-lg-3 ose-format">
        <label data-ng-if="!edit" class="label-view">{{salesLocation.locationName}}</label>
        <input data-ng-if="edit" class="form-control" data-ng-model="salesLocation.locationName">
      </div>
    </div>
    <div class="row">
      <label class="col-lg-3 control-label">Date du d&eacute;ballage</label>
      <div class="col-lg-4 ose-format">
        <label data-ng-if="!edit" class="label-view">{{salesLocation.startDate | date: 'dd/MM/yyyy'}} de {{salesLocation.startDate |
          date: 'HH:mm'}} &agrave; {{salesLocation.endDate | date: 'HH:mm'}}</label>
        <input data-ng-if="edit" type="date" class="form-control" data-ng-model="salesLocation.startDate">
        <input data-ng-if="edit" type="date" class="form-control" data-ng-model="salesLocation.endDate">
      </div>
    </div>
    <div class="row">
      <label class="col-lg-3 control-label">Date du prochain d&eacute;ballage</label>
      <div class="col-lg-4 ose-format">
        <label data-ng-if="salesLocation.nextStartDate" class="label-view">{{salesLocation.nextStartDate | date: 'dd/MM/yyyy'}} de
          {{salesLocation.nextStartDate | date: 'HH:mm'}} &agrave; {{salesLocation.endDate | date: 'HH:mm'}}</label>
        <label data-ng-if="!salesLocation.nextStartDate" class="label-view">&nbsp;</label>
      </div>
    </div>
    <div class="row">
      <label class="col-lg-3 control-label">Commune</label>
      <div class="col-lg-4 ose-format">
        <label data-ng-if="!edit" class="label-view">{{salesLocation.city}}</label>
        <input data-ng-if="edit" class="form-control" data-ng-model="salesLocation.city">
      </div>
      <label class="col-lg-2 control-label">Code INSEE</label>
      <div class="col-lg-3 ose-format">
        <label data-ng-if="!edit" class="label-view">{{salesLocation.inseeNb}}</label>
        <input data-ng-if="edit" class="form-control" data-ng-model="salesLocation.inseeNb">
      </div>
    </div>
    <div class="row">
      <label class="col-lg-3 control-label">Droit de place</label>
      <div class="col-lg-1 ose-format">
        <label data-ng-if="!edit" class="label-view">{{salesLocation.fee}} &euro;</label>
        <input data-ng-if="edit" class="form-control" data-ng-model="salesLocation.fee">
      </div>
      <div class="col-lg-1 ose-format">
        <div class="checkbox">
          <label class="label-view">
            <input type="checkbox" data-ng-model="salesLocation.paid" value="{{ date | date: 'yyyy-MM-dd hh:mm' }}" data-ng-disabled="!edit" />
            Pay&eacute;
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <label class="col-lg-3 control-label">Nombre de publicit&eacute;s</label>
      <div class="col-lg-4 ose-format">
        <label data-ng-if="!edit" class="label-view">{{salesLocation.pubNb}}</label>
        <input data-ng-if="edit" class="form-control" data-ng-model="salesLocation.pubNb">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Statistique des ventes du d&eacute;ballage</legend>
    <div class="row">
      <label class="col-lg-3 control-label">Chiffre d'affaires HT</label>
      <div class="col-lg-4 ose-format">
        <label class="label-view">{{salesLocation.currentStats.sellAmount | number:2}} &euro;</label>
      </div>
      <div has-permission="PERM_VTE_COMPTA" class="col-lg-5 ose-format">
        <a href="#/accounting/list?_pdvId={{salesLocation.id}}">D&eacute;tails (Encaissements)</a>
      </div>
    </div>
    <div class="row">
      <label class="col-lg-3 control-label">Nombre de ventes</label>
      <div class="col-lg-4 ose-format">
        <label class="label-view">{{salesLocation.currentStats.sellNb}}</label>
      </div>
      <div class="col-lg-5 ose-format" ng-if="salesLocation.currentStats && salesLocation.currentStats.sessions.length > 0">
        <a href="#/tickets/{{salesLocation.currentStats.sessions[0]}}/z">Ticket Z</a>
      </div>
    </div>
    <div class="row">
      <label class="col-lg-3 control-label">Panier moyen TTC</label>
      <div class="col-lg-4 ose-format">
        <label class="label-view">{{salesLocation.currentStats.averageBasket | number:2}} &euro;</label>
      </div>
      <div class="col-lg-5 ose-format" ng-if="salesLocation.currentStats && salesLocation.currentStats.sessions.length > 1">
        <a href="#/tickets/{{salesLocation.currentStats.sessions[1]}}/z">Ticket Z #2</a>
      </div>
    </div>
    <div class="row">
      <label class="col-lg-3 control-label">Ratio (base TTC)</label>
      <div class="col-lg-4 ose-format">
        <label class="label-view">{{salesLocation.currentStats.ratio | number:3}}</label>
      </div>
      <div class="col-lg-5 ose-format" ng-if="salesLocation.currentStats && salesLocation.currentStats.sessions.length > 2">
        <a href="#/tickets/{{salesLocation.currentStats.sessions[2]}}/z">Ticket Z #3</a>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Historique de la commune</legend>
    <div data-ng-if="salesLocation.salesHistory.length==0" class="row">
      <div class="col-lg-12">Aucun historique de vente n'est disponible pour cette commune.</div>
    </div>
    <div data-ng-if="salesLocation.salesHistory.length>0" class="row">
      <div class="col-lg-12">
        <table class="table table-condensed">
          <tr>
            <th class="text-center" width="20%">Date</th>
            <th class="text-center" width="20%">Chiffre d'affaires HT</th>
            <th class="text-center" width="20%">Nombre de ventes</th>
            <th class="text-center" width="20%">Panier moyen TTC</th>
            <th class="text-center" width="20%">Ratio</th>
          </tr>
          <tr data-ng-repeat="history in salesLocation.salesHistory">
            <td class="text-center"><a href="#/sales-locations/{{history.salesLocationId}}/form">{{history.date | date: 'dd/MM/yyyy'}}</a></td>
            <td class="text-right">{{history.sellAmount | number:2}} &euro;</td>
            <td class="text-center">{{history.sellNb}}</td>
            <td class="text-right">{{history.averageBasket | number:2}} &euro;</td>
            <td class="text-right">{{history.ratio | number:3}}</td>
          </tr>
        </table>
      </div>
    </div>
  </fieldset>
  <div class="row line">
    <div class="col-lg-12">
      <!-- <button data-ng-if="!edit" class="btn btn-danger pull-right" data-ng-click="editLocation()">Modifier</button> -->
      <button data-ng-if="edit" class="btn btn-danger pull-right" data-ng-click="saveLocation()">Enregistrer</button>
      <button data-ng-if="edit && salesLocation.id" class="btn btn-default pull-right" data-ng-click="cancelLocation()">Annuler</button>
    </div>
  </div>

</div>
