<div class="form">
	<form>
		<fieldset>
			<legend>Rechercher des d&eacute;ballages</legend>
			<div class="row">
				<label class="col-lg-3 ose-control-label">Ville / Code INSEE
					/ Code Postal /D&eacute;partement</label>
				<div class="col-lg-9 ose-format">
					<input name="nom" class="form-control"
						data-ng-model="criteria.reference" />
				</div>
			</div>
			<div class="row">
				<label class="col-lg-3 ose-control-label">Du </label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" class="form-control"
							uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.from"
							is-open="mydp.openedFrom" datepicker-options="dateOptions"
							date-disabled="disabled(date, mode)" current-text="Aujourd'hui"
							clear-text="Effacer" close-text="Fermer" show-weeks="true" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="openFrom($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<label class="col-lg-1 ose-control-label">au</label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" class="form-control"
							uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.to"
							is-open="mydp.openedTo" datepicker-options="dateOptions"
							date-disabled="disabled(date, mode)" current-text="Aujourd'hui"
							clear-text="Effacer" close-text="Fermer" show-weeks="true" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="openTo($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-3 ose-control-label">Tourn&eacute;e</label>
				<div class="col-lg-9 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.tour"
						data-theme="bootstrap" on-select="updateDeballages()"
						ng-disabled="tours_def.length < 2" data-ng-required="true">
					<ui-select-match class="ui-select-match" data-placeholder="">{{criteria.tour.nom}}</ui-select-match>
					<ui-select-choices class="ui-select-choices"
						data-repeat="tour in tours_def  | filter: ({nom: $select.search} || {id: undefined})">
					<table width="100%">
						<tr>
							<td width="100%">
								<div data-ng-bind-html="tour.nom | highlight: $select.search"></div>
							</td>
						</tr>
					</table>
					</ui-select-choices> </ui-select>
				</div>
			</div>

			<div class="row line">
				<div class="col-lg-12">
					<button type="submit" class="btn btn-primary col-lg-12"
						data-ng-click="searchSalesLocations()">Rechercher</button>
				</div>
			</div>
		</fieldset>
	</form>
	<fieldset data-ng-if="salesLocations">
		<legend>R&eacute;sultat de la recherche</legend>
		<div class="row line" data-ng-if="salesLocations.length==0">
			<div class="col-lg-12">Aucun r&eacute;sultat ne correspond
				&agrave; votre recherche.</div>
		</div>
		<div class="row line" data-ng-if="salesLocations.length!=0">
			<div class="col-lg-12">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th class="text-center" width="10%">
								<a href="#/sales-locations/list" ng-click="sortType = 'startDate'; sortReverse = !sortReverse">Date
									<span ng-show="sortType == 'startDate' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'startDate' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th class="text-center" width="10%">
								<a href="#/sales-locations/list" ng-click="sortType = 'tourName'; sortReverse = !sortReverse">Tourn&eacute;e
									<span ng-show="sortType == 'tourName' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'tourName' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							<i ng-show="search.tourName.length > 0" class="glyphicon glyphicon-filter"></i>
				            <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.tourName"></th>
							<th class="text-center" width="10%">
								<a href="#/sales-locations/list" ng-click="sortType = 'inseeNb'; sortReverse = !sortReverse">INSEE
									<span ng-show="sortType == 'inseeNb' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'inseeNb' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							<i ng-show="search.inseeNb.length > 0" class="glyphicon glyphicon-filter"></i>
				            <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.inseeNb"></th>
							<th class="text-center" width="50%">
								<a href="#/sales-locations/list" ng-click="sortType = 'city'; sortReverse = !sortReverse">Commune
									<span ng-show="sortType == 'city' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'city' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							<i ng-show="search.city.length > 0" class="glyphicon glyphicon-filter"></i>
				            <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.city"></th>
							<th class="text-center" width="10%">
								<a href="#/sales-locations/list" ng-click="sortType = 'startDate'; sortReverse = !sortReverse">Heure d'ouverture
									<span ng-show="sortType == 'startDate' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'startDate' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th class="text-center" width="10%">
								<a href="#/sales-locations/list" ng-click="sortType = 'endDate'; sortReverse = !sortReverse">Heure de fermeture
									<span ng-show="sortType == 'endDate' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'endDate' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="location in salesLocations | orderBy:sortType:sortReverse | filter:search">
							<td align="center"><a href="#/sales-locations/{{location.id}}/form">{{location.startDate
									| date:'dd/MM/yyyy'}}</a></td>
							<td align="center">{{location.tourName}}</td>
							<td align="center">{{location.inseeNb}}</td>
							<td align="center">{{location.city}}</td>
							<td align="center">{{location.startDate | date:'HH:mm'}}</td>
							<td align="center">{{location.endDate | date:'HH:mm'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>
