<div class="form">
	<fieldset>
		<legend>Rechercher des stocks &agrave; date</legend>
		<div class="row">
			<label class="col-lg-2 ose-control-label">Du </label>
			<div class="col-lg-3 ose-format">
				<p class="input-group ose-input-group">
					<input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.from" is-open="openedFrom"
						datepicker-options="dateOptions" min-date="dateOptions.minDate" current-text="Aujourd'hui" clear-text="Effacer" close-text="Fermer"
						show-weeks="true" /> <span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openFrom($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>
			<label class="col-lg-1 ose-control-label">au</label>
			<div class="col-lg-3 ose-format">
				<p class="input-group ose-input-group">
					<input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.to" is-open="openedTo"
						datepicker-options="dateOptions" min-date="dateOptions.minDate" current-text="Aujourd'hui" clear-text="Effacer" close-text="Fermer"
						show-weeks="true" /> <span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openTo($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-2 ose-control-label">Points de Vente</label>
			<div class="col-lg-3 ose-format">
				<button type="button" class="btn btn-info col-lg-12" ng-click="selectLocationsList()">S&eacute;lectionner points de vente</button>
			</div>
			<div data-ng-if="selectedLocations.length>0" class="col-lg-2 ose-margin">
				<button type="button" class="btn btn-default" ng-click="clearLocationsList()">Supprimer s&eacute;lection</button>
			</div>
			<div data-ng-if="selectedLocations.length>0" class="col-lg-4 ose-control-label">Points de Vente : {{selectedLocationLabel}}</div>
		</div>

		<div class="row">
			<label class="col-lg-2 ose-control-label">Produits</label>
			<div class="col-lg-3 ose-format">
				<button type="button" class="btn btn-info col-lg-12" ng-click="selectProductsList()">S&eacute;lectionner produits</button>
			</div>
			<div data-ng-if="selectedProducts.length>0" class="col-lg-2 ose-margin">
				<button type="button" class="btn btn-default" ng-click="clearProductsList()">Supprimer s&eacute;lection</button>
			</div>
			<div data-ng-if="selectedProducts.length>0" class="col-lg-4 ose-control-label">Produits : {{selectedLabel}}</div>
		</div>
		<div class="row">
			<label class="col-lg-2 ose-control-label">Niveau de d&eacute;tail</label>
			<div class="col-lg-3 ose-format">
				<select id="aggr" name="aggr" data-ng-required="true" class="form-control" data-ng-model="aggregateLevel"
					data-ng-options="r.id as r.label for r in agregates">
				</select>
			</div>
			<label class="col-lg-2 ose-control-label">D&eacute;tails par produit</label>
			<div class="col-lg-2 ose-format">
				<toggle-switch ng-model="detailed" on-label="Oui" off-label="Non" class="switch-success pull-right"> </toggle-switch>
			</div>
		</div>

		<div class="row line">
			<div class="col-lg-12">
				<button type="submit" class="btn btn-primary col-lg-4" data-ng-click="getStats()">Actualiser</button>
				<div has-permission="PERM_STOCK_EVOL_EXTRACT">
					<button class="btn btn-primary col-lg-4" ng-disabled="isLoading || isDownLoading" data-ng-click="download('xls')">T&eacute;l&eacute;charger</button>
					<button class="btn btn-primary col-lg-4" ng-disabled="isLoading || isDownLoading" data-ng-click="download('csv')">T&eacute;l&eacute;charger(CSV)</button>
				</div>
			</div>
		</div>

	</fieldset>
	
	<div ng-if="isLoading" class="row line">
		<div class="col-lg-12">
			<h1>Loading <i class='fa fa-cog fa-spin'></i></h1>
		</div>
	</div>
	
	<uib-accordion close-others="false">
		<div data-ng-if="!isLoading && retour != undefined && retour.perLocations!=0" uib-accordion-group 
			heading="Evolution du stock en Valeur par Point de Vente - Graphique" is-open="true"> 
			<div class="row">
				<div class="col-lg-12">
					<nvd3 id="byLoc" options="optionsMoney" data="retour.locationsGraph" api="nvObjLoc.api"></nvd3>
				</div>
			</div>
		</div>
		<div data-ng-if="!isLoading && retour != undefined && retour.perLocations!=0" uib-accordion-group 
			heading="Evolution du stock en Valeur par Point de Vente - D&eacute;tail" is-open="isopen">
			<div class="row">
				<div class="col-lg-12">
					<table class="table table-condensed">
						<tr>
							<th class="text-center" width="40%">Lieu</th>
							<th class="text-center" width="15%">P&eacute;riode</th>
							<th class="text-center" width="20%">Valeur Stock Initial</th>
							<th class="text-center" width="20%">Valeur Stock Final</th>
							<th class="text-center" width="5%"></th>
						</tr>
						<tr data-ng-repeat="location in retour.perLocations">
							<td>{{location.locationId}} - {{location.locationName}}</td>
							<td class="text-center" ng-switch on="retour._group">
								<label ng-switch-when="YEAR">{{location.year}}</label>
								<label ng-switch-when="MONTH">{{location.year}}-{{location.month}}</label>
								<label ng-switch-when="WEEK">{{location.year}}-S{{location.week}}</label>
								<label ng-switch-when="DAY">{{location.year}}-{{location.month}}-{{location.day}}</label>
								<label ng-switch-default>{{location.year}}-{{location.month}}-{{location.day}} {{location.hour}}h</label>
							</td>
							<td class="text-right">{{location.startingValue | number:2}} &euro;</td>
							<td class="text-right">{{location.endingValue | number:2}} &euro;</td>
							<td>
								<button type="button"
									ng-class="{btn: true, 'btn-default': locationGraphVisible(location.locationId), 'btn-danger': !locationGraphVisible(location.locationId)}"
									ng-click="onChange(location.locationId , 'location')">
									<i class="fa fa-line-chart"></i>
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>	
		<div data-ng-if="!isLoading && movements.length!=0" uib-accordion-group 
			heading="Evolution du stock en D&eacute;tail - Graphique" is-open="isopen"> 
			<div class="row">
				<div data-ng-if="retour.detailsGraph.length < 100" class="col-lg-12" >
					<nvd3 id="byProd" options="optionsQty" data="retour.detailsGraph" api="nvObjProd.api"></nvd3>
				</div>
			</div>
			<div class="row">
				<div data-ng-if="retour.detailsGraph.length >= 100" class="col-lg-12">
					<label class="col-lg-12 ose-control-label">Pas de praphique si plus de 100 produits</label>
				</div>
			</div>
		</div>
		<div data-ng-if="!isLoading && movements.length!=0" uib-accordion-group heading="Evolution du stock en D&eacute;tail" 
			ng-init="status = {isOpen: false}" is-open="status.isOpen">
			<div class="row">
				<div class="col-lg-12">
					<table class="table table-condensed" infinite-scroll="increaseLimit(status.isOpen)">
						<tr>
							<th class="text-center" width="25%">Lieu</th>
							<th class="text-center" width="3%">Ref</th>
							<th class="text-center" width="29%">Libelle</th>
							<th class="text-center" width="12%">P&eacute;riode</th>
							<th class="text-center" width="8%">Mouvements</th>
							<th class="text-center" width="8%">Stock Final</th>
							<th class="text-center" width="10%">Valorisation</th>
							<th class="text-center" width="5%"></th>
						</tr>
						<tr data-ng-repeat="movement in movements | limitTo:barLimit">
							<td>{{movement.locationId}} - {{movement.locationName}}</td>
							<td><a href="#/products/{{movement.productId}}/form">{{movement.productId}}</a></td>
							<td>{{movement.productName}}</td>
							<td class="text-center" ng-switch on="retour._group">
								<label ng-switch-when="YEAR">{{movement.year}}</label>
								<label ng-switch-when="MONTH">{{movement.year}}-{{movement.month}}</label>
								<label ng-switch-when="WEEK">{{movement.year}}-S{{movement.week}}</label>
								<label ng-switch-when="DAY">{{movement.year}}-{{movement.month}}-{{movement.day}}</label>
								<label ng-switch-default>{{movement.year}}-{{movement.month}}-{{movement.day}} {{movement.hour}}h</label>
							</td>
							<td class="text-right">{{movement.stockChangeUnits | number:0}}</td>
							<td class="text-right">{{movement.currentStock | number:0}}</td>
							<td class="text-right">{{movement.stockChangePrice | number:2}} &euro;</td>
							<td>
								<button type="button"
									ng-class="{btn: true, 'btn-default': detailsGraphVisible(movement.productId), 'btn-danger': !detailsGraphVisible(movement.productId)}"
									ng-click="onChange(movement.productId , 'product')">
									<i class="fa fa-line-chart"></i>
								</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</uib-accordion>
</div>
