<div class="col-lg-offset-1 col-lg-10 well form">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4>Modification de l'affectation Client</h4>
        </div>
        <div class="modal-body">
        <legend>Ticket {{ticket.ticketId}} du {{ticket.date | date : 'dd/MM/yyyy HH:mm:ss'}}</legend>
        <div data-ng-if="client" class="row">
            <div class="col-lg-12">
              <table class="table">
                <thead>
                  <tr>
                    <th width="80%" class="text-center">Client affect&eacute;</th>
                    <th width="20%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">{{client.customersLabel}}</td>
                    <td>
                      <i class="fa fa-trash" data-ng-click="removeClient()"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        <legend>Rechercher un client</legend>
        <div class="row">
            <label class="col-lg-2 ose-control-label">Code</label>
            <div class="col-lg-4 ose-format">
                <input name="nom" class="form-control" data-ng-model="criteria.searchkey" pattern="[^\x22]{0,}" />
            </div>
        </div>
        <div class="row">
            <label class="col-lg-2 ose-control-label">Nom</label>
            <div class="col-lg-4 ose-format">
                <input name="nom" class="form-control" data-ng-model="criteria.lastname" pattern="[^\x22]{0,}" />
            </div>
            <label class="col-lg-2 ose-control-label">Pr&eacute;nom</label>
            <div class="col-lg-4 ose-format">
                <input name="nom" class="form-control" data-ng-model="criteria.firstname" pattern="[^\x22]{0,}" />
            </div>
        </div>
        <div class="row">
            <label class="col-lg-2 ose-control-label">T&eacute;l&eacute;phone</label>
            <div class="col-lg-4 ose-format">
                <input placeholder="0123456789" name="tel" class="form-control" data-ng-model="criteria.searchphone" pattern="[\d]{0,10}" />
            </div>
            <label class="col-lg-2 ose-control-label">E-mail</label>
            <div class="col-lg-4 ose-format ose-form-height">
                <input name="mail" class="form-control" data-ng-model="criteria.searchmail" pattern="[^\x22]{0,}" />
            </div>
        </div>
        <div class="row line">
                    <button type="submit" class="btn btn-primary ose-search-button col-lg-12" data-ng-click="searchCustomers()">Rechercher</button>
        </div>
        
        <div class='col-lg-12' ng-if='isLoading'>
        <h1>
            Loading <i class='fa fa-cog fa-spin'></i>
        </h1>
    </div>
    <fieldset data-ng-if="!isLoading && customers">
        <legend>R&eacute;sultat de la recherche</legend>
        <div class="row line">
            <div class="col-lg-12">
                <span data-ng-if="customers.length==0"> Aucun r&eacute;sultat ne correspond &agrave; votre recherche. </span>
            </div>
        </div>
        <div class="row line" data-ng-if="customers.length!=0">
            <div class="col-lg-12">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center" width="10%"><a href="#/customers/list" ng-click="sortType = 'Key'; sortReverse = !sortReverse">Code
                                    <span ng-show="sortType == 'Key' && !sortReverse" class="fa fa-caret-down"></span> <span ng-show="sortType == 'Key' && sortReverse"
                                    class="fa fa-caret-up"></span>
                            </a> <i ng-show="search.key.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
                                placeholder="Filtre : !pour exclure" ng-model="search.key"></th>
                            <th class="text-center" width="15%"><a href="#/customers/list" ng-click="sortType = 'lastName'; sortReverse = !sortReverse">Nom
                                    <span ng-show="sortType == 'lastName' && !sortReverse" class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'lastName' && sortReverse" class="fa fa-caret-up"></span>
                            </a> <i ng-show="search.lastName.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
                                placeholder="Filtre : !pour exclure" ng-model="search.lastName"></th>
                            <th class="text-center" width="15%"><a href="#/customers/list" ng-click="sortType = 'firstName'; sortReverse = !sortReverse">Pr&eacute;nom
                                    <span ng-show="sortType == 'firstName' && !sortReverse" class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'firstName' && sortReverse" class="fa fa-caret-up"></span>
                            </a> <i ng-show="search.firstName.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
                                placeholder="Filtre : !pour exclure" ng-model="search.firstName"></th>
                                                
                            <th class="text-center" width="15%"><a href="#/customers/list" ng-click="sortType = 'discountProfile'; sortReverse = !sortReverse">Profil
                                    <span ng-show="sortType == 'discountProfile' && !sortReverse" class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'discountProfile' && sortReverse" class="fa fa-caret-up"></span>
                            </a> <i ng-show="search.discountProfile.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
                                placeholder="Filtre : !pour exclure" ng-model="search.discountProfile.label"></th>
                                
                            <th class="text-center" width="15%"><a href="#/customers/list" ng-click="sortType = 'location'; sortReverse = !sortReverse">Point de vente
                                    <span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>
                            </a> <i ng-show="search.location.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
                                placeholder="Filtre : !pour exclure" ng-model="search.location.label"></th>
                                    
                            <th class="text-center" width="20%"><a href="#/customers/list" ng-click="sortType = 'city'; sortReverse = !sortReverse">Ville
                                    <span ng-show="sortType == 'city' && !sortReverse" class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'city' && sortReverse" class="fa fa-caret-up"></span>
                            </a> <i ng-show="search.city.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
                                placeholder="Filtre : !pour exclure" ng-model="search.city"></th>
                            <th class="text-center" width="10%"><a href="#/customers/list" ng-click="sortType = 'zipCode'; sortReverse = !sortReverse">Code
                                    postal <span ng-show="sortType == 'zipCode' && !sortReverse" class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'zipCode' && sortReverse" class="fa fa-caret-up"></span>
                            </a> <i ng-show="search.zipCode.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
                                placeholder="Filtre : !pour exclure" ng-model="search.zipCode"></th>
                            <th class="text-center" width="10%"><a href="#/customers/list" ng-click="sortType = 'phone1'; sortReverse = !sortReverse">T&eacute;l&eacute;phone
                                    <span ng-show="sortType == 'phone1' && !sortReverse" class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'phone1' && sortReverse" class="fa fa-caret-up"></span>
                            </a> <i ng-show="search.phone1.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
                                placeholder="Filtre : !pour exclure" ng-model="search.phone1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="customer in customers | orderBy:sortType:sortReverse | filter:search">
                            <td>{{customer.key}}</td>
                            <td>{{customer.lastName}}</td>
                            <td data-ng-if="customer.civilite!='STE'">{{customer.firstName}}</td>
                            <td data-ng-if="customer.civilite=='STE'"></td>
                            <td>{{customer.discountProfilLabel}}</td>
                            <td>{{customer.locationLabel}}</td>
                            <td>{{customer.city}}</td>
                            <td>{{customer.zipCode}}</td>
                            <td>{{customer.phone1}}</td>
                            <td>
                            <button type="button" class="btn btn-success pull-left" data-ng-click="affectationClient(customer)" data-toggle="tooltip" data-placement="top" title="Affecter"><i class="fa fa-check-square-o fa-lg"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
        
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
        </div>
</div>