<div class="form">
  <fieldset>
    <legend>Facture&nbsp;{{ticket.ticketId}}</legend>
    <div class="row">
      <label class="col-lg-2 control-label">Lieu</label>
      <div class="col-lg-4 ose-format">
        <label class="label-view">{{ticket.pointVente}} &nbsp; {{ticket.tournee}}</label>
      </div>
      <label class="col-lg-2 control-label" data-ng-if="ticket.deballage">D&eacute;ballage</label>
      <div class="col-lg-4 ose-format" data-ng-if="ticket.deballage">
        <label class="label-view">{{ticket.deballage}}</label>
      </div>
    </div>
    <div class="row">
      <label class="col-lg-2 control-label">Date</label>
      <div class="col-lg-4 ose-format">
        <label class="label-view">{{ticket.date | date : 'dd/MM/yyyy HH:mm:ss'}}</label>
      </div>
      <label class="col-lg-2 control-label">Catalogue</label>
      <div class="col-lg-4 ose-format">
        <label class="label-view">{{ticket.catalogue}}</label>
      </div>
    </div>
    <div class="row">
      <label class="col-lg-2 control-label">Vendeur</label>
      <div class="col-lg-4 ose-format">
        <label class="label-view">{{ticket.username}}</label>
      </div>
      <label class="col-lg-2 control-label" data-ng-if="ticket.customersId || ( extended && extended.customersId )">Client</label>
      <div class="col-lg-4 ose-format" data-ng-if="ticket.customersId">
          <a href="#/customers/{{ticket.customersId}}/form?_action=view">{{ticket.customersLabel}}</a>&nbsp;
      </div>
      <div class="col-lg-2 ose-format" data-ng-if="!ticket.customersId && extended && extended.customersId">
          <a href="#/customers/{{extended.customersId}}/form?_action=view">{{extended.customersLabel}}</a>
      </div>
      <div class="col-lg-2" data-ng-if="!ticket.customersId">
          <button has-permission="PERM_VTE_TICKET_MODIF"
              type="button" class="btn btn-success pull-left"
              data-ng-if="!ticket.customersId"
              data-ng-click="open()"
              data-toggle="tooltip" data-placement="top" title="Affectation">
              Modification Affectation client
          </button>
      </div>
    </div>
    <div class="row line">
      <div class="col-lg-12">
        <fieldset>
          <legend>Produits</legend>
          <table class="table">
            <thead>
              <tr>
                <th class="text-center" width="12%">Statut</th>
                <th class="text-left" width="12%">Code</th>
                <th class="text-center" width="35%">Nom</th>
                <th class="text-center" width="20%">Note</th>
                <th class="text-center" width="7%">Quantit&eacute;</th>
                <th class="text-center" width="7%">Prix</th>
                <th class="text-center" width="7%">Total</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="line in ticket.lines">
                <td colspan="7">
                  <table width="100%">
                    <tr>
                      <td width="12%">
                        <div data-ng-if="line.commande" class="btn btn-warning ose-search-button">Command&eacute</div>
                        <div data-ng-if="!line.commande" class="btn btn-info ose-search-button">Livr&eacute;</div>
                      </td>
                      <td class="text-left" width="12%">{{line.product.id}}</td>
                      <td width="35%">
                        <table width="100%">
                          <tr>
                            <td width="60%" colspan="2">{{line.product.label}}</td>
                            <td width="40%">
                              <table>
                                <tr data-ng-repeat="tax in line.product.taxes">
                                  <td>{{tax}}</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr data-ng-repeat="subProduct in line.subProducts">
                            <td width="15px"></td>
                            <td>{{subProduct.quantity}} x {{subProduct.label}}</td>
                            <td width="40%">
                              <table>
                                <tr data-ng-repeat="tax in subProduct.taxes">
                                  <td>{{tax}}</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td width="20%">{{line.note}}</td>
                      <td class="text-right" width="7%">{{line.units}}</td>
                      <td class="text-right" width="7%">{{line.fullPrice | number:2}} &euro;</td>
                      <td class="text-right" width="7%">
                        <div data-ng-if="line.discount==0">{{line.finalPrice | number:2}} &euro;</div>
                      </td>
                    </tr>
                    <tr data-ng-if="line.discount!=0">
                      <td class="text-right" colspan="5">Remise : {{line.discount * 100}}%</td>
                      <td></td>
                      <td class="text-right">{{line.finalPrice | number:2}} &euro;</td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2">Nb d'articles :</td>
                <td colspan="5">{{ticket.lines.length}}</td>
              </tr>
              <tr data-ng-if="ticket.discount!=0">
                <td class="text-right" colspan="6">Remise </td>
                <td>{{ticket.discount * 100}} %</td>
              </tr>
              <tr data-ng-repeat="line in ticket.taxes">
                <td colspan="5">{{line.tax}}</td>
                <td>{{line.base | number:2}} &euro;</td>
                <td>{{line.amount | number:2}} &euro;</td>
              </tr>
              <tr>
                <th class="text-right" colspan="6">Total:</th>
                <th>{{ticket.amount | number:2}} &euro;</th>
              </tr>
            </tfoot>
          </table>
        </fieldset>
      </div>
    </div>
    <div class="row line">
      <div class="col-lg-12">
      <fieldset>
          <legend>R&egrave;glement</legend>
          <table class="table">
          <tr data-ng-repeat="payment in ticket.payments">
            <td width="20%">{{payment.datenew | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td width="10%">{{payment.payment}}</td>
            <td width="10%">{{payment.amount | number:2}} &euro;</td>
            <td width="30%"><div data-ng-if="payment.echeance && payment.amount > 0">
            Diff&eacute;r&eacute;&nbsp;Ech&eacute;ance&nbsp;:{{payment.echeance | date : 'dd/MM/yyyy'}}</div>
            <div data-ng-if="payment.echeance && payment.amount < 0">
            Limite Validit&eacute;&nbsp;:{{payment.echeance | date : 'dd/MM/yyyy'}}</div>
            </td>
            <td width="30%">{{payment.reference}}&nbsp;{{payment.note}}</td>
          </tr>
          </table>
      </fieldset>
      </div>
    </div>
    <div class="row line">
      <div class="col-lg-12">
      <fieldset>
          <legend>Notes</legend>
          <textarea class="col-lg-12" ng-model="ticket.note" ng-readonly="true"></textarea>
  
      </fieldset>
      </div>
    </div>
  </fieldset>
</div>
