<div class="form">
	<form name="myForm">
		<fieldset>
			<legend>Rechercher des ventes</legend>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Num&eacute;ro de
					ticket</label>
				<div class="col-lg-4 ose-format">
					<input name="nom" pattern="[0-9]{1,}" class="form-control"
						data-ng-model="criteria.reference" />
				</div>
				<label class="col-lg-2 ose-control-label">Point de vente</label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.pdv"
						data-theme="bootstrap" on-select="updateDeballages()">
					<ui-select-match class="ui-select-match" allow-clear="true">{{criteria.pdv.label}}</ui-select-match>
					<ui-select-choices class="ui-select-choices"
						data-repeat="location in pdvs | filter: $select.search">
					<table width="100%">
						<tr>
							<td width="35%">
								<div data-ng-bind-html="location.id | highlight: $select.search"></div>
							</td>
							<td width="65%">
								<div
									data-ng-bind-html="location.label | highlight: $select.search"></div>
							</td>
						</tr>
					</table>
					</ui-select-choices> </ui-select>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Tourn&eacute;e</label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.tour"
						data-theme="bootstrap" on-select="updateDeballages()">
					<ui-select-match class="ui-select-match" data-placeholder="">{{criteria.tour.nom}}</ui-select-match>
					<ui-select-choices class="ui-select-choices"
						data-repeat="tour in tours  | filter: ({nom: $select.search} || {id: undefined})">
					<table width="100%">
						<tr>
							<td width="100%">
								<div data-ng-bind-html="tour.nom | highlight: $select.search"></div>
							</td>
						</tr>
					</table>
					</ui-select-choices> </ui-select>
				</div>
				<label class="col-lg-2 ose-control-label">D&eacute;ballage</label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.location"
						data-theme="bootstrap"> <ui-select-match
						class="ui-select-match" allow-clear="true" data-placeholder="">{{criteria.location.city}}-{{criteria.location.startDate
					| date : 'dd/MM/yyyy HH:mm'}} {{criteria.location.endDate | date :
					'HH:mm'}}</ui-select-match> <ui-select-choices class="ui-select-choices"
						data-repeat="location in locations"
						data-refresh="getDeballages($select.search)" refresh-delay="0">
					<table width="100%">
						<tr>
							<td><table width="100%">
									<tr>
										<td width="15%">
											<div
												data-ng-bind-html="location.inseeNb | highlight: $select.search"></div>
										</td>
										<td colspan="2">
											<div
												data-ng-bind-html="location.city | highlight: $select.search"></div>
										</td>
									</tr>
									<tr>
										<td colspan="2">
											<div
												data-ng-bind-html="location.startDate | date : 'dd/MM/yyyy HH:mm'"></div>
										</td>
										<td width="50%">
											<div
												data-ng-bind-html="location.endDate | date : 'dd/MM/yyyy HH:mm'"></div>
										</td>
									</tr>
								</table></td>
						</tr>
					</table>
					</ui-select-choices> </ui-select>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Du </label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" ng-change="updateDeballages()"
							class="form-control" uib-datepicker-popup="dd/MM/yyyy"
							ng-model="criteria.from" is-open="openedFrom"
							datepicker-options="dateOptions"
							min-date = "dateOptions.minDate" 
							current-text="Aujourd'hui"
							clear-text="Effacer" close-text="Fermer" show-weeks="true" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="openFrom($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<label class="col-lg-1 ose-control-label">au</label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" ng-change="updateDeballages()"
							class="form-control" uib-datepicker-popup="dd/MM/yyyy"
							ng-model="criteria.to" is-open="openedTo"
							datepicker-options="dateOptions"
							min-date = "dateOptions.minDate"
							current-text="Aujourd'hui"
							clear-text="Effacer" close-text="Fermer" show-weeks="true" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="openTo($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Montant TTC de </label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="number" name="fromValue" class="form-control"
							ng-model="criteria.fromValue"
							ng-pattern="/^[0-9]+(\.[0-9]{2})?$/" step="0.01" />
					</p>
				</div>
				<label class="col-lg-1 ose-control-label">&agrave;</label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="number" name="toValue" class="form-control"
							ng-model="criteria.toValue" ng-pattern="/^[0-9]+(\.[0-9]{2})?$/"
							step="0.01" />
					</p>
				</div>
				<div class="col-lg-2 ose-format" ng-if="criteria.detail.id > 1 && criteria.detail.id != 4">
					<label class="ose-control-label">Contrainte Commande</label>
				</div>
				<div class="col-lg-1 ose-format" ng-if="criteria.detail.id > 1 && criteria.detail.id != 4">
					<nz-toggle tri-toggle ng-model="criteria.orderConstraint"
						tip-false="'Livraison'" tip-null="'Sans contrainte'"
						tip-true="'Commande'"> </nz-toggle>
				</div>
			</div>
			<div class="row" has-permission="PERM_VTE_TICKET_EXTRACT">
				<label class="col-lg-2 ose-control-label">Extraction</label>
				<div class="col-lg-10 ose-format btn-group" data-toggle="buttons">
					<label class="btn btn-lg btn-primary" ng-repeat="option in options"
						ng-class="{active:option.id==criteria.detail.id}"
						ng-click="activate(option)"><input type="radio"></input>{{option.label}}</label>
				</div>
			</div>
			<div class="row line">
				<div class="col-lg-12">
					<button type="submit" class="btn btn-primary col-lg-8"
						data-ng-click="searchTickets()">Rechercher</button>
					<button has-permission="PERM_VTE_TICKET_EXTRACT"
						class="btn btn-primary col-lg-4" ng-disabled="isLoading || isDownLoading" data-ng-click="download('xls')">T&eacute;l&eacute;charger</button>
				</div>
			</div>
		</fieldset>
	</form>
	<div class='col-lg-12' ng-if='isLoading'>
		<h1>
			Loading <i class='fa fa-cog fa-spin'></i>
		</h1>
	</div>
	<fieldset data-ng-if="!isLoading && tickets">
		<legend>R&eacute;sultat de la recherche</legend>
		<div class="row line" data-ng-if="tickets.length==0">
			<div class="col-lg-12">Aucun r&eacute;sultat ne correspond
				&agrave; votre recherche.</div>
		</div>
		<div class="row line" data-ng-if="tickets && tickets.length!=0">
		    <div class="col-lg-12" data-ng-if="status=='ko'">
		      <label class="col-lg-12 has-error">{{tickets}}</label>
		    </div>
			<div class="col-lg-12" data-ng-if="tickets[0].ticketId">
				<table class="table" infinite-scroll="increaseLimit()">
					<thead>
						<tr>
							<th class="text-center" width="15%">
								<a href="javascript:window.location" ng-click="sortType = 'ticketId'; sortReverse = !sortReverse">Num&eacute;ro de ticket
									<span ng-show="sortType == 'ticketId' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'ticketId' && sortReverse" class="fa fa-caret-up"></span>
								</a>
						 	<i ng-show="search.ticketId.length > 0" class="glyphicon glyphicon-filter"></i>
			              	<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.ticketId"></th>
							<th width="15%">
								<a href="javascript:window.location" ng-click="sortType = 'date'; sortReverse = !sortReverse">Date
									<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th width="30%">
								<a href="javascript:window.location" ng-click="sortType = 'username'; sortReverse = !sortReverse">Op&eacute;rateur
									<span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
								</a>
						 	<i ng-show="search.username.length > 0" class="glyphicon glyphicon-filter"></i>
			              	<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.username"></th>
							<th width="30%">
								<a href="javascript:window.location" ng-click="sortType = 'customersLabel'; sortReverse = !sortReverse">Client
									<span ng-show="sortType == 'customersLabel' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'customersLabel' && sortReverse" class="fa fa-caret-up"></span>
								</a>
						 	<i ng-show="search.customersLabel.length > 0" class="glyphicon glyphicon-filter"></i>
			              	<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.customersLabel"></th>
							<th width="10%">
								<a href="javascript:window.location" ng-click="sortType = 'amount'; sortReverse = !sortReverse">Montant
									<span ng-show="sortType == 'amount' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'amount' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="ticket in tickets | limitTo:barLimit | orderBy:sortType:sortReverse | filter:search">
							<td><a
								href="#/tickets/{{ticket.ticketId}}/form?_action=view">{{ticket.ticketId}}</a>
							</td>
							<td>{{ticket.date | date:'dd/MM/yyyy HH:mm:ss'}}</td>
							<td>{{ticket.username}}</td>
							<td>{{ticket.customersLabel}}</td>
							<td>{{ticket.amount | number:2}} &euro;</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-12" data-ng-if="tickets[0].numeroTicket">
				<table class="table" infinite-scroll="increaseLimit()">
					<thead>
						<tr>
							<th width="15%">
								<a href="javascript:window.location" ng-click="sortType = 'numeroTicket'; sortReverse = !sortReverse">Num&eacute;ro de ticket
									<span ng-show="sortType == 'numeroTicket' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'numeroTicket' && sortReverse" class="fa fa-caret-up"></span>
								</a>
						 	<i ng-show="search.numeroTicket.length > 0" class="glyphicon glyphicon-filter"></i>
			              	<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.numeroTicket"></th>
							<th width="15%">
								<a href="javascript:window.location" ng-click="sortType = 'date'; sortReverse = !sortReverse">Date
									<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th width="25%">
								<a href="javascript:window.location" ng-click="sortType = 'deballage.commune.commune'; sortReverse = !sortReverse">D&eacute;ballage
									<span ng-show="sortType == 'deballage.commune.commune' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'deballage.commune.commune' && sortReverse" class="fa fa-caret-up"></span>
								</a>
						 	<i ng-show="search.deballage.commune.commune.length > 0" class="glyphicon glyphicon-filter"></i>
			              	<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.deballage.commune.commune"></th>
							<th width="20%">
								<a href="javascript:window.location" ng-click="sortType = 'tournee.nom'; sortReverse = !sortReverse">Tourn&eacute;e
									<span ng-show="sortType == 'tournee.nom' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'tournee.nom' && sortReverse" class="fa fa-caret-up"></span>
								</a>
						 	<i ng-show="search.tournee.nom.length > 0" class="glyphicon glyphicon-filter"></i>
			              	<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.tournee.nom"></th>
							<th width="15%">
								<a href="javascript:window.location" ng-click="sortType = 'vendeur.nomCaisse'; sortReverse = !sortReverse">Op&eacute;rateur
									<span ng-show="sortType == 'vendeur.nomCaisse' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'vendeur.nomCaisse' && sortReverse" class="fa fa-caret-up"></span>
								</a>
						 	<i ng-show="search.vendeur.nomCaisse.length > 0" class="glyphicon glyphicon-filter"></i>
			              	<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.vendeur.nomCaisse"></th>
							<th width="10%">
								<a href="javascript:window.location" ng-click="sortType = 'montantTicketTTC'; sortReverse = !sortReverse">Montant
									<span ng-show="sortType == 'montantTicketTTC' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'montantTicketTTC' && sortReverse" class="fa fa-caret-up"></span>
								</a>
						 	</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="ticket in tickets | limitTo:barLimit | orderBy:sortType:sortReverse | filter:search">
							<td><a
								href="#/tickets/{{ticket.numeroTicket}}/form?_action=view">{{ticket.numeroTicket}}</a>
							</td>
							<td>{{ticket.date | date:'dd/MM/yyyy HH:mm:ss'}}</td>
							<td>{{ticket.deballage.commune.commune}}</td>
							<td>{{ticket.tournee.nom}}-{{ticket.pointVente.label}}</td>
							<td>{{ticket.vendeur.nomCaisse}}</td>
							<td>{{ticket.montantTicketTTC | number:2}} &euro;</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-12" data-ng-if="tickets[0].recapVentes">
				<table class="table" infinite-scroll="increaseLimit()">
					<thead>
						<tr>
							<th width="25%">
								<a href="javascript:window.location" ng-click="sortType = 'deballage.commune.commune'; sortReverse = !sortReverse">D&eacute;ballage
									<span ng-show="sortType == 'deballage.commune.commune' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'deballage.commune.commune' && sortReverse" class="fa fa-caret-up"></span>
								</a>
						 	<i ng-show="search.deballage.commune.commune.length > 0" class="glyphicon glyphicon-filter"></i>
			              	<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.deballage.commune.commune"></th>
							<th width="15%">
								<a href="javascript:window.location" ng-click="sortType = 'recapVentes.ouverture'; sortReverse = !sortReverse">Date Ouverture
									<span ng-show="sortType == 'recapVentes.ouverture' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'recapVentes.ouverture' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th width="15%">
								<a href="javascript:window.location" ng-click="sortType = 'recapVentes.fermeture'; sortReverse = !sortReverse">Date Fermeture
									<span ng-show="sortType == 'recapVentes.fermeture' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'recapVentes.fermeture' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th width="10%">
								<a href="javascript:window.location" ng-click="sortType = 'tournee.nom'; sortReverse = !sortReverse">Tourn&eacute;e
									<span ng-show="sortType == 'tournee.nom' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'tournee.nom' && sortReverse" class="fa fa-caret-up"></span>
								</a>
						 	<i ng-show="search.tournee.nom.length > 0" class="glyphicon glyphicon-filter"></i>
			              	<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.tournee.nom"></th>
							<th width="15%">
								<a href="javascript:window.location" ng-click="sortType = 'recapVentes.vendeur.nomCaisse'; sortReverse = !sortReverse">Op&eacute;rateur
									<span ng-show="sortType == 'recapVentes.vendeur.nomCaisse' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'recapVentes.vendeur.nomCaisse' && sortReverse" class="fa fa-caret-up"></span>
								</a>
						 	<i ng-show="search.recapVentes.vendeur.nomCaisse.length > 0" class="glyphicon glyphicon-filter"></i>
			              	<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.recapVentes.vendeur.nomCaisse"></th>
							<th width="10%">
								<a href="javascript:window.location" ng-click="sortType = 'recapVentes.catotal'; sortReverse = !sortReverse">CA Total TTC
									<span ng-show="sortType == 'recapVentes.catotal' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'recapVentes.catotal' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th width="10%">
								<a href="javascript:window.location" ng-click="sortType = 'recapVentes.catotal/deballage.nombrePub'; sortReverse = !sortReverse">Ratio
									<span ng-show="sortType == 'recapVentes.catotal/deballage.nombrePub' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'recapVentes.catotal/deballage.nombrePub' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="ticket in tickets | limitTo:barLimit | orderBy:sortType:sortReverse | filter:search">
							<td><a href="#/sales-locations/{{ticket.deballage.id}}/form">{{ticket.deballage.commune.commune}}</a></td>
							<td>{{ticket.recapVentes.ouverture | date:'dd/MM/yyyy HH:mm:ss'}}</td>
							<td>{{ticket.recapVentes.fermeture | date:'dd/MM/yyyy HH:mm:ss'}}</td>
							<td>{{ticket.tournee.nom}}<br>{{ticket.recapVentes.pointVente.label}}
							</td>
							<td>{{ticket.recapVentes.vendeur.nomCaisse}}</td>
							<td>{{ticket.recapVentes.catotal | number:2}} &euro;</td>
							<td>{{ticket.recapVentes.catotal/ticket.deballage.nombrePub | number:2}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-12" data-ng-if="tickets[0].ouverture">
                <table class="table" infinite-scroll="increaseLimit()">
                    <thead>
                        <tr>
                            <th width="17%">
                            	<a href="javascript:window.location" ng-click="sortType = 'date'; sortReverse = !sortReverse">Date
									<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
								</a>
                            </th>
                            <th width="17%">
                            	<a href="javascript:window.location" ng-click="sortType = 'ouverture'; sortReverse = !sortReverse">Date Ouverture
									<span ng-show="sortType == 'ouverture' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'ouverture' && sortReverse" class="fa fa-caret-up"></span>
								</a>
                            </th>
                            <th width="17%">
                            	<a href="javascript:window.location" ng-click="sortType = 'fermeture'; sortReverse = !sortReverse">Date Fermeture
									<span ng-show="sortType == 'fermeture' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'fermeture' && sortReverse" class="fa fa-caret-up"></span>
								</a>
                            </th>
                            <th width="25%">
                            	<a href="javascript:window.location" ng-click="sortType = 'pointVente.label'; sortReverse = !sortReverse">Point de Vente
									<span ng-show="sortType == 'pointVente.label' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'pointVente.label' && sortReverse" class="fa fa-caret-up"></span>
								</a>
                            <i ng-show="search.pointVente.label.length > 0" class="glyphicon glyphicon-filter"></i>
			              	<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.pointVente.label"></th>
                            <th width="12%">
                            	<a href="javascript:window.location" ng-click="sortType = 'catotal'; sortReverse = !sortReverse">CA Total TTC
									<span ng-show="sortType == 'catotal' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'catotal' && sortReverse" class="fa fa-caret-up"></span>
								</a>
                            </th>
                            <th width="12%">
                            	<a href="javascript:window.location" ng-click="sortType = 'nbTickets'; sortReverse = !sortReverse">Nb Tickets
									<span ng-show="sortType == 'nbTickets' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'nbTickets' && sortReverse" class="fa fa-caret-up"></span>
								</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="ticket in tickets | limitTo:barLimit | orderBy:sortType:sortReverse | filter:search">
                            <td>{{ticket.date | date:'dd/MM/yyyy'}}</td>
                            <td>{{ticket.ouverture | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{ticket.fermeture | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{ticket.pointVente.label}}</td>
                            <td>{{ticket.catotal | number:2}} &euro;</td>
                            <td>{{ticket.nbTickets | number:0}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-12" data-ng-if="tickets[0].numLigne">
                <table class="table" infinite-scroll="increaseLimit()">
                    <thead>
                        <tr>
                            <th width="15%">
                            	<a href="javascript:window.location" ng-click="sortType = 'numTicket'; sortReverse = !sortReverse">Num Ticket
									<span ng-show="sortType == 'numTicket' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'numTicket' && sortReverse" class="fa fa-caret-up"></span>
								</a>
                            <i ng-show="search.numTicket.length > 0" class="glyphicon glyphicon-filter"></i>
			              	<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.numTicket"></th>
                            <th width="10%">
                            	<a href="javascript:window.location" ng-click="sortType = 'numLigne'; sortReverse = !sortReverse">Num Ligne
									<span ng-show="sortType == 'numLigne' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'numLigne' && sortReverse" class="fa fa-caret-up"></span>
								</a>
                            </th> 
                            <th width="20%">
                            	<a href="javascript:window.location" ng-click="sortType = 'ticket.pointVente.label'; sortReverse = !sortReverse">Point de Vente
									<span ng-show="sortType == 'ticket.pointVente.label' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'ticket.pointVente.label' && sortReverse" class="fa fa-caret-up"></span>
								</a>
                            <i ng-show="search.ticket.pointVente.label.length > 0" class="glyphicon glyphicon-filter"></i>
			              	<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.ticket.pointVente.label"></th>
                            <th width="25%">
                            	<a href="javascript:window.location" ng-click="sortType = 'produit.id'; sortReverse = !sortReverse">Produit
									<span ng-show="sortType == 'produit.id' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'produit.id' && sortReverse" class="fa fa-caret-up"></span>
								</a>
                            </th>
                            <th width="15%">
                            	<a href="javascript:window.location" ng-click="sortType = 'quantite'; sortReverse = !sortReverse">Quantit&eacute;
									<span ng-show="sortType == 'quantite' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'quantite' && sortReverse" class="fa fa-caret-up"></span>
								</a>
                            </th>
                            <th width="15%">
                            	<a href="javascript:window.location" ng-click="sortType = 'caeffectifTTC'; sortReverse = !sortReverse">Prix Total TTC
									<span ng-show="sortType == 'caeffectifTTC' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'caeffectifTTC' && sortReverse" class="fa fa-caret-up"></span>
								</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="ticket in tickets | limitTo:barLimit | orderBy:sortType:sortReverse | filter:search">
                            <td><a
                                href="#/tickets/{{ticket.numTicket}}/form?_action=view">{{ticket.numTicket}}</a>
                            </td>
                            <td>{{ticket.numLigne}}</td>
                            <td>{{ticket.ticket.pointVente.label}}</td>
                            <td data-ng-if="ticket.produit.id">{{ticket.produit.id}}-{{ticket.produit.libelle}}</td>
                            <td data-ng-if="!ticket.produit.id">{{ticket.note}}</td>
                            <td>{{ticket.quantite | number: 0}}</td>
                            <td>{{ticket.caeffectifTTC | number:2}} &euro;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
		</div>
	</fieldset>
</div>
