<div class="form">
	<fieldset>
		<legend>Z de Caisse&nbsp; :
			{{cashRegister.label}}-{{cash.sequence}} ({{zticket.cashId}})</legend>
		<div class="row">
			<label class="col-lg-2 control-label">Lieu</label>
			<div class="col-lg-4 ose-format">
				<label class="label-view" data-ng-if="!cash.salesLocation">{{cashRegister.location.label}}</label>
				<label class="label-view" data-ng-if="cash.salesLocation">{{cashRegister.location.label}}
					&nbsp; {{cash.salesLocation.tourName}}</label>
			</div>
			<label class="col-lg-2 control-label" data-ng-if="cash.salesLocation">D&eacute;ballage</label>
			<div class="col-lg-4 ose-format" data-ng-if="cash.salesLocation">
				<label class="label-view">{{cash.salesLocation.city}}</label>
			</div>
		</div>
		<div class="row" data-ng-if="cash.salesLocation">
            <label class="col-lg-2 control-label">Nombre Catalogues</label>
            <div class="col-lg-4 ose-format">
                <label class="label-view">{{cash.salesLocation.pubNb | number:0}}</label>
            </div>
            <label class="col-lg-2 control-label">Ratio (Base TTC)</label>
            <div class="col-lg-4 ose-format">
                <label class="label-view">{{TotalOverView.incAmount/cash.salesLocation.pubNb | number:2}}</label>
            </div>
        </div>
        <div class="row" data-ng-if="cash.salesLocation">
            <label class="col-lg-2 control-label">Ouverture Th&eacute;orique</label>
            <div class="col-lg-4 ose-format">
                <label class="label-view">{{cash.salesLocation.startDate | date :
                    'dd/MM/yyyy HH:mm'}}</label>
            </div>
            <label class="col-lg-2 control-label">Fermeture Th&eacute;orique</label>
            <div class="col-lg-4 ose-format">
                <label class="label-view">{{cash.salesLocation.endDate | date :
                    'dd/MM/yyyy HH:mm'}}</label>
            </div>
        </div>
		<div class="row">
			<label class="col-lg-2 control-label">Date ouverture</label>
			<div class="col-lg-4 ose-format">
				<label class="label-view">{{cash.openDate | date :
					'dd/MM/yyyy HH:mm:ss'}}</label>
			</div>
			<label class="col-lg-2 control-label">Date Fermeture</label>
			<div class="col-lg-4 ose-format">
				<label class="label-view">{{cash.closeDate | date :
					'dd/MM/yyyy HH:mm:ss'}}</label>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-2 control-label">Esp&egrave;ces
				ouverture</label>
			<div class="col-lg-4 ose-format">
				<label class="label-view">{{cash.openCash | number:2}}
					&euro;</label>
			</div>
			<label class="col-lg-2 control-label">Esp&egrave;ces
				Fermeture</label>
			<div class="col-lg-4 ose-format">
				<label class="label-view">{{cash.closeCash | number:2}}
					&euro; ({{ TotalOverView.expCashAmount | number:2}} &euro; attendus)</label>
			</div>
		</div>
		<div class="row">
            <label class="col-lg-2 control-label">Nb Tickets</label>
            <div class="col-lg-4 ose-format">
                <label class="label-view">{{zticket.ticketCount | number:0}}</label>
            </div>
            <label class="col-lg-2 control-label">Ticket Moyen</label>
            <div class="col-lg-4 ose-format">
                <label class="label-view">{{TotalOverView.incAmount / zticket.ticketCount  | number:2}} &euro;</label>
            </div>
        </div>
        <div class="row">
            <label class="col-lg-2 control-label">CA HT</label>
            <div class="col-lg-4 ose-format">
                <label class="label-view">{{zticket.cs - zticket.discount | number:2}} &euro;</label>
            </div>
            <label class="col-lg-2 control-label">Remises HT</label>
            <div class="col-lg-4 ose-format">
                <label class="label-view">{{zticket.discount  | number:2}} &euro;</label>
            </div>
        </div>
		<div class="row line">
			<div class="col-lg-12">
				<fieldset>
					<legend>Encaissements ({{TotalOverView.inc}})</legend>
					<table class="table">
						<thead>
							<tr>
								<th class="text-left" width="60%"></th>
								<th class="text-right" width="15%">Nombre</th>
								<th class="text-right" width="25%">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat='payment in zticket.payments | filter:{paymentCateg : "Encaissements"}'>
								<td class="text-left">{{payment.paymentLabel}}</td>
								<td class="text-right">{{payment.paymentsNumber | number:0}}</td>
								<td class="text-right">{{payment.amount | number:2}} &euro;</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th class="text-right" colspan="2">Total:</th>
								<th class="text-right">{{TotalOverView.incAmount | number:2}} &euro;</th>
							</tr>
						</tfoot>
					</table>
				</fieldset>
			</div>
		</div>
		<div class="row line">
			<div class="col-lg-12">
				<fieldset>
					<legend>Mouvements de Caisse ({{TotalOverView.mvt}})</legend>
					                   <table class="table">
                        <thead>
                            <tr>
                                <th class="text-left" width="60%"></th>
                                <th class="text-right" width="15%">Nombre</th>
                                <th class="text-right" width="25%">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat='payment in zticket.payments | filter:{paymentCateg : "Mouvements"}'>
                                <td class="text-left">{{payment.paymentLabel}}</td>
                                <td class="text-right">{{payment.paymentsNumber | number:0}}</td>
                                <td class="text-right">{{payment.amount | number:2}} &euro;</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="text-right" colspan="2">Total:</th>
                                <th class="text-right">{{TotalOverView.mvtAmount | number:2}} &euro;</th>
                            </tr>
                        </tfoot>
                    </table>
				</fieldset>
			</div>
		</div>
		      <div class="row line">
            <div class="col-lg-12">
                <fieldset>
                    <legend>Taxes</legend>
                      <table class="table">
                        <thead>
                            <tr>
                                <th class="text-left" width="60%"></th>
                                <th class="text-right" width="15%">Base</th>
                                <th class="text-right" width="25%">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="taxe in zticket.taxes">
                                <td class="text-left">{{getTaxeName(taxe.id)}}</td>
                                <td class="text-right">{{taxe.base | number:2}} &euro;</td>
                                <td class="text-right">{{taxe.amount | number:2}} &euro;</td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
	</fieldset>
</div>
