<div class="form">
	<form>
		<fieldset>
			<legend>R&eacute;capitulatif comptabilit&eacute;</legend>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Magasin</label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.pdv"
						data-theme="bootstrap" on-select="updateDeballages()" ng-disabled="pdvs === undefined">
					<ui-select-match class="ui-select-match" data-placeholder="">{{criteria.pdv.label}}</ui-select-match>
					<ui-select-choices class="ui-select-choices"
						data-repeat="location in pdvs | filter: $select.search">
					<table width="100%">
						<tr>
							<td width="35%">
								<div data-ng-bind-html="location.id | highlight: $select.search"></div>
							</td>
							<td width="65%">
								<div
									data-ng-bind-html="location.label | highlight: $select.search"></div>
							</td>
						</tr>
					</table>
					</ui-select-choices> </ui-select>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Tourn&eacute;e</label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.tour"
						data-theme="bootstrap" on-select="updateDeballages()">
					<ui-select-match class="ui-select-match" data-placeholder="">{{criteria.tour.nom}}</ui-select-match>
					<ui-select-choices class="ui-select-choices"
						data-repeat="tour in tours  | filter: ({nom: $select.search} || {id: undefined})">
					<table width="100%">
						<tr>
							<td width="100%">
								<div data-ng-bind-html="tour.nom | highlight: $select.search"></div>
							</td>
						</tr>
					</table>
					</ui-select-choices> </ui-select>
				</div>
				<label class="col-lg-2 ose-control-label">D&eacute;ballage</label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.location"
						data-theme="bootstrap"> <ui-select-match
						class="ui-select-match" allow-clear="true" data-placeholder="">{{criteria.location.city}}-{{criteria.location.startDate
					| date : 'dd/MM/yyyy HH:mm'}} {{criteria.location.endDate | date :
					'HH:mm'}}</ui-select-match> <ui-select-choices class="ui-select-choices"
						data-repeat="location in locations"
						data-refresh="getDeballages($select.search)" refresh-delay="0">
					<table width="100%">
						<tr>
							<td><table width="100%">
									<tr>
										<td width="15%">
											<div
												data-ng-bind-html="location.inseeNb | highlight: $select.search"></div>
										</td>
										<td colspan="2">
											<div
												data-ng-bind-html="location.city | highlight: $select.search"></div>
										</td>
									</tr>
									<tr>
										<td colspan="2">
											<div
												data-ng-bind-html="location.startDate | date : 'dd/MM/yyyy HH:mm'"></div>
										</td>
										<td width="50%">
											<div
												data-ng-bind-html="location.endDate | date : 'dd/MM/yyyy HH:mm'"></div>
										</td>
									</tr>
								</table></td>
						</tr>
					</table>
					</ui-select-choices> </ui-select>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Du</label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" ng-change="updateDeballages()"
							class="form-control" uib-datepicker-popup="dd/MM/yyyy"
							ng-model="criteria.from" is-open="openedFrom"
							datepicker-options="dateOptions"
							date-disabled="disabled(date, mode)" current-text="Aujourd'hui"
							clear-text="Effacer" close-text="Fermer" show-weeks="true" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="openFrom($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<label class="col-lg-1 ose-control-label">au</label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="to" ng-change="updateDeballages()"
							class="form-control" uib-datepicker-popup="dd/MM/yyyy"
							ng-model="criteria.to" is-open="openedTo"
							datepicker-options="dateOptions"
							date-disabled="disabled(date, mode)" current-text="Aujourd'hui"
							clear-text="Effacer" close-text="Fermer" show-weeks="true" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="openTo($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
			</div>
			<div class="row line">
				<div class="col-lg-12">
					<button class="btn btn-primary ose-search-button col-lg-9" data-ng-click="searchPaiementInfo()">Rechercher</button>
					<button has-permission="PERM_VTE_COMPTA_EXTRACT" class="btn btn-primary ose-search-button col-lg-3" data-ng-click="downloadPaymentsInfoCSV()">T&eacute;l&eacute;charger</button>
				</div>
			</div>
		</fieldset>
	</form>
	<fieldset data-ng-if="payments">
		<legend>R&eacute;sultat de la recherche</legend>
		<div class="row line" data-ng-if="payments.length==0">
			<div class="col-lg-12">Aucun r&eacute;sultat ne correspond
				&agrave; votre recherche.</div>
		</div>
		<div class="row line" data-ng-if="payments.length!=0">
			<div class="col-lg-12">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th class="text-center" width="15%">
								<a href="#/accounting/list" ng-click="sortType = 'number'; sortReverse = !sortReverse">Nombre
									<span ng-show="sortType == 'number' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'number' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th class="text-center" width="60%">
								<a href="#/accounting/list" ng-click="sortType = 'paymentLabel'; sortReverse = !sortReverse">Moyen de paiement
									<span ng-show="sortType == 'paymentLabel' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'paymentLabel' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th class="text-center" width="25%">
								<a href="#/accounting/list" ng-click="sortType = 'amount'; sortReverse = !sortReverse">Montant
									<span ng-show="sortType == 'amount' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'amount' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="payment in payments | orderBy:sortType:sortReverse">
							<td class="text-center">{{payment.number | number:0}}</td>
							<td class="text-center"><a href=""
								data-ng-click="getDetailsPayment(payment.payment)">{{payment.paymentLabel}}</a>
							</td>
							<td class="text-center">{{payment.amount | number:2}} &euro;</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row line" data-ng-if="payments.length!=0">
			<label class="col-lg-8 ose-control-label text-right">Total :</label>
			<label class="col-lg-4 ose-control-label text-center">{{sumpayment
				| number:2}} &euro;</label>
		</div>
		<div data-ng-if="details && details.length!=0" class="row line">
			<div class="col-lg-12">
				<button has-permission="PERM_VTE_COMPTA_EXTRACT" class="btn btn-primary ose-search-button"
					data-ng-click="downloadDetailsPaymentCSV()">T&eacute;l&eacute;charger</button>
			</div>
		</div>
		<div data-ng-if="details && details.length!=0" class="row line">
			<div class="col-lg-12">
				<table class="table table-condensed" infinite-scroll="increaseLimit()">
					<thead>
						<tr>
							<th class="text-center" width="10%">Num&eacute;ro de ticket</th>
							<th class="text-center" width="15%">Moyen de paiement</th>
							<th class="text-center" width="15%">Date</th>
							<th class="text-center" width="10%">R&eacute;f&eacute;rence</th>
							<th class="text-center" width="10%">Montant</th>
							<th class="text-center" width="30%">Note</th>
							<th class="text-center" width="10%">Ech&eacute;ance</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="detail in details  | limitTo:barLimit track by $index">
							<td class="text-center">
								<a has-permission="PERM_VTE_TICKET" href="#/tickets/{{detail.ticketId}}/form?_action=view">{{detail.ticketId}}</a>
								<div has-permission="!PERM_VTE_TICKET">{{detail.ticketId}}</div>
							</td>
							<td class="text-center">{{detail.payment}}</td>
							<td class="text-center">{{detail.datenew | date :
								'dd/MM/yyyy HH:mm'}}</td>
							<td class="text-center">{{detail.reference}}</td>
							<td class="text-right">{{detail.amount | number : 2}} &euro;</td>
							<td class="text-center">{{detail.note}}</td>
							<td class="text-center">{{detail.echeance | date :
								'dd/MM/yyyy'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>
