<div class="form">
  <fieldset>
    <legend>Crit&egrave;res des recherches</legend>
    <div class="row">
      <label class="col-lg-2 ose-control-label">Du </label>
      <div class="col-lg-3 ose-format">
        <p class="input-group ose-input-group">
          <input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.from" is-open="openedFrom"
            datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
            close-text="Fermer" show-weeks="true" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openFrom($event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
      <label class="col-lg-1 ose-control-label">au</label>
      <div class="col-lg-3 ose-format">
        <p class="input-group ose-input-group">
          <input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.to" is-open="openedTo"
            datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
            close-text="Fermer" show-weeks="true" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openTo($event)">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
        </p>
      </div>
      <div class="col-lg-3 ose-margin">
        <button class="btn btn-primary col-lg-12" data-ng-click="getSalesDetails()">Actualiser</button>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend>D&eacute;tail des ventes</legend>
    <div class='row line col-lg-12' ng-if='isLoading'>
      <h1>
        Loading <i class='fa fa-cog fa-spin'></i>
      </h1>
    </div>
    <div has-permission="PERM_VTE_PV_EXTRACT" class="row line" data-ng-if="!isLoading && sales.length!=0">
      <div class="col-lg-12">
        <button class="btn btn-primary ose-search-button" data-ng-click="downloadCSV()">T&eacute;l&eacute;charger
</button>
      </div>
    </div>
    <div class="row line" ng-if="!isLoading">
      <div class="col-lg-12">
        <table class="table table-condensed">
          <tr>
            <th class="text-center" width="35%">
            	<a href="#/sales/{{locationId}}/form" ng-click="sortType = 'dimension'; sortReverse = !sortReverse">Date
					<span ng-show="sortType == 'dimension' && !sortReverse" class="fa fa-caret-down"></span> 
					<span ng-show="sortType == 'dimension' && sortReverse" class="fa fa-caret-up"></span>
				</a>
            </th>
            <th class="text-center" width="25%">
            	<a href="#/sales/{{locationId}}/form" ng-click="sortType = 'turnover'; sortReverse = !sortReverse">Chiffre d'affaires
					<span ng-show="sortType == 'turnover' && !sortReverse" class="fa fa-caret-down"></span> 
					<span ng-show="sortType == 'turnover' && sortReverse" class="fa fa-caret-up"></span>
				</a>
            </th>
            <th class="text-center" width="20%">
            	<a href="#/sales/{{locationId}}/form" ng-click="sortType = 'salesCount'; sortReverse = !sortReverse">Nombre de ventes
					<span ng-show="sortType == 'salesCount' && !sortReverse" class="fa fa-caret-down"></span> 
					<span ng-show="sortType == 'salesCount' && sortReverse" class="fa fa-caret-up"></span>
				</a>
            </th>
            <th class="text-center" width="20%">
            	<a href="#/sales/{{locationId}}/form" ng-click="sortType = 'averageBasket'; sortReverse = !sortReverse">Panier moyen
					<span ng-show="sortType == 'averageBasket' && !sortReverse" class="fa fa-caret-down"></span> 
					<span ng-show="sortType == 'averageBasket' && sortReverse" class="fa fa-caret-up"></span>
				</a>
            </th>
            <!-- <th width="5px">
              <i class="fa fa-download" data-ng-click="downloadCSV()"></i>
            </th> -->
          </tr>
          <tr data-ng-repeat="sale in sales | orderBy:sortType:sortReverse">
            <td class="text-center">{{sale.dimension}} <div ng-repeat="session in sale.sessions"><a href="#/tickets/{{session}}/z">Z{{$index}}</a>&nbsp;</div></td>
            <td class="text-center">{{sale.turnover | number:2}} &euro;</td>
            <td class="text-center">{{sale.salesCount}}</td>
            <td class="text-center" title="Télé">{{sale.averageBasket | number:2}} &euro;</td>
          </tr>
          <tr>
            <td class="text-center"><strong><u>Total</u></strong></td>
            <td class="ose-control-label text-center"><strong>{{totalturnover | number:2}} &euro;</strong></td>
            <td class="ose-control-label text-center"><strong>{{totalsalescount}}</strong></td>
            <td class="ose-control-label text-center"><strong>{{(totalturnover / totalsalescount) | number:2}} &euro;</strong></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row line" data-ng-if="!isLoading && sales.length!=0">
        
    </div>
  </fieldset>
  <div class="row line" ng-if="!isLoading">
    <div class="col-lg-12">
      <div data-ui-chart="dataHistoCA" data-chart-options="chartOptionsHistoCA"></div>
    </div>
  </div>
  <div class="row line" ng-if="!isLoading">
    <div class="col-lg-12">
      <div data-ui-chart="dataZipcodeCA" data-chart-options="chartOptionsZipcodeCA"></div>
    </div>
  </div>

</div>
