<div data-ng-if="loaded" class="form">
  <fieldset data-ng-if="salesLocations">
    <legend>Visualiser les statistiques de ventes</legend>
    <div class="row line" data-ng-if="salesLocations.length!=0">
      <div class="col-lg-12">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="text-center" width="22%"><a href="#/sales/list"
                                ng-click="sortType = 'locationLabel'; sortReverse = !sortReverse">Centre de profit
                                    <span ng-show="sortType == 'locationLabel' && !sortReverse"
                                    class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'locationLabel' && sortReverse"
                                    class="fa fa-caret-up"></span>
                            </a></th>
              <th class="text-center" width="15%"><a href="#/sales/list"
                                ng-click="sortType = 'turnoverN1'; sortReverse = !sortReverse">CA veille
                                    <span ng-show="sortType == 'turnoverN1' && !sortReverse"
                                    class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'turnoverN1' && sortReverse"
                                    class="fa fa-caret-up"></span>
                            </a></th>
              <th class="text-center" width="15%"><a href="#/sales/list"
                                ng-click="sortType = 'turnoverN0'; sortReverse = !sortReverse">CA jour
                                    <span ng-show="sortType == 'turnoverN0' && !sortReverse"
                                    class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'turnoverN0' && sortReverse"
                                    class="fa fa-caret-up"></span>
                            </a></th>
              <th class="text-center" width="12%"><a href="#/sales/list"
                                ng-click="sortType = 'salesCountN1'; sortReverse = !sortReverse">Clients veille
                                    <span ng-show="sortType == 'salesCountN1' && !sortReverse"
                                    class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'salesCountN1' && sortReverse"
                                    class="fa fa-caret-up"></span>
                            </a></th>
              <th class="text-center" width="12%"><a href="#/sales/list"
                                ng-click="sortType = 'salesCountN0'; sortReverse = !sortReverse">Clients jour
                                    <span ng-show="sortType == 'salesCountN0' && !sortReverse"
                                    class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'salesCountN0' && sortReverse"
                                    class="fa fa-caret-up"></span>
                            </a></th>
              <th class="text-center" width="12%"><a href="#/sales/list"
                                ng-click="sortType = 'averageBasketN1'; sortReverse = !sortReverse">Panier moyen veille
                                    <span ng-show="sortType == 'averageBasketN1' && !sortReverse"
                                    class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'averageBasketN1' && sortReverse"
                                    class="fa fa-caret-up"></span>
                            </a></th>
              <th class="text-center" width="12%"><a href="#/sales/list"
                                ng-click="sortType = 'averageBasketN0'; sortReverse = !sortReverse">Panier moyen jour
                                    <span ng-show="sortType == 'averageBasketN0' && !sortReverse"
                                    class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'averageBasketN0' && sortReverse"
                                    class="fa fa-caret-up"></span>
                            </a></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="sale in salesLocations | orderBy:sortType:sortReverse">
              <td>
                <a href="#/sales/{{sale.locationId}}/form">{{sale.locationLabel}}</a>
              </td>
              <td class="text-center">{{sale.turnoverN1 | number:2}} &euro;</td>
              <td class="text-center">{{sale.turnoverN0 | number:2}} &euro;</td>
              <td class="text-center">{{sale.salesCountN1}}</td>
              <td class="text-center">{{sale.salesCountN0}}</td>
              <td class="text-center">{{sale.averageBasketN1 | number:2}} &euro;</td>
              <td class="text-center">{{sale.averageBasketN0 | number:2}} &euro;</td>
            </tr>
            <tr>
              <td><strong><u>{{TotalOverView.locationId}}</u></strong></td>
              <td class="text-center">{{TotalOverView.turnoverN1 | number:2}} &euro;</td>
              <td class="text-center">{{TotalOverView.turnoverN0 | number:2}} &euro;</td>
              <td class="text-center">{{TotalOverView.salesCountN1}}</td>
              <td class="text-center">{{TotalOverView.salesCountN0}}</td>
              <td class="text-center">{{TotalOverView.averageBasketN1 | number:2}} &euro;</td>
              <td class="text-center">{{TotalOverView.averageBasketN0 | number:2}} &euro;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </fieldset>
</div>
