<div class="col-lg-offset-1 col-lg-10 well form">
  <form name="inventoryForm" data-role="form" novalidate data-ng-submit="inventoryForm.$valid && saveInventory()">
    <div>
      <div class="col-lg-12">
        <fieldset>
          <legend>S&eacute;lectionner des catalogues</legend>
          <div class="row">
            <label class="col-lg-2 ose-control-label">Catalogue</label>
            <div class="col-lg-7 ose-format">
              <ui-select focus-on="SetFocus" data-ng-model="$parent.tariff" data-theme="bootstrap"> <ui-select-match class="ui-select-match"
                data-placeholder="">{{tariff.label}}</ui-select-match> <ui-select-choices class="ui-select-choices" data-repeat="tariff in tariffs | filter: { label: $select.search} ">
              <table width="100%">
                <tr>
                  <td width="20%">
                    <div data-ng-bind-html="tariff.id | highlight: $select.search"></div>
                  </td>
                  <td width="80%">
                    <div data-ng-bind-html="tariff.label | highlight: $select.search"></div>
                  </td>
                </tr>
              </table>
              </ui-select-choices> </ui-select>
            </div>
            <div class="col-lg-3 ose-margin">
              <button type="button" class="btn btn-primary pull-right" data-ng-click="addTariff()">Ajouter le catalogue</button>
            </div>
          </div>
          <div data-ng-if="selectedTariffs.length > 0" class="row">
            <div class="col-lg-12">
              <table class="table">
                <thead>
                  <tr>
                    <th width="10%">R&eacute;f&eacute;rence</th>
                    <th width="70%">Intitul&eacute;</th>
                    <th width="10%"></th>
                    <th width="10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="tariff in selectedTariffs">
                    <td>{{tariff.id}}</td>
                    <td>{{tariff.nom}}</td>
                    <td><toggle-switch
		              ng-model="tariff.exclu"
		              on-label="Exclu"
		              off-label="Inclu"
		              class="switch-danger pull-right">
		            </toggle-switch></td>
                    <td>
                      <i class="fa fa-trash" data-ng-click="removeTariff(tariff.id)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row line">
            <div class="col-lg-12">
              <button class="btn btn-sm btn-danger pull-right" data-ng-click="closeModal()">OK</button>
              <button class="btn btn-sm btn-default pull-right" data-ng-click="modalInstance.dismiss('cancel');">Annuler</button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
  </div>