<div class="col-lg-offset-1 col-lg-10 well form">
  <form name="inventoryForm" data-role="form" novalidate data-ng-submit="inventoryForm.$valid && saveInventory()">
    <div class="row">
      <div class="col-lg-12">
        <fieldset>
          <legend>S&eacute;lectionner des points de vente</legend>
          <div class="row">
            <label class="col-lg-2 ose-control-label">Points de Vente</label>
            <div class="col-lg-7 ose-format">
              <ui-select focus-on="SetFocus" data-ng-model="$parent.location" data-theme="bootstrap"> <ui-select-match class="ui-select-match"
                data-placeholder="">{{location.label}}</ui-select-match> <ui-select-choices class="ui-select-choices" 
                data-repeat="location in locations | filter: $select.search">
              <table width="100%">
                <tr>
                  <td width="20%">
                    <div data-ng-if="location.id" data-ng-bind-html="location.id | highlight: $select.search"></div>
                  </td>
                  <td width="80%">
                    <div data-ng-bind-html="location.label | highlight: $select.search"></div>
                  </td>
                </tr>
              </table>
              </ui-select-choices> </ui-select>
            </div>
            <div class="col-lg-3 ose-margin">
              <button type="button" class="btn btn-primary pull-right" data-ng-click="addLocation()">Ajouter le point de vente</button>
            </div>
          </div>
          <div data-ng-if="selectedLocations.length > 0" class="row">
            <div class="col-lg-12">
              <table class="table">
                <thead>
                  <tr>
                    <th width="10%">R&eacute;f&eacute;rence</th>
                    <th width="80%">Libell&eacute;</th>
                    <th width="10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="location in selectedLocations">
                    <td data-ng-if="location.id">{{location.id}}</td>
                    <td data-ng-if="!location.id"></td>
                    <td>{{location.label}}</td>
                    <td>
                      <i class="fa fa-trash" data-ng-click="removeLocation(location.id)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row line">
            <div class="col-lg-12">
              <button class="btn btn-sm btn-danger pull-right" data-ng-click="closeModal()">OK</button>
              <button class="btn btn-sm btn-default pull-right" data-ng-click="modalInstance.dismiss('cancel');">Annuler</button>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </form>
</div>