<div data-ng-if="loaded" class="form">
  <fieldset data-ng-if="salesLocations">
    <legend>Visualiser les statistiques de ventes</legend>
    <div class="row line" data-ng-if="salesLocations.length!=0">
      <div class="col-lg-12">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th class="text-center" width="20%">Centre de profit</th>
<!--               <th class="text-center" width="20%">CA veille</th>
              <th class="text-center" width="20%">CA jour</th>
              <th class="text-center" width="20%">Panier moyen veille</th>
              <th class="text-center" width="20%">Panier moyen jour</th> -->
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="sale in salesLocations">
              <td class="text-center">
                <a href="#/top-x/{{sale.id}}/form">{{sale.label}}</a>
              </td>
              <!-- <td>{{sale.}}</td>
              <td>{{sale.}}</td>
              <td>{{sale.}}</td>
              <td>{{sale.}}</td>
              <td>{{sale.}}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </fieldset>
</div>
