<div class="form">
	<fieldset>
		<legend>Donn&eacute;es de Ventes par r&eacute;f&eacute;rence</legend>
		<div class="row">
			<label class="col-lg-2 ose-control-label">Point de Vente</label>
			<div class="col-lg-4 ose-format">
				<ui-select focus-on="SetFocus" data-ng-model="criteria.pdv"
					data-theme="bootstrap" on-select="updatePdv()"
					ng-disabled="pdvs === undefined"> <ui-select-match
					class="ui-select-match" allow-clear="true" data-placeholder="">{{criteria.pdv.label}}</ui-select-match>
				<ui-select-choices class="ui-select-choices"
					data-repeat="location in pdvs | filter: $select.search">
				<table width="100%">
					<tr>
						<td width="35%">
							<div data-ng-bind-html="location.id | highlight: $select.search"></div>
						</td>
						<td width="65%">
							<div
								data-ng-bind-html="location.label | highlight: $select.search"></div>
						</td>
					</tr>
				</table>
				</ui-select-choices> </ui-select>
			</div>
			<label class="col-lg-2 ose-control-label" ng-if="pdvs != undefined">Tourn&eacute;e</label>
                <div class="col-lg-4 ose-format" ng-if="pdvs != undefined">
                    <ui-select focus-on="SetFocus" data-ng-model="criteria.tour"
                        data-theme="bootstrap" on-select="updateTour()">
                    <ui-select-match class="ui-select-match" allow-clear="true" data-placeholder="">{{criteria.tour.nom}}</ui-select-match>
                    <ui-select-choices class="ui-select-choices"
                        data-repeat="tour in tours  | filter: ({nom: $select.search} || {id: undefined})">
                    <table width="100%">
                        <tr>
                            <td width="100%">
                                <div data-ng-bind-html="tour.nom | highlight: $select.search"></div>
                            </td>
                        </tr>
                    </table>
                    </ui-select-choices> </ui-select>
                </div>
		</div>
		<div class="row">
			<label class="col-lg-2 ose-control-label">Du </label>
			<div class="col-lg-3 ose-format">
				<p class="input-group ose-input-group">
					<input type="text" name="from" class="form-control"
						uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.from"
						is-open="openedFrom" datepicker-options="dateOptions"
						date-disabled="disabled(date, mode)" current-text="Aujourd'hui"
						clear-text="Effacer" close-text="Fermer" show-weeks="true" /> <span
						class="input-group-btn">
						<button type="button" class="btn btn-default"
							ng-click="openFrom($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>
			<label class="col-lg-1 ose-control-label">au</label>
			<div class="col-lg-3 ose-format">
				<p class="input-group ose-input-group">
					<input type="text" name="from" class="form-control"
						uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.to"
						is-open="openedTo" datepicker-options="dateOptions"
						date-disabled="disabled(date, mode)" current-text="Aujourd'hui"
						clear-text="Effacer" close-text="Fermer" show-weeks="true" /> <span
						class="input-group-btn">
						<button type="button" class="btn btn-default"
							ng-click="openTo($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>
		</div>
		<div class="row">
			<label class="col-lg-2 ose-control-label">Top</label>
			<div class="col-lg-2 ose-format">
				<select class="form-control" data-ng-model="criteria.x"
					data-ng-options="x as x for x in xx"
					data-ng-disabled="false && criteria.selectedProducts.length>0">
				</select>
			</div>
			<label class="col-lg-2 ose-control-label">P&eacute;riode de Vente</label>
                <div class="col-lg-4 ose-format">
                    <ui-select focus-on="SetFocus" data-ng-model="criteria.pricelist"
                        data-theme="bootstrap">
                    <ui-select-match class="ui-select-match" allow-clear="true" data-placeholder="">{{criteria.pricelist.label}}</ui-select-match>
                    <ui-select-choices class="ui-select-choices"
                        data-repeat="list in pricelists  | filter: ({label: $select.search} || {id: undefined})">
                    <table width="100%">
                        <tr>
                            <td width="100%">
                                <div data-ng-bind-html="list.label | highlight: $select.search"></div>
                            </td>
                        </tr>
                    </table>
                    </ui-select-choices> </ui-select>
                </div>
		</div>
		<div class="row">
			<label class="col-lg-2 ose-control-label">Produits</label>
			<div class="col-lg-2 ose-format">
				<button type="button" class="btn btn-default"
					ng-click="selectProductsList()">S&eacute;lectionner
					produits</button>
			</div>
			<div data-ng-if="criteria.selectedProducts.length>0"
				class="col-lg-2 ose-margin">
				<button type="button" class="btn btn-default"
					ng-click="clearProductsList()">Supprimer s&eacute;lection</button>
			</div>
			<div data-ng-if="criteria.selectedProducts.length>0"
				class="col-lg-5 ose-control-label">Produits :
				{{criteria.selectedLabel}}</div>
		</div>
		<div class="row line">
			<div class="col-lg-2">
				<button class="btn btn-primary col-lg-12" data-ng-click="getTopX()">Actualiser</button>
			</div>
		</div>
	</fieldset>
	
	<uib-accordion close-others="false">
		<div uib-accordion-group is-open="statusUnits.isOpen">
			<div uib-accordion-heading>
				<span ng-if="!isLoading && X !=0" uib-accordion-header>Top {{X}} des ventes (en nombre d'unit&eacute; vendues) - Total : {{totalUnits | number:0}}</span>
				<span ng-if="!isLoading && X ==0" uib-accordion-header>Ventes - Nombre d'unit&eacute; vendues : {{totalUnits | number:0}}</span> 
			</div>
			<div has-permission="PERM_VTE_PDT_EXTRACT" class="row line" data-ng-if="!isLoading && topX.length!=0">
				<div class="col-lg-12">
					<button class="btn btn-primary ose-search-button"
						data-ng-click="downloadUnits('xls')">T&eacute;l&eacute;charger</button>
				</div>
			</div>
			<div class="row line" ng-if="!isLoading && topXUnits.length != 0">
				<div class="col-lg-12">
					<table class="table table-condensed">
						<tr>
							<th class="text-center" width="20%">
								<a href="javascript:window.location" ng-click="sortType = 'productCode'; sortReverse = !sortReverse">Code
									<span ng-show="sortType == 'productCode' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'productCode' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							<i ng-show="search.productCode.length > 0" class="glyphicon glyphicon-filter"></i>
				            <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.productCode"></th>
							<th class="text-center" width="60%">
								<a href="javascript:window.location" ng-click="sortType = 'productLabel'; sortReverse = !sortReverse">Nom
									<span ng-show="sortType == 'productLabel' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'productLabel' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							<i ng-show="search.productLabel.length > 0" class="glyphicon glyphicon-filter"></i>
				            <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.productLabel"></th>
							<th class="text-center" width="20%">
								<a href="javascript:window.location" ng-click="sortType = 'units'; sortReverse = !sortReverse">Nombre de ventes
									<span ng-show="sortType == 'units' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'units' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
						</tr>
						<tr data-ng-repeat="top in topXUnits | orderBy:sortType:sortReverse | filter:search">
							<td align="center">
								<a has-permission="PERM_PRODUIT" href="#/products/{{top.productCode}}/form">{{top.productCode}}</a>
								<div has-permission="!PERM_PRODUIT">{{top.productCode}}</div>
							</td>
							<td  align="center">{{top.productLabel}}</td>
							<td class="text-right">{{top.units | number:0}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		<div uib-accordion-group is-open="statusValue.isOpen">
			<div uib-accordion-heading>
				<span ng-if="X !=0">Top {{X}} des ventes (en chiffre d'affaires HT) - Total : {{totalValue | number:2}}</span>
				<span ng-if="X == 0">Ventes - Chiffre d'affaires HT : {{totalValue | number:2}}</span>
			</div>
			<div class="col-lg-12" ng-if="isLoading">
				<h1>
					Loading <i class="fa fa-cog fa-spin"></i>
				</h1>
			</div>
			<div has-permission="PERM_VTE_PDT_EXTRACT" class="row line" data-ng-if="!isLoading">
				<div class="col-lg-12">
					<button class="btn btn-primary ose-search-button"
						data-ng-click="downloadValue('xls')">T&eacute;l&eacute;charger</button>
				</div>
			</div>
			<div class="row line" ng-if="!isLoading && topXValue.length!=0">
				<div class="col-lg-12">
					<table class="table table-condensed">
						<tr>
							<th class="text-center" width="20%">
								<a href="javascript:window.location" ng-click="sortType = 'productCode'; sortReverse = !sortReverse">Code
									<span ng-show="sortType == 'productCode' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'productCode' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							<i ng-show="search.productCode.length > 0" class="glyphicon glyphicon-filter"></i>
				            <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.productCode"></th>
							<th class="text-center" width="60%">
								<a href="javascript:window.location" ng-click="sortType = 'productLabel'; sortReverse = !sortReverse">Nom
									<span ng-show="sortType == 'productLabel' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'productLabel' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							<i ng-show="search.productLabel.length > 0" class="glyphicon glyphicon-filter"></i>
				            <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.productLabel"></th>
							<th class="text-center" width="20%">
								<a href="javascript:window.location" ng-click="sortType = 'units'; sortReverse = !sortReverse">Chiffre d'affaires
									<span ng-show="sortType == 'units' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'units' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
						</tr>
						<tr data-ng-repeat="top in topXValue | orderBy:sortType:sortReverse | filter:search">
							<td align="center">
								<a has-permission="PERM_PRODUIT" href="#/products/{{top.productCode}}/form">{{top.productCode}}</a>
								<div has-permission="!PERM_PRODUIT">{{top.productCode}}</div>
							</td>
							<td align="center">{{top.productLabel}}</td>
							<td class="text-right">{{top.units | number:2}} &euro;</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</uib-accordion>	
</div>
