label {
	margin-bottom: 0px;
}

textarea {
	resize: vertical;
}

.ose-multi-line {
	white-space: pre-line;
}

.ose-control-label {
	margin-top: 10px;
}

.ose-btn-inline {
	margin-left: 10px;
}

.label-view {
	font-weight: normal;
}

.ose-margin {
	padding: 3px 12px;
}

.ose-format {
	border-left: 1px solid #ccc;
	padding: 3px 12px;
	/*padding-left: 15px;
	padding-top: 5px;
	/*padding-top: 5px;*/
}

.ose-form-height {
	height: 40px;
}

.ose-input-group {
	margin-bottom: 0px !important;
}

.line {
	padding-top: 5px;
}

.ose-search-button {
	margin-top: 2px;
}

.ose-stock-in {
	color: green;
}

.login {
	color: green;
}

.ose-stock-out {
	color: red;
}

.logout {
	color: red;
}

a.fa-icon {
	text-decoration: none;
	color: inherit;
	display: block;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}

.ose-dialog-800px {
	margin-left: -100px;
	width: 800px;
	background-color: #ffffff;
}

.button {
	-moz-appearance: button;
	/* Firefox */
	-webkit-appearance: button;
	/* Safari and Chrome */
	padding: 10px;
	margin: 10px;
	width: 70px;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	text-align: center;
	padding-top: 5px;
	margin: 0px;
}

.dragover {
	border: 5px dashed blue;
}

.scrollableContainer {
	padding-top: 71px;
}

.scrollableContainer .headerSpacer {
	height: 72px;
}

.scrollArea table .th-inner {
	height: 72px;
}

.scrollArea table .complete .th-inner .ng-scope {
	display: inline;
	overflow: hidden;
	white-space: initial;
	text-overflow: hidden;
}

.scrollArea table th .box {
	padding: 0 4px;
	padding-right: 11px; /*  order icon width*/
	border-left: 1px solid #ddd;
}

.supervision-criteria {
	margin-bottom: 20px;
}

.card {
	margin-top: 5px;
	border: 1px solid #e3e3e3;
	padding: 15px;
	font-size: 0.8em;
}

.cardGreen {
	background: #dff0d8;
}

.card-line {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card-table {
	background: #FFFFFF;
	margin-top: 15px;
	margin-bottom: 0px;
	width: 100%;
	table-layout: fixed;
}

.card-table>tbody>tr {
	height: 26px;
}

.card-table>tbody>tr>td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* font-size: 0.8em; */
}

.red {
	color: red;
}

.orange {
	color: orange;
}

.green {
	color: green;
}

.link {
	cursor: pointer;
}