html, body {
	height: 100%;
	width: 100%;
}

.single-page {
	height: 100%;
	background-image: linear-gradient(to bottom, #fcfcfc, #dedede);
}

.login-page {
	left: 50%;
	width: 400px;
	margin-left: -200px;
	position: absolute;
}

/**
* Page style
*/
.page {
	background-image: linear-gradient(to bottom, #fcfcfc, #dedede);
	border-color: gray;
	height: 100%;
	vertical-align: top;
	width: 100%;
	vertical-align: top;
}

.primary-menu {
	vertical-align: top;
	height: 42px;
}

.application {
	height: 100%;
	vertical-align: top;
}

.form {
	border: 1px solid #e3e3e3;
	padding: 19px;
}

/**
* Grid Style
*/
.grid {
    width: 90%;
    max-height: 90%;
    /*height: 250px*/
  }
  
.header-filtered {
  color: blue;
}
