.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
}

.container {
	height: 100%;
	background-color: #ffffff;
	padding-top: 55px;
	width: -webkit-fill-available;
}

.radio, .checkbox {
	margin-top: 0px;
	margin-bottom: 0px;
}

.ose-has-error {
	color: #a94442;
}

.modal {
	display: block;
}

.panel {
	border: 1px solid;
	border-color: #ddd;
	margin-top: 5px;
}

.panel-group .panel-heading {
    border-bottom: 0;
    background-color: #f5f5f5;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.4em;
    color: inherit;
}

@media (min-width: 910px){
.modal-dialog {
	width: 900px;
}}
