<div class="form">
  <form>
    <fieldset>
      <legend>Commandes</legend>
      <div class="row">
        <label class="col-lg-2 ose-control-label">Magasin</label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.location">
					<ui-select-match class="ui-select-match" data-placeholder="" allow-clear="true">{{criteria.location.label}}</ui-select-match>
					<ui-select-choices class="ui-select-choices"
						data-repeat="location in locations | filter: $select.search">
					<table width="100%">
						<tr>
							<td width="35%">
								<div data-ng-bind-html="location.id | highlight: $select.search"></div>
							</td>
							<td width="65%">
								<div
									data-ng-bind-html="location.label | highlight: $select.search"></div>
							</td>
						</tr>
					</table>
					</ui-select-choices> </ui-select>
				</div>
				<div class="col-lg-3" has-permission="PERM_COMMANDE" data-ng-if="canCreate">
					<a data-ng-if="criteria.location"
						class="btn btn-danger ose-search-button"
						href="#/orders/form?_action=create&locationId={{criteria.location.id}}">Cr&eacute;er
						une commande pour ce magasin/camion</a>
				</div>
			</div>
      <div class="row">
        <label class="col-lg-2 ose-control-label">R&eacute;f&eacute;rence</label>
        <div class="col-lg-3 ose-format">
          <input name="nom" class="form-control" data-ng-model="criteria.reference" />
        </div>
      </div>
      <div class="row">
        <label class="col-lg-2 ose-control-label">Du </label>
        <div class="col-lg-3 ose-format">
          <p class="input-group ose-input-group">
            <input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.from" is-open="openedFrom"
              datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
              close-text="Fermer" show-weeks="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openFrom($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>
        <label class="col-lg-1 ose-control-label">au</label>
        <div class="col-lg-3 ose-format">
          <p class="input-group ose-input-group">
            <input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.to" is-open="openedTo"
              datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
              close-text="Fermer" show-weeks="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="openTo($event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
        </div>
      </div>
      <div class="row line">
        <div class="col-lg-12">
          <button class="btn btn-primary col-lg-12 ose-search-button" data-ng-click="searchOrders()">Rechercher</button>
        </div>
      </div>
    </fieldset>
  </form>

  <div class='col-lg-12' ng-if='isLoading'>
    <h1>
      Loading <i class='fa fa-cog fa-spin'></i>
    </h1>
  </div>

  <fieldset data-ng-if="!isLoading && orders">
    <legend>Liste des commandes</legend>
    <div class="row line" data-ng-if="orders.length==0">
      <div class="col-lg-12">Aucun r&eacute;sultat ne correspond aux crit&egrave;res de recherche.</div>
    </div>

    <!-- <div class="row line" data-ng-if="orders.length!=0">
      <div class="col-lg-12">
        <button class="btn btn-primary ose-search-button" data-ng-click="downloadCSV()">T&eacute;l&eacute;charger le fichier au
          format csv</button>
      </div>
    </div> -->

    <div class="row line" data-ng-if="orders.length!=0">
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center" width="120px">
                <a href="#/orders/list" ng-click="sortType = 'creationDate'; sortReverse = !sortReverse">Date <span
                  ng-show="sortType == 'creationDate' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'creationDate' && sortReverse" class="fa fa-caret-up"></span>
                </a><br>&nbsp;
              </th>
              <th class="text-center">
                <a href="#/orders/list" ng-click="sortType = 'reference'; sortReverse = !sortReverse">R&eacute;f&eacute;rence <span
                  ng-show="sortType == 'reference' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'reference' && sortReverse" class="fa fa-caret-up"></span>
                </a><br>
                <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.reference">
              </th>
              <th class="text-center" width="200px">
                <a href="#/orders/list" ng-click="sortType = 'locationTo'; sortReverse = !sortReverse">Magasin<span
                  ng-show="sortType == 'locationTo' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'locationTo' && sortReverse" class="fa fa-caret-up"></span>
                </a><br>
                <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.locationTo">
              </th>
              <th class="text-center" width="200px">
                <a href="#/orders/list" ng-click="sortType = 'locationFrom'; sortReverse = !sortReverse">Commande &agrave;<span
                  ng-show="sortType == 'locationFrom' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'locationFrom' && sortReverse" class="fa fa-caret-up"></span>
                </a><br>
                <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.locationFrom">
              </th>
              <th class="text-center col-lg-2" width="120px">
                <a href="#/orders/list" ng-click="sortType = 'status'; sortReverse = !sortReverse">Avancement<span
                  ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                </a><br>
                <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.status">
              </th>
              <th class="text-center" has-permission="PERM_ADMIN_JOBS">
               Forcer Synchronisation
              </th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="order in orders | orderBy:sortType:sortReverse | filter:search">
              <td>
                <a href="#/orders/{{order.id}}/form">{{order.creationDate | date:'dd/MM/yyyy'}}</a>
              </td>
              <td>{{order.reference}}</td>
              <td>{{order.locationTo}}</td>
              <td>{{order.locationFrom}}</td>
              <td class="text-center">{{order.status}}</td>
              <td class="text-center" has-permission="PERM_ADMIN_JOBS">
                <button type="button" class="btn btn-default" ng-click="reSync(order)">
                    <i class="glyphicon glyphicon-refresh"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </fieldset>
</div>
