<form name="orderForm" data-role="form" novalidate data-ng-submit="orderForm.$valid && edit">
	<div class="form">
		<div data-ng-if="isLoading" class="row">
			<div class="col-lg-12">
				<h1>
					Loading <i class="fa fa-cog fa-spin"></i>
				</h1>
			</div>
		</div>
		<fieldset data-ng-if="!isLoading">
			<legend>Saisie d'une commande</legend>

			<div class="row">
				<div class="col-lg-2">
					<label class="control-label">Magasin/Camion*</label>
				</div>
				<div class="col-lg-4 ose-format">
					<label class="label-view">{{order.locationTo.label}}</label>
				</div>
				<div class="col-lg-1">
					<label class="control-label">du</label>
				</div>
				<div class="col-lg-2 ose-format">
					<label class="label-view">{{order.creationDate | date : 'dd/MM/yyyy'}}</label>
				</div>
				<div class="col-lg-1">
					<label class="control-label">par</label>
				</div>
				<div class="col-lg-2 ose-format">
					<label class="label-view">{{order.username}}</label>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-2">
					<label class="control-label">Command&eacute; &agrave;*</label>
				</div>
				<div class="col-lg-4 ose-format"
					data-ng-class="{'has-error' : orderForm.$submitted && orderForm.destination.$invalid}">
					<label data-ng-if="!edit || order.id" class="label-view">{{order.locationFrom.label}}</label>
					<select data-ng-if="edit && !order.id" name="destination" class="form-control" 
						data-ng-model="order.locationFrom" data-ng-required="true"
						data-ng-options="l as l.label for l in locations track by l.id">
					</select>
				</div>
				<div class="col-lg-1"></div>
				<div data-ng-if="!order.id || canModify" class="col-lg-4 ose-format">
					<div data-ng-show="order.statusOrder<6" ngf-drop="upload($file)"
						ngf-select="upload($file)" ng-model="file" class="drop-box" 
						ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
						accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
						ngf-pattern="'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
							Injecter une mise &agrave; jour depuis un fichier Excel
					</div>
					<div data-ng-show="order.statusOrder<6" ngf-no-file-drop>
						<div class="button" ngf-select="upload($file)" ng-model="file" ngf-multiple="false">
							Charger un fichier Excel
						</div>
					</div>
				</div>
				<!--  https://github.com/danialfarid/ng-file-upload  -->
			</div>
			<div class="row line" data-ng-if="log.length!=0">
				<div class="col-lg-12">
					<pre>{{log}}</pre>
				</div>
			</div>

			<div class="row" data-ng-if="log.length==0">
				<div class="col-lg-2">
					<label class="control-label">R&eacute;f&eacute;rence</label>
				</div>
				<div class="col-lg-4 ose-format">
					<label data-ng-if="!edit || order.id" class="label-view">{{order.reference}}</label>
					<input data-ng-if="edit && !order.id" name="reference" class="form-control" data-ng-model="order.reference">
				</div>
			</div>

			<div class="row" data-ng-if="log.length==0">
				<div class="col-lg-2">
					<label class="control-label">Etat de la commande</label>
				</div>
				<div class="col-lg-4 ose-format">
					<label class="label-view">{{order.status}}</label>
				</div>
				<div class="col-lg-1">
					<label class="control-label">le</label>
				</div>
				<div class="col-lg-2 ose-format">
					<label class="label-view">{{getDate() | date : 'dd/MM/yyyy HH:mm'}}</label>
				</div>
				<div class="col-lg-1">
					<label class="control-label">par</label>
				</div>
				<div class="col-lg-2 ose-format">
					<label class="label-view">{{getUser()}}</label>
				</div>
			</div>

			<div class="row" data-ng-if="log.length==0">
				<div class="col-lg-2">
					<label class="control-label">Note</label>
				</div>
				<div class="col-lg-4 ose-format">
					<label data-ng-if="!edit" class="label-view ose-multi-line">{{order.note}}</label>
					<textarea data-ng-if="edit" class="form-control" data-ng-model="order.note"></textarea>
				</div>
				<div has-permission="PERM_COMMANDE_VALORISATION" class="col-lg-1">
                    <label data-ng-if="value > 0" class="control-label">Valorisation</label>
                </div>
                <div has-permission="PERM_COMMANDE_VALORISATION" class="col-lg-2 ose-format">
                    <label data-ng-if="value > 0 && !incertain" class="label-view">{{value | number:2}} &euro;</label>
                    <label data-ng-if="value > 0 && incertain" class="label-view" data-toggle="tooltip" data-placement="auto" title="Rechargez la page pour actualiser la valorisation!"><i>{{value | number:2}} &euro;</i></label>
                </div>
			</div>

			<div class="row" data-ng-if="order.id && log.length==0">
				<div class="col-lg-12">
					<button  has-permission="PERM_COMMANDE_EXTRACT"
					    class="btn btn-primary ose-search-button "
					    data-ng-class="{'col-lg-12': order.statusOrder < 5,'col-lg-4' : order.statusOrder > 4}"
						data-ng-click="downloadXLS()" ng-disabled="isLoading || isDownLoading">
						T&eacute;l&eacute;charger le fichier au format Tableur
					</button>
					<button has-permission="PERM_COMMANDE_BON_LIVRAISON" 
					    class="btn btn-primary ose-search-button col-lg-4"
                        data-ng-if="order.statusOrder > 4 "
                        data-ng-click="downloadBL()" ng-disabled="isLoading || isDownLoading">
                        T&eacute;l&eacute;charger le Bon de Livraison
                    </button>
					<button has-permission="PERM_COMMANDE_EXPORT_OFBIZ" 
					    class="btn btn-primary ose-search-button col-lg-4"
                        data-ng-if="order.statusOrder == 4 || order.statusOrder == 5"
                        data-ng-click="downloadOfbiz()" ng-disabled="isLoading || isDownLoading">
                        T&eacute;l&eacute;charger le fichier des mouvements pour Ofbiz
                    </button>
                    <button has-permission="PERM_COMMANDE_EXPORT_OFBIZ" 
                        class="btn btn-primary ose-search-button col-lg-4"
                        data-ng-if="order.statusOrder == 6"
                        data-ng-click="downloadOfbiz()" ng-disabled="isLoading || isDownLoading">
                        T&eacute;l&eacute;charger le fichier des &eacute;carts pour Ofbiz
                    </button>
				</div>
			</div>
			
			<div data-ng-if="canEdit && log.length==0" class="row line">
				<div class="col-lg-12">
					<button data-ng-if="order.statusOrder==1 && !edit && canValidate && order.orderDetails.length!=0"
						class="btn btn-danger pull-left" data-ng-click="nextOrderStep()">
							Valider	la commande
					</button>
					
					<button data-ng-if="order.statusOrder==2 && !edit && canValidate"
						class="btn btn-danger pull-left" data-ng-click="nextOrderStep()">
						Pr&eacute;parer la commande ou palette
					</button>
					<button has-permission="PERM_COMMANDE_CONTROLE" data-ng-if="order.statusOrder==3 && !edit && canValidate"
						class="btn btn-danger pull-left" data-ng-click="nextOrderStep()">
						Contr&ocirc;ler la commande
					</button>
					<button data-ng-if="order.statusOrder==4 && !edit && canValidate"
						class="btn btn-danger pull-left" data-ng-click="nextOrderStep()">
						Exp&eacute;dier la commande
					</button>
					<button data-ng-if="order.statusOrder>=2 && !edit && canModify && canCreateNewPalette"
						class="btn btn-danger pull-right ose-btn-inline"
						data-ng-click="createPalette()">
						Cr&eacute;er une palette
					</button>
					<button has-permission="PERM_COMMANDE" data-ng-if="!edit && canModify" class="btn btn-danger pull-right ose-btn-inline"
						data-ng-click="editOrder()">
						Modifier la commande
					</button>
					<button has-permission="PERM_COMMANDE_GENERER" data-ng-if="order.statusOrder==1 && !edit" 
						class="btn btn-danger pull-right ose-btn-inline" data-ng-click="generateOrder()">
						G&eacute;n&eacute;rer la commande
					</button>
					<button data-ng-if="order.statusOrder<4 && !edit && canDelete" 
						class="btn btn-danger pull-right ose-btn-inline" data-ng-click="deleteOrder()">
						Supprimer la commande
					</button>
					<button data-ng-if="edit && !isloading" class="btn btn-danger pull-right ose-btn-inline"
						data-ng-click="saveOrder()">
						Enregistrer
					</button>
					<button data-ng-if="edit && order.id" class="btn btn-default pull-right ose-btn-inline"
						data-ng-click="cancelOrder()">
						Annuler
					</button>
					<button has-permission="PERM_COMMANDE_RECEPTION_GLOBAL" data-ng-if="order.statusOrder==5 && canValidate " type="button" class="btn btn-danger pull-right"
							data-ng-click="receivePalettes()">R&eacute;ceptionner la commande</button>
				</div>
			</div>
			<div class="col-lg-12" ng-if="log.length!=0">
				<h1 ng-if="!loaded">
					Loading <i class="fa fa-cog fa-spin"></i>
				</h1>
				<h1 ng-if="loaded">
                    <a href="#/orders/list">Retour</a>
                </h1>
			</div>

			<div data-ng-if="order.id && log.length==0">

				<fieldset data-ng-if="order.statusOrder>=2 && order.statusOrder<5 && order.palettes.length>0">
					<legend>D&eacute;tail des palettes planifi&eacute;es</legend>

					<div class="row">
						<div class="col-lg-12">
							<table class="table table-condensed table-hover">
								<tr>
									<th class="text-center" width="40%">
										<a ng-click="sortType2 = 'name'; sortReverse2 = !sortReverse2">
											Palette 
											<span ng-show="sortType2 == 'name' && !sortReverse2" class="fa fa-caret-down"></span>
											<span ng-show="sortType2 == 'name' && sortReverse2" class="fa fa-caret-up"></span>
										</a><br>
										<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search2.name">
									</th>
									<th class="text-center" width="20%">
										<a ng-click="sortType2 = 'preparationUsername'; sortReverse2 = !sortReverse2">
											Pr&eacute;parateur
											<span ng-show="sortType2 == 'preparationUsername' && !sortReverse2" class="fa fa-caret-down"></span>
											<span ng-show="sortType2 == 'preparationUsername' && sortReverse2" class="fa fa-caret-up"></span>
										</a><br>
										<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search2.preparationUsername">
									</th>
									<th data-ng-if="order.statusOrder<5" class="text-center" width="20%">
										<a ng-click="sortType2 = 'nbLines'; sortReverse2 = !sortReverse2">
											Nb d'emplacement
											<span ng-show="sortType2 == 'nbLines' && !sortReverse2" class="fa fa-caret-down"></span>
											<span ng-show="sortType2 == 'nbLines' && sortReverse2" class="fa fa-caret-up"></span>
										</a><br>
									</th>
									<th class="text-center" width="20%" data-ng-if="order.statusOrder<5"><a
										ng-click="sortType2 = 'nbLinesLeft'; sortReverse2 = !sortReverse2">Nb
											d'emplacement restant <span
											ng-show="sortType2 == 'nbLinesLeft' && !sortReverse2"
											class="fa fa-caret-down"></span> <span
											ng-show="sortType2 == 'nbLinesLeft' && sortReverse2"
											class="fa fa-caret-up"></span>
									</a><br></th>
									<th width="30px"></th>
									<th width="30px"></th>
								</tr>
								<tr
									data-ng-repeat="palette in order.palettes | orderBy:sortType2:sortReverse2 | filter:search2">
									<td>{{palette.name}}</td>
									<td>{{palette.preparationUsername}}</td>
									<td class="text-right" data-ng-if="order.statusOrder<5">{{palette.nbLines}}</td>
									<td class="text-right" data-ng-if="order.statusOrder<5">{{palette.nbLinesLeft}}</td>

									<td>
										<div data-ng-if="palette.statusOrder >= 4">
											<i class="fa fa-circle login"></i>
										</div>
										<div data-ng-if="palette.statusOrder < 4">
											<i class="fa fa-circle logout"></i>
										</div>
									</td>

									<td data-ng-if="order.statusOrder>=2 && !edit"><a
										data-ng-if="order.palettes.length != 0 && orderDetail.canBePaletized"
										class="fa fa-icon fa-cube"
										data-ng-click="addToPalette(orderDetail.id)"
										title="Ajouter sur une palette ({{orderDetail.qtAPrepSansPalette}})"></a>
									</td>

									<td><a class="fa fa-icon fa-external-link"
										data-ng-click="editPalette(palette.id)"
										title="Visualiser la palette"></a></td>
									<td><a data-ng-if="palette.statusOrder==2"
										class="fa fa-icon fa-trash-o"
										data-ng-click="deletePalette(palette.id)"
										title="Supprimer la palette"></a></td>
								</tr>
							</table>
						</div>
					</div>

				</fieldset>

				<fieldset has-permission="PERM_COMMANDE_AJOUTER_PDT" data-ng-if="!edit && canModify && canEdit">
					<legend>Ajouter produit</legend>
					<div class="row line">
						<label class="col-lg-2 ose-control-label">Produit</label>
						<div class="col-lg-6 ose-format">
							<ui-select focus-on="SetFocus"
								data-ng-model="$parent.orderDetail.product"
								data-theme="bootstrap" reset-search-input="true"
								on-select="getStockInfo($item)"> <ui-select-match
								class="ui-select-match">{{orderDetail.product.label}}</ui-select-match>
							<ui-select-choices class="ui-select-choices"
								data-repeat="product in products"
								data-refresh="getProducts($select.search)" refresh-delay="0">
							<table width="100%">
								<tr>
									<td width="20%">
										<div
											data-ng-bind-html="product.barcode | highlight: $select.search"></div>
									</td>
									<td width="80%">
										<div
											data-ng-bind-html="product.label | highlight: $select.search"></div>
									</td>
								</tr>
							</table>
							</ui-select-choices>
						</div>
						<div class="col-lg-2 ose-margin">
							<input name="quantity" class="form-control"
								data-ng-model="orderDetail.quantityAsked">
						</div>
						<div class="col-lg-2 ose-margin">
							<button type="button" class="btn btn-primary pull-right"
								data-ng-click="addOrderDetail()">Ajouter un produit</button>
						</div>
					</div>
				</fieldset>

				<div class="col-lg-12" ng-if="isGenerating">
					<h1>
						Loading <i class="fa fa-cog fa-spin"></i>
					</h1>
				</div>

				<fieldset data-ng-if="order.orderDetails.length!=0">
					<legend>
						D&eacute;tail des produits de la commande
						({{order.orderDetails.length}})<a
							ng-click="sortType = sortType == 'id'  && !sortReverse  ? '' : 'id'; sortReverse = sortType == '' ? sortReverse : !sortReverse"><i
							class="fa fa-filter" aria-hidden="true"></i> <span
							ng-show="sortType == 'id' && !sortReverse"
							class="fa fa-caret-down"></span> <span
							ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
						</a>
					</legend>

					<div class="row">

						<div class="col-lg-12">
							<table class="table table-condensed table-hover">
								<thead>
									<tr>
										<th class="text-center" width="10%"><a
											ng-click="sortType = 'product.barcode'; sortReverse = !sortReverse">R&eacute;f&eacute;rence
												<span
												ng-show="sortType == 'product.barcode' && !sortReverse"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'product.barcode' && sortReverse"
												class="fa fa-caret-up"></span>
										</a><br> <input type="text" class="form-control"
											placeholder="Filtre : !pour exclure"
											ng-model="search.product.barcode"></th>
										<th class="text-center"><a
											ng-click="sortType = 'product.label'; sortReverse = !sortReverse">Produit
												<span ng-show="sortType == 'product.label' && !sortReverse"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'product.label' && sortReverse"
												class="fa fa-caret-up"></span>
										</a><br> <input type="text" class="form-control"
											placeholder="Filtre : !pour exclure"
											ng-model="search.product.label"></th>
										<th
											data-ng-show="order.statusOrder>=2 && order.statusOrder<5 "
											class="text-center" width="10%"><a
											ng-click="sortType = 'product.stockLocation'; sortReverse = !sortReverse">Emplacement
												<span
												ng-show="sortType == 'product.stockLocation' && !sortReverse"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'product.stockLocation' && sortReverse"
												class="fa fa-caret-up"></span>
										</a><br> <input type="text" class="form-control"
											placeholder="Filtre : !pour exclure"
											ng-model="search.product.stockLocation"></th>
										<th class="text-center" width="10%"
											data-ng-show="order.statusOrder<5"><a
											ng-click="sortType = 'stockTo'; sortReverse = !sortReverse">Qt&eacute;
												stock ({{order.locationTo.label}})<span
												ng-show="sortType == 'stockTo' && !sortReverse"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'stockTo' && sortReverse"
												class="fa fa-caret-up"></span>
										</a><br>&nbsp;</th>
										 <th class="text-center" width="10%"
											data-ng-show="order.statusOrder<5"><a
											ng-click="sortType = 'stockFrom'; sortReverse = !sortReverse">Qt&eacute;
												stock ({{order.locationFrom.label}})<span
												ng-show="sortType == 'stockFrom' && !sortReverse"
												class="fa fa-caret-down"></span><span
												ng-show="sortType == 'stockFrom' && sortReverse"
												class="fa fa-caret-up"></span>
										</a><br>&nbsp;</th>
										<th class="text-center" width="10%"><a
											ng-click="sortType = 'quantityAsked'; sortReverse = !sortReverse">Qt&eacute;
												command&eacute;e <span
												ng-show="sortType == 'quantityAsked' && !sortReverse"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'quantityAsked' && sortReverse"
												class="fa fa-caret-up"></span>
										</a><br>&nbsp;</th>
										<th data-ng-show="order.statusOrder>=2" class="text-center"
											width="10%"><a
											ng-click="sortType = 'quantityToPrepare'; sortReverse = !sortReverse">Qt&eacute;
												&agrave; pr&eacute;parer <span
												ng-show="sortType == 'quantityToPrepare' && !sortReverse"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'quantityToPrepare' && sortReverse"
												class="fa fa-caret-up"></span>
										</a><br>&nbsp;</th>
										<th data-ng-show="order.statusOrder>=3" class="text-center"
											width="30px"><a
											ng-click="sortType = 'alertToPrepare'; sortReverse = !sortReverse"><i
												class="fa fa-exclamation-triangle"></i><span
												ng-show="sortType == 'alertToPrepare' && !sortReverse"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'alertToPrepare' && sortReverse"
												class="fa fa-caret-up"></span> </a><br></th>
										<th data-ng-show="order.statusOrder>=3" class="text-center"
											width="10%"><a
											ng-click="sortType = 'quantityPrepared'; sortReverse = !sortReverse">Qt&eacute;
												pr&eacute;par&eacute;e <span
												ng-show="sortType == 'quantityPrepared' && !sortReverse"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'quantityPrepared' && sortReverse"
												class="fa fa-caret-up"></span>
										</a><br>&nbsp;</th>
										<th data-ng-show="order.statusOrder>=4" class="text-center"
											width="30px"><a
											ng-click="sortType = 'alertPrepared'; sortReverse = !sortReverse"><i
												class="fa fa-exclamation-triangle"></i><span
												ng-show="sortType == 'alertPrepared' && !sortReverse"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'alertPrepared' && sortReverse"
												class="fa fa-caret-up"></span> </a><br></th>
										<th data-ng-show="order.statusOrder>=4" class="text-center"
											width="10%"><a
											ng-click="sortType = 'quantitySent'; sortReverse = !sortReverse">Qt&eacute;
												control&eacute;e <span
												ng-show="sortType == 'quantitySent' && !sortReverse"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'quantitySent' && sortReverse"
												class="fa fa-caret-up"></span>
										</a><br>&nbsp;</th>
										<th data-ng-show="order.statusOrder>=5" class="text-center"
											width="30px"><a
											ng-click="sortType = 'alertSent'; sortReverse = !sortReverse"><i
												class="fa fa-exclamation-triangle"></i><span
												ng-show="sortType == 'alertSent' && !sortReverse"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'alertSent' && sortReverse"
												class="fa fa-caret-up"></span> </a><br></th>
										<th data-ng-show="order.statusOrder>=5" class="text-center"
											width="10%"><a
											ng-click="sortType = 'quantityReceived'; sortReverse = !sortReverse">Qt&eacute;
												r&eacute;ceptionn&eacute;e <span
												ng-show="sortType == 'quantityReceived' && !sortReverse"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'quantityReceived' && sortReverse"
												class="fa fa-caret-up"></span>
										</a><br>&nbsp;</th>
										<th data-ng-show="order.statusOrder>=6" class="text-center"
											width="30px"><a
											ng-click="sortType = 'alertReceived'; sortReverse = !sortReverse"><i
												class="fa fa-exclamation-triangle"></i><span
												ng-show="sortType == 'alertReceived' && !sortReverse"
												class="fa fa-caret-down"></span> <span
												ng-show="sortType == 'alertReceived' && sortReverse"
												class="fa fa-caret-up"></span> </a><br></th>
										<th
											data-ng-if="(order.statusOrder==1 || order.statusOrder==2) && !edit"
											width="30px"></th>
										<th
											data-ng-if="(order.statusOrder==1 || order.statusOrder==2) && !edit"
											width="30px"></th>
										<th
											data-ng-show="order.statusOrder>=2 && !edit && order.statusOrder<5"
											width="30px"><a
                                            ng-click="sortType = 'qtAPrepSansPalette'; sortReverse = !sortReverse"><i
                                                class="fa fa-cube"></i><span
                                                ng-show="sortType == 'qtAPrepSansPalette' && !sortReverse"
                                                class="fa fa-caret-down"></span> <span
                                                ng-show="sortType == 'qtAPrepSansPalette' && sortReverse"
                                                class="fa fa-caret-up"></span> </a><br></th>
									</tr>
								</thead>
								<tbody>
									<tr
										data-ng-repeat="orderDetail in order.orderDetails | orderBy:sortType:sortReverse | filter:search"
										ng-controller="orderDetailController">
										<td>
											<a has-permission="PERM_PRODUIT" href="#/products/{{orderDetail.product.barcode}}/form">{{orderDetail.product.barcode}}</a>
											<div has-permission="!PERM_PRODUIT">{{orderDetail.product.barcode}}</div>
										</td>
										<td><div data-toggle="tooltip" data-placement="top"
                                                title="{{orderDetail.productPaletteInfo}}">{{orderDetail.product.label}}</div></td>
										<td data-ng-if="order.statusOrder>=2 && order.statusOrder<5">{{orderDetail.product.stockLocation}}</td>
										<td class="text-right" data-ng-if="order.statusOrder<5">{{orderDetail.stockTo}}</td>
										<td class="text-right" data-ng-if="order.statusOrder<5">{{orderDetail.stockFrom}}</td>
										<!-- Qte commandée -->
										<td class="text-right">
											<div data-ng-if="order.statusOrder > 1 || !editQuantity">{{orderDetail.quantityAsked}}</div>
											<div data-ng-if="order.statusOrder==1 && editQuantity">
												<input name="unit" class="form-control input-sm"
													data-ng-model="orderDetail.quantityAsked"
													data-ng-required="true">
											</div>
										</td>
										<!-- Qte à préparer -->
										<td data-ng-if="order.statusOrder>=2" class="text-right">
											<div data-ng-if="order.statusOrder > 2 || !editQuantity">{{orderDetail.quantityToPrepare}}</div>
											<div data-ng-if="order.statusOrder==2 && editQuantity">
												<input name="unit" class="form-control input-sm"
													data-ng-model="orderDetail.quantityToPrepare"
													data-ng-required="true">
											</div>
										</td>
										<td data-ng-if="order.statusOrder>=3" class="text-danger">
											<div
												data-ng-if="orderDetail.quantityToPrepare != orderDetail.quantityAsked"
												data-toggle="tooltip" data-placement="top"
												title="Ecart entre Qt&eacute; Valid&eacute;e et Command&eacute;e">
												<i class="fa fa-exclamation-triangle"></i>
												<div ng-hide="true">{{orderDetail.alertToPrepare =
													orderDetail.quantityAsked > orderDetail.quantityToPrepare ?
													orderDetail.quantityAsked - orderDetail.quantityToPrepare :
													orderDetail.quantityToPrepare - orderDetail.quantityAsked}}</div>
											</div>
										</td>
										<!-- Qte  préparée -->
										<td data-ng-if="order.statusOrder>=3" class="text-right">{{orderDetail.quantityPrepared}}</td>
										<td data-ng-if="order.statusOrder>=4" class="text-danger">
											<div
												data-ng-if="orderDetail.quantityToPrepare != orderDetail.quantityPrepared"
												data-toggle="tooltip" data-placement="top"
												title="Ecart entre Qt&eacute; Valid&eacute;e et Pr&eacute;par&eacute;e">
												<i class="fa fa-exclamation-triangle"></i>
												<div ng-hide="true">{{orderDetail.alertPrepared =
													orderDetail.quantityPrepared >
													orderDetail.quantityToPrepare ?
													orderDetail.quantityPrepared -
													orderDetail.quantityToPrepare :
													orderDetail.quantityToPrepare -
													orderDetail.quantityPrepared }}</div>
											</div>
										</td>
										<!-- Qte controlée -->
										<td data-ng-if="order.statusOrder>=4" class="text-right">{{orderDetail.quantitySent}}</td>
										<td data-ng-if="order.statusOrder>=5" class="text-danger">
											<div
												data-ng-if="orderDetail.quantitySent != orderDetail.quantityPrepared"
												data-toggle="tooltip" data-placement="top"
												title="Ecart entre Qt&eacute; Pr&eacute;par&eacute;e et Exp&eacute;di&eacute;e">
												<i class="fa fa-exclamation-triangle"></i>
												<div ng-hide="true">{{orderDetail.alertSent =
													orderDetail.quantityPrepared > orderDetail.quantitySent ?
													orderDetail.quantityPrepared - orderDetail.quantitySent :
													orderDetail.quantitySent - orderDetail.quantityPrepared }}</div>
											</div>
										</td>
										<!-- Qte à préparer ou envoyer -->
										<td data-ng-if="order.statusOrder>=5" class="text-right">{{orderDetail.quantityReceived}}</td>
										<td data-ng-if="order.statusOrder>5"
											class="text-center text-danger"><div
												data-ng-if="orderDetail.quantityReceived != orderDetail.quantitySent"
												data-toggle="tooltip" data-placement="top"
												title="Ecart entre Qt&eacute; R&eacute;ceptionn&eacute;e et Exp&eacute;di&eacute;e">
												<i class="fa fa-exclamation-triangle"></i>
												<div ng-hide="true">{{orderDetail.alertReceived =
													orderDetail.quantityReceived > orderDetail.quantitySent ?
													orderDetail.quantityReceived - orderDetail.quantitySent :
													orderDetail.quantitySent - orderDetail.quantityReceived }}</div>
											</div></td>
										<!-- corbeille pour supprimer une ligne -->
										<td
											data-ng-if="(order.statusOrder==1 || order.statusOrder==2) && !edit && canModify">
											<a data-ng-if="!editQuantity" href=""
											class="fa fa-icon fa-edit"
											title="Modifier la quantit&eacute;"
											data-ng-click="editOrderDetail()"></a> <a
											data-ng-if="editQuantity" href="" class="fa fa-icon fa-save"
											title="Enregistrer la modification"
											data-ng-click="saveOrderDetail()"></a>
										</td>
										<td
											data-ng-if="(order.statusOrder==1 || order.statusOrder==2) && !edit && canModify">
											<div
												data-ng-if="order.statusOrder==1 || (order.statusOrder==2 && orderDetail.quantityAsked==0)">
												<a href="" class="fa fa-icon fa-trash"
													title="Supprimer la ligne"
													data-ng-click="removeOrderDetail(orderDetail)"></a>
											</div>
										</td>
										<!-- carton pour envoyer un reliquat sur une palette -->
										<!-- on vire si on est déjà expédié -->
										<td
											data-ng-if="order.statusOrder>=2 && !edit && order.statusOrder<5">
											<div ng-hide="true">{{orderDetail.qtAPrepSansPalette }}</div>
											<div data-ng-if="order.palettes.length != 0 && orderDetail.canBePaletized">
											<a
											class="fa fa-icon fa-cube"
											data-ng-click="addToPalette(orderDetail.id , sortType , sortReverse)"
											title="Ajouter sur une palette ({{orderDetail.qtAPrepSansPalette}})"></a>
											</div>
										</td>

									</tr>
								</tbody>
							</table>
						</div>
					</div>

				</fieldset>

				<fieldset
					data-ng-if="order.statusOrder>=5 && order.palettes.length>0">
					<legend>D&eacute;tail des palettes planifi&eacute;es</legend>

					<div class="row">
						<div class="col-lg-12">
							<table class="table table-condensed table-hover">
								<tr>
									<th class="text-center" width="40%"><a
										ng-click="sortType2 = 'name'; sortReverse2 = !sortReverse2">Palette
											<span ng-show="sortType2 == 'name' && !sortReverse2"
											class="fa fa-caret-down"></span> <span
											ng-show="sortType2 == 'name' && sortReverse2"
											class="fa fa-caret-up"></span>
									</a><br> <input type="text" class="form-control"
										placeholder="Filtre : !pour exclure" ng-model="search2.name">
									</th>
									<th class="text-center" width="20%"><a
										ng-click="sortType2 = 'preparationUsername'; sortReverse2 = !sortReverse2">Pr&eacute;parateur
											<span
											ng-show="sortType2 == 'preparationUsername' && !sortReverse2"
											class="fa fa-caret-down"></span> <span
											ng-show="sortType2 == 'preparationUsername' && sortReverse2"
											class="fa fa-caret-up"></span>
									</a><br> <input type="text" class="form-control"
										placeholder="Filtre : !pour exclure"
										ng-model="search2.preparationUsername"></th>
									<th class="text-center" width="20%"
										data-ng-if="order.statusOrder<5"><a
										ng-click="sortType2 = 'nbLines'; sortReverse2 = !sortReverse2">Nb
											d'emplacement <span
											ng-show="sortType2 == 'nbLines' && !sortReverse2"
											class="fa fa-caret-down"></span> <span
											ng-show="sortType2 == 'nbLines' && sortReverse2"
											class="fa fa-caret-up"></span>
									</a><br></th>
									<th class="text-center" width="20%"
										data-ng-if="order.statusOrder<5"><a
										ng-click="sortType2 = 'nbLinesLeft'; sortReverse2 = !sortReverse2">Nb
											d'emplacement restant <span
											ng-show="sortType2 == 'nbLinesLeft' && !sortReverse2"
											class="fa fa-caret-down"></span> <span
											ng-show="sortType2 == 'nbLinesLeft' && sortReverse2"
											class="fa fa-caret-up"></span>
									</a><br></th>
									<th width="30px"></th>
									<th width="30px"></th>
								</tr>
								<tr
									data-ng-repeat="palette in order.palettes | orderBy:sortType2:sortReverse2 | filter:search2">
									<td>{{palette.name}}</td>
									<td>{{palette.preparationUsername}}</td>
									<td class="text-right" data-ng-if="order.statusOrder<5">{{palette.nbLines}}</td>
									<td class="text-right" data-ng-if="order.statusOrder<5">{{palette.nbLinesLeft}}</td>

									<td>
										<div data-ng-if="palette.statusOrder >= 4">
											<i class="fa fa-circle login"></i>
										</div>
										<div data-ng-if="palette.statusOrder < 4">
											<i class="fa fa-circle logout"></i>
										</div>
									</td>

									<td data-ng-if="order.statusOrder>=2 && !edit"><a
										data-ng-if="order.palettes.length != 0 && orderDetail.canBePaletized"
										class="fa fa-icon fa-cube"
										data-ng-click="addToPalette(orderDetail.id)"
										title="Ajouter sur une palette ({{orderDetail.qtAPrepSansPalette}})"></a>
									</td>

									<td><a class="fa fa-icon fa-external-link"
										data-ng-click="editPalette(palette.id)"
										title="Visualiser la palette"></a></td>
									<td><a data-ng-if="palette.statusOrder==2"
										class="fa fa-icon fa-trash-o"
										data-ng-click="deletePalette(palette.id)"
										title="Supprimer la palette"></a></td>
								</tr>
							</table>
						</div>
					</div>
				</fieldset>
			</div>
		</fieldset>
	</div>
</form>