<form name="preparationPaletteForm" data-role="form" novalidate data-ng-submit="preparationPaletteForm.$valid && nextPaletteStep()">
	<div class="form">

		<div data-ng-if="isLoading" class="row">
			<div class="col-lg-12">
				<h1>
					Loading <i class="fa fa-cog fa-spin"></i>
				</h1>
			</div>
		</div>

		<fieldset data-ng-if="!isLoading">

			<legend has-permission="PERM_COMMANDE_PREPARATION" data-ng-if="status==3 || statusPalette==3">
				<span class="hidden-xs">Palette &agrave; </span>
				<span class="hidden-sm hidden-md hidden-lg">&Agrave; </span>
				pr&eacute;parer
				<button data-ng-if="palette" type="submit" class="btn btn-danger pull-right">Palette termin&eacute;e</button>
			</legend>
			<legend has-permission="PERM_COMMANDE_CONTROLE" data-ng-if="status==4 || statusPalette==4">
				<span class="hidden-xs">Palette &agrave; </span><span class="hidden-sm hidden-md hidden-lg">&Agrave; </span>contr&ocirc;ler
				<button data-ng-if="palette" type="submit" class="btn btn-danger pull-right">Exp&eacute;dier la palette</button>
			</legend>
			<legend has-permission="PERM_COMMANDE_RECEPTION" data-ng-if="status==5 || statusPalette==5">
				<span class="hidden-xs">Palette &agrave; </span><span class="hidden-sm hidden-md hidden-lg">&Agrave; </span>r&eacute;ceptionner
				<button data-ng-if="palette" type="submit" class="btn btn-danger pull-right">R&eacute;ception termin&eacute;e</button>
			</legend>

			<div data-ng-if="!palette">
				<!-- /!\ DUPPLICATION DE CODE, J'AI HONTE, MAIS J'ASSUME ;-) .... POUR REGLER SIMPLEMENT LE CAS OU LE USER 
        		CHANGE LES PARAMETRES DE L'URL -->
				<div has-permission="PERM_COMMANDE_PREPARATION" data-ng-if="status==3 || statusPalette==3 " class="row line">
					<div class="col-lg-4">
						<label class="control-label">Palette*</label>
					</div>
					<div class="col-lg-8 ose-format">
						<select name="palette" class="form-control" data-ng-model="criteria.palette" data-ng-options="p as p.name for p in palettes">
						</select>
					</div>
				</div>
				<div has-permission="PERM_COMMANDE_CONTROLE" data-ng-if="status==4 || statusPalette==4" class="row line">
					<div class="col-lg-4">
						<label class="control-label">Palette*</label>
					</div>
					<div class="col-lg-8 ose-format">
						<select name="palette" class="form-control" data-ng-model="criteria.palette" data-ng-options="p as p.name for p in palettes">
						</select>
					</div>
				</div>
				<div has-permission="PERM_COMMANDE_RECEPTION" data-ng-if="status==5 || statusPalette==5" class="row line">
					<div class="col-lg-4">
						<label class="control-label">Palette*</label>
					</div>
					<div class="col-lg-8 ose-format">
						<select name="palette" class="form-control" data-ng-model="criteria.palette" data-ng-options="p as p.name for p in palettes">
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<button has-permission="PERM_COMMANDE_PREPARATION" data-ng-if="status==3 || statusPalette==3" type="button" class="btn btn-danger pull-right"
							data-ng-click="getPalette()">Pr&eacute;parer la palette</button>
						<button has-permission="PERM_COMMANDE_CONTROLE" data-ng-if="status==4 || statusPalette==4" type="button" class="btn btn-danger pull-right"
							data-ng-click="getPalette()">Contr&ocirc;ler la palette</button>
						<button has-permission="PERM_COMMANDE_RECEPTION" data-ng-if="status==5 || statusPalette==5" type="button" class="btn btn-danger pull-right"
							data-ng-click="getPalette()">R&eacute;ceptionner la palette</button>
					</div>
				</div>
			</div>

			<div data-ng-if="palette">

				<div class="row">
					<div class="col-lg-4 col-xs-4">
						<label class="control-label hidden-xs">Nom de la palette*</label> <label class="control-label hidden-sm hidden-md hidden-lg">Palette*</label>
					</div>
					<div class="col-lg-1 col-xs-1 ose-format" data-ng-if="status==3 || statusPalette==3">
						<button type="button" class="btn btn-success pull-left" data-ng-if="edit" data-ng-click="savePalette()" data-toggle="tooltip"
							data-placement="top" title="Sauver">
							<i class="fa fa-check-square-o fa-lg"></i>
						</button>
						<button type="button" class="btn btn-primary pull-left" data-ng-click="editPalette()" data-ng-if="!edit" data-toggle="tooltip"
							data-placement="top" title="Modifier">
							<i class="fa fa-pencil-square-o fa-lg"></i>
						</button>
					</div>
					<div class="col-lg-3 col-xs-3">
						<label data-ng-if="!edit" class="label-view">{{palette.name}}</label> <input data-ng-if="edit" data-ng-required="true"
							ng-readonly="palette.statusOrder > 3" data-ng-model="palette.name" class="form-control"></input>
					</div>
					<div class="col-lg-4 col-xs-4" data-ng-if="status==3 || statusPalette==3||status==4 || statusPalette==4">
						<label class="label-view">{{palette.destinationName}}</label>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4 col-xs-4">
						<label class="control-label">Pr&eacute;parateur*</label>
					</div>
					<div class="col-lg-8 col-xs-8 ose-format">
						<label class="label-view">{{palette.preparationUser.name}}</label>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4 col-xs-4">
						<label class="control-label">Statut</label>
					</div>
					<div class="col-lg-8 col-xs-8 ose-format">
						<label class="label-view">{{palette.status}}</label>
					</div>
				</div>


				<div data-ng-if="status==5 || statusPalette==5" class="row">
					<div class="col-lg-12">
						<button type="button" class="btn btn-primary ose-btn-inline pull-right" data-ng-click="fillPaletteQuantity()">Pr&eacute;-remplir
							le bon de reception</button>
					</div>
				</div>

				<div data-ng-if="status==4 || statusPalette==4" class="row">
					<div class="col-lg-12">
						<button type="button" class="btn btn-primary ose-btn-inline pull-right" data-ng-click="fillPaletteQuantity()">Pr&eacute;-remplir
							le contr&ocirc;le</button>
					</div>
				</div>

				<fieldset>
					<legend>Ajouter produit</legend>
					<div class="row line">
						<label class="col-lg-2 hidden-xs ose-control-label">Produit</label>
						<div class="col-lg-4 col-xs-12 ose-format">
							<ui-select singleton-select autofocus focus-on="SetFocus" data-ng-model="$parent.paletteDetail.product" data-theme="bootstrap"
								reset-search-input="true" on-select="updateQuantity($item,isScanLocation)"> <ui-select-match class="ui-select-match">{{paletteDetail.product.label}}</ui-select-match>
							<ui-select-choices class="ui-select-choices" data-repeat="product in products" data-refresh="getProducts($select.search)"
								refresh-delay="0">
							<table width="100%">
								<tr>
									<td width="20%">
										<div data-ng-bind-html="product.barcode | highlight: $select.search"></div>
									</td>
									<td width="80%">
										<div data-ng-bind-html="product.label | highlight: $select.search"></div>
									</td>
								</tr>
							</table>
							</ui-select-choices>
						</div>
						<div class="col-lg-2 col-xs-4 ose-margin">
							<input data-ng-if="!isScanLocation" name="quantity" class="form-control" data-ng-model="paletteDetail.quantity">
						</div>
						<button data-ng-if="!noValidation && (status!=5 && statusPalette!=5) && !isScanLocation" type="button" class="col-xs-4 btn btn-primary pull-right"
							data-ng-click="addPaletteDetail(false,inputValue)">
							Ajouter<span class="hidden-xs"> &agrave; la palette</span>
						</button>
						<!-- CAS EXPEDITION -->
						<button data-ng-if="status==5 || statusPalette==5" type="button" class="col-xs-4 btn btn-primary pull-right"
							data-ng-click="addPaletteDetail(false,inputValue)">
							Ajouter<span class="hidden-xs"> &agrave; la palette</span>
						</button>
						<!--  CAS PREPARATION -->
						<button data-ng-if="!noValidation && (status==3 || statusPalette==3) && isScanLocation && paletteDetail.product" type="button" class="col-xs-4 btn btn-primary pull-right change"
							data-ng-click="createRenflouement(inputValue)">
							<label data-ng-if="!renflouementId">Produit &agrave; renflouer</label>
							<label data-ng-if="renflouementId">Demande de renflouement valid&egrave;</label>
						</button>
						
						<button data-ng-if="!noValidation && (status==3 || statusPalette==3) && paletteDetail.product" type="button" class="col-xs-4 btn btn-danger pull-right"
							data-ng-click="addPaletteDetail(true,inputValue)">
							<label data-ng-if="!isScanLocation">Produit termin&eacute;</label>
							<label data-ng-if="isScanLocation">Produit en rupture</label>
						</button>
						
					</div>
				</fieldset>

				<fieldset>
					<legend>Contenu de la palette</legend>
					<div class="row">
						<div class="col-lg-12 col-xs-12">
							<scrollable-table class="double" watch="palette.paletteDetails">
								<table class="table table-condensed">
									<thead>
										<tr>
											<th sortable-header col="productCode" class="complete text-left hidden-xs">R&eacute;f&eacute;rence</th>
											<th sortable-header col="productCode" class="complete text-left hidden-sm hidden-md hidden-lg">R&eacute;f</th>
											<th sortable-header col="productName" class="complete text-center hidden-xs">Produit</th>
											<th sortable-header col="productName" class="complete text-left hidden-sm hidden-md hidden-lg">Produit</th>
											<th sortable-header col="stockLocationName" class="text-center hidden-xs">Emplacement</th>
											<th sortable-header col="stockLocationName" class="complete text-left hidden-sm hidden-md hidden-lg" width="50px">Empl</th>
											<th sortable-header col="quantityToPrepare" class="complete text-center hidden-xs">Quantit&eacute; &agrave; pr&eacute;parer</th>
											<th sortable-header col="quantityToPrepare" class="complete complete text-left hidden-sm hidden-md hidden-lg">Qt&eacute; dem</th>
											<th sortable-header col="quantityPrepared" class="complete text-center hidden-xs">Quantit&eacute; pr&eacute;par&eacute;e</th>
											<th sortable-header col="quantityPrepared" class="complete text-left hidden-sm hidden-md hidden-lg">Qt&eacute; pr&eacute;p</th>
											<th sortable-header col="quantitySent" data-ng-if="status>=4 || statusPalette>=4" class="text-center">Quantit&eacute; Envoy&eacute;e</th>
											<th sortable-header col="quantityReceived" data-ng-if="status==5 || statusPalette==5" class="complete text-center">Quantit&eacute; r&eacute;ceptionn&eacute;e</th>
											<th sortable-header col="close" data-ng-if="status==3 || statusPalette==3" width="20px"></th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="paletteDetail in palette.paletteDetails | filter: { close: false }" row-id="{{ paletteDetail.productCode }}">
											<td>{{paletteDetail.productCode}}</td>
											<td class="hidden-xs">{{paletteDetail.productName}}</td>
											<td class="text-left hidden-sm hidden-md hidden-lg">
												<div uib-tooltip="{{paletteDetail.productName}}">
													{{paletteDetail.productName | limitTo: 13}} {{paletteDetail.productName.length > 15 ? '...' : ''}}
												</div>
											</td>
											<td width="50px">{{paletteDetail.stockLocationName| limitTo: 5}}</td>
											<td class="text-right">{{paletteDetail.quantityToPrepare}}</td>
											<td class="text-right">{{paletteDetail.quantityPrepared}}</td>
											<td data-ng-if="status>=4 || statusPalette>=4" class="text-right">{{paletteDetail.quantitySent}}</td>
											<td data-ng-if="status==5 || statusPalette==5" class="text-right">{{paletteDetail.quantityReceived}}</td>
											<td data-ng-if="status==3 || statusPalette==3">
												<div data-ng-if="paletteDetail.close">
													<i class="fa fa-circle login"></i>
												</div>
												<div data-ng-if="!paletteDetail.close">
													<i class="fa fa-circle logout"></i>
												</div>
											</td>
										</tr>
										<tr data-ng-repeat="paletteDetail in palette.paletteDetails | filter: { close: true }">
											<td>{{paletteDetail.productCode}}</td>
											<td class="hidden-xs">{{paletteDetail.productName}}</td>
											<td class="text-left hidden-sm hidden-md hidden-lg">
												<div uib-tooltip="{{paletteDetail.productName}}">
													{{paletteDetail.productName | limitTo: 13}} {{paletteDetail.productName.length > 15 ? '...' : ''}}
												</div>
											</td>
											<td width="50px">{{paletteDetail.stockLocationName| limitTo: 5}}</td>
											<td class="text-right">{{paletteDetail.quantityToPrepare}}</td>
											<td class="text-right">{{paletteDetail.quantityPrepared}}</td>
											<td data-ng-if="status>=4 || statusPalette>=4" class="text-right">{{paletteDetail.quantitySent}}</td>
											<td data-ng-if="status==5 || statusPalette==5" class="text-right">{{paletteDetail.quantityReceived}}</td>
											<td data-ng-if="status==3 || statusPalette==3">
												<div data-ng-if="paletteDetail.close">
													<i class="fa fa-circle login"></i>
												</div>
												<div data-ng-if="!paletteDetail.close">
													<i class="fa fa-circle logout"></i>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</scrollable-table>
						</div>
					</div>

				</fieldset>
			</div>

		</fieldset>
	</div>
</form>