<form  name="paletteForm" data-role="form" novalidate data-ng-submit="paletteForm.$valid && savePalette()">
  <div class="form">
    <fieldset>
      <legend>Cr&eacute;er une palette</legend>

      <div data-ng-if="!palette">

        <div class="row line">
          <div class="col-lg-4">
            <label class="control-label">Premier emplacement*</label>
          </div>
          <div class="col-lg-8 ose-format">
            <select name="locationFrom" class="form-control" data-ng-model="parameter.locationFrom"
              data-ng-options="l for l in productsLocations">
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <label class="control-label">Nombre d'emplacement (maxi : {{productsLocations.length}})</label>
          </div>
          <div class="col-lg-8 ose-format">
            <input name="reference" class="form-control" data-ng-model="parameter.numberOfLocation" data-ng-blur="initializePalette()">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <button type="button" class="btn btn-danger pull-right ose-btn-inline" data-ng-click="generatePalette()">G&eacute;n&eacute;rer
              la palette</button>
            <button type="button" class="btn btn-default pull-right ose-btn-inline" data-ng-click="cancelPalette()">Annuler</button>
          </div>
        </div>

      </div>


      <div data-ng-if="palette">

        <div class="row">
          <div class="col-lg-4">
            <label class="control-label">Nom de la palette*</label>
          </div>
          <div class="col-lg-8 ose-format" data-ng-class="{'has-error' : paletteForm.$submitted && paletteForm.name.$invalid}">
            <input name="name" class="form-control" data-ng-model="palette.name" data-ng-required="true" ng-readonly="palette.statusOrder > 3">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <label class="control-label">Pr&eacute;parateur*</label>
          </div>
          <div class="col-lg-8 ose-format" data-ng-class="{'has-error' : paletteForm.$submitted && paletteForm.user.$invalid}">
            <ui-select name="user" data-ng-model="$parent.palette.preparationUser" data-theme="bootstrap" reset-search-input="true"
              data-ng-required="true" ng-disabled="palette.statusOrder > 3"> <ui-select-match class="ui-select-match">{{palette.preparationUser.name}}</ui-select-match> <ui-select-choices
              class="ui-select-choices" data-repeat="user in users | orderBy:'name' | filter: $select.search " refresh-delay="0">
            <div data-ng-bind-html="user.name | highlight: $select.search"></div>
            </ui-select-choices>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <button type="submit" class="btn btn-danger pull-right ose-btn-inline" data-ng-if="palette.statusOrder < 4">Enregistrer la palette</button>
            <button type="button" class="btn btn-default pull-right ose-btn-inline" data-ng-click="cancelPalette()" data-ng-if="palette.statusOrder < 4">Annuler</button>
            <button type="button" class="btn btn-default pull-right ose-btn-inline" data-ng-click="cancelPalette()" data-ng-if="palette.statusOrder > 3">OK</button>
          </div>
        </div>

        <fieldset>
          <legend>Contenu de la palette</legend>
          <div class="row">
            <div class="col-lg-12">
              <table class="table">
                <tr>
                  <th class="text-center">Produit</th>
                  <th class="text-center">Emplacement</th>
                  <th class="text-center">Quantit&eacute; command&eacute;e</th>
                  <th class="text-center">Quantit&eacute; &agrave; pr&eacute;parer</th>
                  <th class="text-center" data-ng-if="$parent.palette.statusOrder > 2">Quantit&eacute; pr&eacute;par&eacute;e</th>
                  <th></th>
                </tr>
                <tr data-ng-repeat="paletteDetail in palette.paletteDetails">
                  <td>{{paletteDetail.productCode}} - {{paletteDetail.productName}}</td>
                  <td>{{paletteDetail.stockLocationName}}</td>
                  <td class="text-right">{{paletteDetail.quantityFromOrderDetail}}</td>
                  <td class="text-right">{{paletteDetail.quantityToPrepare}}</td>
                  <td class="text-right" data-ng-if="palette.statusOrder > 2">{{paletteDetail.quantityPrepared}}</td>
                  <td>
                  	<a data-ng-if="palette.statusOrder<4 && paletteDetail.quantityPrepared == 0 && !paletteDetail.close "
                    	class="fa fa-icon fa-trash-o"data-ng-click="deletePaletteDetail(paletteDetail.id)" title="Supprimer de la palette"></a>
                  </td>
                </tr>
              </table>
            </div>
          </div>

        </fieldset>
      </div>
    </fieldset>
  </div>
</form>