<form name="preparationPaletteForm" data-role="form" novalidate data-ng-submit="preparationPaletteForm.$valid && closePalette()">
  <div class="form">
    <fieldset>
      <legend data-ng-if="status==3">Palette &agrave; pr&eacute;parer</legend>
      <legend data-ng-if="status==4">Palette &agrave; r&eacute;ceptionner</legend>

      <div data-ng-if="!palette">
        <div class="row line">
          <div class="col-lg-4">
            <label class="control-label">Palette*</label>
          </div>
          <div class="col-lg-8 ose-format">
            <select name="paletteToPrepare" class="form-control" data-ng-model="criteria.paletteToPrepare"
              data-ng-options="p as p.name for p in palettes">
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <button data-ng-if="status==3" type="button" class="btn btn-danger pull-right" data-ng-click="preparePalette()">Pr&eacute;parer
              la palette</button>
            <button data-ng-if="status==4" type="button" class="btn btn-danger pull-right" data-ng-click="preparePalette()">R&eacute;ceptionner
              la palette</button>
          </div>
        </div>
      </div>


      <div data-ng-if="palette">

        <div class="row">
          <div class="col-lg-4">
            <label class="control-label">Nom de la palette*</label>
          </div>
          <div class="col-lg-8 ose-format">
            <label data-ng-if="!edit" class="label-view">{{palette.name}}</label>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <label class="control-label">Pr&eacute;parateur*</label>
          </div>
          <div class="col-lg-8 ose-format">
            <label data-ng-if="!edit" class="label-view">{{palette.preparationUser.name}}</label>
          </div>
        </div>

        <fieldset>
          <legend>Ajouter produit</legend>
          <div class="row line">
            <label class="col-lg-2 ose-control-label">Produit</label>
            <div class="col-lg-6 ose-format">
              <ui-select focus-on="SetFocus" data-ng-model="$parent.paletteDetail.product" data-theme="bootstrap" reset-search-input="true"
                on-select="getStockInfo($item)"> <ui-select-match class="ui-select-match">{{paletteDetail.product.label}}</ui-select-match> <ui-select-choices
                class="ui-select-choices" data-repeat="product in products" data-refresh="getProducts($select.search)" refresh-delay="0">
              <table width="100%">
                <tr>
                  <td width="20%">
                    <div data-ng-bind-html="product.barcode | highlight: $select.search"></div>
                  </td>
                  <td width="80%">
                    <div data-ng-bind-html="product.label | highlight: $select.search"></div>
                  </td>
                </tr>
              </table>
              </ui-select-choices>
            </div>
            <div class="col-lg-2 ose-margin">
              <input name="quantity" class="form-control" data-ng-model="paletteDetail.quantity">
            </div>
            <div class="col-lg-2 ose-margin">
              <button type="button" class="btn btn-primary" data-ng-click="addPaletteDetail()">Ajouter &agrave; la palette</button>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>Contenu de la palette</legend>
          <div class="row">
            <div class="col-lg-12">
              <table class="table">
                <tr>
                  <th class="text-center">Produit</th>
                  <th class="text-center">Emplacement</th>
                  <th class="text-center">Quantit&eacute; &agrave; pr&eacute;parer</th>
                  <th class="text-center">Quantit&eacute; envoy&eacute;e</th>
                  <th data-ng-if="status==4" class="text-center">Quantit&eacute; r&eacute;ceptionn&eacute;e</th>
                </tr>
                <tr data-ng-repeat="paletteDetail in palette.paletteDetails">
                  <td>{{paletteDetail.productName}}</td>
                  <td>{{paletteDetail.stockLocationName}}</td>
                  <td>{{paletteDetail.quantityToPrepare}}</td>
                  <td>{{paletteDetail.quantitySent}}</td>
                  <td data-ng-if="status==4">{{paletteDetail.quantityReceived}}</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <button type="submit" class="btn btn-danger pull-right">Palette termin&eacute;e</button>
              <button type="button" class="btn btn-default pull-right" data-ng-click="cancelPalette()">Annuler</button>
            </div>
          </div>

        </fieldset>
      </div>

    </fieldset>
  </div>
</form>