<form name="paletteForm" data-role="form" novalidate data-ng-submit="paletteForm.$valid && addToPalette()"
  enctype="application/x-www-form-urlencoded">
  <div class="form">
    <fieldset>
      <legend>S&eacute;lectionner une palette</legend>

      <div class="row line">
        <div class="col-lg-4">
          <label class="control-label">Palette*</label>
        </div>
        <div class="col-lg-8 ose-format">
          <select name="palette" class="form-control" data-ng-model="palette" data-ng-options="p as p.name for p in palettes">
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <button type="submit" class="btn btn-danger pull-right ose-btn-inline">S&eacute;lectionner</button>
          <button type="button" class="btn btn-default pull-right ose-btn-inline" data-ng-click="cancel()">Annuler</button>
        </div>
      </div>

    </fieldset>
  </div>
</form>