<div class="form">
	
	
		<form>
		<fieldset>
			<legend>Emplacement &agrave; renflouer</legend>
			<div class="row">
				
				<label class="col-lg-2 ose-control-label">Type</label>
				<div class="col-lg-3 ose-format">
					<select id="aggr" name="aggr" data-ng-required="true" class="form-control" data-ng-model="statusArenflouer"
						data-ng-options="r.statusArenflouer as r.label for r in types">
					</select>
				</div>
			
			</div>
			
			<div class="row">
				<label class="col-lg-2 ose-control-label">Du </label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.from" is-open="openedFrom"
							datepicker-options="dateOptions" min-date="dateOptions.minDate" current-text="Aujourd'hui" clear-text="Effacer" close-text="Fermer"
							show-weeks="true" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openFrom($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<label class="col-lg-2 ose-control-label">Au </label>
                <div class="col-lg-3 ose-format">
                    <p class="input-group ose-input-group">
                        <input type="text" name="to" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.to" is-open="openedTo"
                            datepicker-options="dateOptions" min-date="dateOptions.minDate" current-text="Aujourd'hui" clear-text="Effacer" close-text="Fermer"
                            show-weeks="true" /> <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openTo($event)">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
			</div>		
			<div class="row">
				<label class="col-lg-2 ose-control-label">Produit</label>
				<div class="col-lg-3 ose-format">
					<ui-select data-ng-model="$parent.criteria.product" data-theme="bootstrap" reset-search-input="true"> <ui-select-match
						class="ui-select-match" allow-clear="true" data-placeholder="">{{criteria.product.label}}</ui-select-match> <ui-select-choices
						class="ui-select-choices" data-repeat="product in products" data-refresh="getProducts($select.search)" refresh-delay="0">
					<table width="100%">
						<tr>
							<td width="20%">
								<div data-ng-bind-html="product.barcode | highlight: $select.search"></div>
							</td>
							<td width="80%">
								<div data-ng-bind-html="product.label | highlight: $select.search"></div>
							</td>
						</tr>
					</table>
					</ui-select-choices>
				</div>
			</div>	
				
			<div class="row line">
				<div class="col-lg-12">
					<button class="btn btn-primary col-lg-12 ose-search-button" data-ng-click="searchMessages()">Rechercher</button>
				</div>
			</div>
			</div>
		</fieldset>
	</form>
	
	<fieldset data-ng-if="renflouements">
		<legend>R&eacute;sultat de la recherche</legend>
		<div class="row line">
			<div class="col-lg-12">
				<span data-ng-if="renflouements.length==0"> Aucun r&eacute;sultat ne correspond &agrave; votre recherche. </span>
			</div>
		</div>
		<div class="row line" data-ng-if="renflouements.length!=0">
			<div class="col-lg-12">
				<table class="table table-condensed">
					<thead>
						<tr>
						<th class="text-center" width="22%">
							<a href="#/orders/renflouement-dashboard"
                                ng-click="sortType = 'startDate'; sortReverse = !sortReverse">Date
                                    <span ng-show="sortType == 'startDate' && !sortReverse"
                                    class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'startDate' && sortReverse"
                                    class="fa fa-caret-up"></span>
                             </a>
                        </th>
                        
                        <th class="text-center" width="22%">
							<a href="#/orders/renflouement-dashboard"
                                ng-click="sortType = 'productId'; sortReverse = !sortReverse">R&eacute;f&eacute;rence produit
                                    <span ng-show="sortType == 'productId' && !sortReverse"
                                    class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'productId' && sortReverse"
                                    class="fa fa-caret-up"></span>
                             </a>
                        </th>
						
						<th class="text-center" width="22%">
							<a href="#/orders/renflouement-dashboard"
                                ng-click="sortType = 'productName'; sortReverse = !sortReverse">Libell&eacute; produit
                                    <span ng-show="sortType == 'productName' && !sortReverse"
                                    class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'productName' && sortReverse"
                                    class="fa fa-caret-up"></span>
                             </a>
                        </th>
                        
                        <th class="text-center" width="22%">
							<a href="#/orders/renflouement-dashboard"
                                ng-click="sortType = 'content'; sortReverse = !sortReverse">Emplacement
                                    <span ng-show="sortType == 'content' && !sortReverse"
                                    class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'content' && sortReverse"
                                    class="fa fa-caret-up"></span>
                             </a>
                        </th>
						<th class="text-center" width="22%">
							<a href="#/orders/renflouement-dashboard"
                                ng-click="sortType = 'peopleName'; sortReverse = !sortReverse">Utilisateur
                                    <span ng-show="sortType == 'peopleName' && !sortReverse"
                                    class="fa fa-caret-down"></span> <span
                                    ng-show="sortType == 'peopleName' && sortReverse"
                                    class="fa fa-caret-up"></span>
                             </a>
                        </th>	
							
					<th class="text-center" width="10%"></th>
					</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="renflouement in renflouements | orderBy:sortType:sortReverse">
							<td class="text-center" >{{renflouement.startDate | date : 'dd/MM/yyyy HH:mm'}}</td>
							<td class="text-center">{{renflouement.productId}}</td>
							<td class="text-center">{{renflouement.productName}}</td>
							<td class="text-center">{{renflouement.content}}</td>
							<td class="text-center">{{renflouement.peopleName}}</td>

							<td class="text-center">
								<button ng-disabled="renflouement.endDate"
									class="btn btn-danger pull-right ose-btn-inline" data-ng-click="updateRenflouement(renflouement)">
									<label data-ng-if="!renflouement.peopleId">Commencer renflouement</label>
									<label data-ng-if="renflouement.peopleId && !renflouement.endDate">Renflouement termin&eacute;</label>
									<label data-ng-if="renflouement.endDate">Renflou&eacute;</label>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>
