<!-- <div class="form"> -->
<div class="row">
<div class="col-lg-12">
	<fieldset>
		<legend>Supervision de la pr&eacute;paration des Commandes</legend>
		<div class="row supervision-criteria">
			<div class="col-lg-12">
				<div class="btn-group">
					<label class="btn btn-primary" ng-repeat="option in locationOptions" ng-model="option.checked" ng-click="updateOrders()" uib-btn-checkbox>{{option.nom}}</label>
				</div>
				
				<div class="btn-group">
					<label class="btn btn-primary" ng-repeat="option in statusOptions" ng-model="option.checked" ng-click="updateOrders()" uib-btn-checkbox>{{option.nom}}</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4" ng-repeat="order in orders" ng-controller="orderCardController">
				<div class="card" ng-class="{cardGreen: order.prepared}">
					<div class="row">
						<label class="col-lg-4 control-label">Destinataire</label> <label class="col-lg-8 label-view card-line" title="{{order.locationTo}}">{{order.locationTo}}</label>
					</div>
					<div class="row">
						<label class="col-lg-4 control-label">Statut</label> <label class="col-lg-8 label-view card-line" title="{{order.status}}">{{order.status}}</label>
					</div>
					<div class="row">
						<label class="col-lg-4 control-label">R&eacute;f&eacute;rence</label> <a href="#/orders/{{order.id}}/form" class="col-lg-8 card-line"
							title="{{order.reference}}"> {{order.reference}} </a>
					</div>
					<div class="row">
						<label class="col-lg-4 control-label">Avancement</label> 
						<label ng-if="order.nbEmplTotal && order.nbEmplTotal>0"	class="col-lg-5 label-view card-line" title="{{order.avancement | number:0}}%"> {{order.avancement | number:0}}% ({{order.nbEmplOK}}/{{order.nbEmplTotal}})</label>
						<i ng-if="order.nbPalettes && order.nbPalettes>0" class="fa fa-cube col-lg-3" style="margin-top: 3px" aria-hidden="true" title="Nombre de palette en cours"> [ {{order.nbPalettes}} ]</i>
					</div>
					<div ng-if="order.codeStatus!=2" class="row">
						<div class="col-lg-12">
							<table class="table table-condensed table-stripped table-bordered card-table" width="100%">
								<thead>
									<tr>
										<th width="35%" class="text-center">Pr&eacute;parateur</th>
										<th width="15%" class="text-center">A faire</th>
										<th width="15%" class="text-center">Reste</th>
										<th width="15%" class="text-center">Empl.</th>
										<th width="15%" class="text-center">Heure</th>
										<th width="5%"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="detail in preparationDetails" ng-class="{danger: detail.alert && !order.prepared}">
										<td title="{{detail.preparateur}}">{{detail.preparateur}}</td>
										<td class="text-right">{{detail.nombreEmplacement}}</td>
										<td class="text-right">{{detail.nombreEmplacementRestant}}</td>
										<td class="text-center" title="{{detail.dernierEmplacement}}">{{detail.dernierEmplacement}}</td>
										<td class="text-center" title="{{detail.dateDernierEmplacement}} {{detail.heureDernierEmplacement}}">{{detail.heureDernierEmplacement}}</td>
										<td><i ng-if="detail.indicateurProgression<0" class="fa fa-circle-o red" aria-hidden="true"></i> <i
											ng-if="detail.indicateurProgression==0" class="fa fa-dot-circle-o orange" aria-hidden="true"></i> <i
											ng-if="detail.indicateurProgression>0" class="fa fa-circle green" aria-hidden="true"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	</div>
	</div>
<!-- </div> -->
