<form name="inventoryForm" data-role="form" novalidate data-ng-submit="inventoryForm.$valid && saveInventory()">
	<div class="form">
		<fieldset>
			<legend>Inventaire</legend>
			<div class="row">
				<label class="col-lg-2 control-label">Cr&eacute;&eacute; par*</label>
				<div class="col-lg-4 ose-format">
					<label class="label-view">{{inventory.username}} le {{inventory.startDate | date : 'dd/MM/yyyy'}}</label>
				</div>
				<label class="col-lg-2 control-label">Status</label>
				<div class="col-lg-4 ose-format">
					<label class="label-view">{{inventory.statusLabel}}</label>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 control-label">Magasin*</label>
				<div class="col-lg-10 ose-format">
					<label class="label-view">{{inventory.locationName}}</label>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 control-label">Type d'inventaire*</label>
				<div class="col-lg-4 ose-format">
					<div data-ng-if="!edit">{{inventory.type}}</div>
					<div data-ng-if="edit">
						<select class="form-control" data-ng-model="inventory.type" data-ng-options="t for t in types">
						</select>
					</div>
				</div>
				<label data-ng-if="inventory.type=='RAZ'" class="col-lg-2 control-label">Date de d&eacute;part</label>
				<div data-ng-if="edit&&inventory.type=='RAZ'" class="col-lg-4 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="inventory.startDate" is-open="openedDate"
							datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
							close-text="Fermer" show-weeks="true" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openDate($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<label data-ng-if="!edit&&inventory.type=='RAZ'" class="col-lg-4 ose-format">{{inventory.startDate | date:'dd/MM/yyyy'}}</label>
			</div>
			<div data-ng-if="edit&&inventory.type=='RAZ'" class="row">
				<label class="col-lg-2 control-label"></label> 
				<label class="col-lg-10 ose-format alert">ATTENTION : Tous les articles n'ayant pas b&eacute;n&eacute;fici&eacute; d'un 
					comptage lors d'un inventaire depuis la date ci-dessus seront ramen&eacute;s &agrave; un stock de 0 (z&eacute;ro) !
				</label>
			</div>
			<div class="row">
				<label class="col-lg-2 control-label">Nom*</label>
				<div class="col-lg-10 ose-format" data-ng-class="{'has-error' : inventoryForm.$submitted && inventoryForm.name.$invalid}">
					<label data-ng-if="!edit" class="label-view">{{inventory.name}}</label> 
					<input data-ng-if="edit" name="name" class="form-control input-sm" data-ng-model="inventory.name" data-ng-required="true">
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 control-label">Note</label>
				<div class="col-lg-10 ose-format">
					<label data-ng-if="!edit" class="label-view">{{inventory.note}}</label>
					<textarea data-ng-if="edit" class="form-control input-sm" data-ng-model="inventory.note"></textarea>
				</div>
			</div>
			<div class="row line">
				<div class="col-lg-12">
					<button has-permission="PERM_STOCK_INVENTAIRE_CREER" data-ng-if="inventory.statusCode=='C' && !edit" type="button" class="btn btn-danger pull-right"
						data-ng-click="startInventory()">Commencer l'inventaire</button>
					<button data-ng-if="inventory.statusCode=='P' && display=='detail'" type="button" class="btn btn-danger pull-right"
						data-ng-click="getSummary()">R&eacute;capitulatif de l'inventaire</button>
					<button has-permission="PERM_STOCK_INVENTAIRE_VALIDER" data-ng-if="inventory.statusCode=='P' && display=='summary' && !isClosing" type="button" class="btn btn-danger pull-right"
						data-ng-click="closeInventory()">Cloturer l'inventaire et g&eacute;n&eacute;rer les mouvements de stocks</button>
					<button data-ng-if="inventory.statusCode=='P' && display=='summary' && !isClosing" type="button" class="btn btn-warning pull-right"
						data-ng-click="getDetails()">Reprendre l'inventaire</button>
				</div>
			</div>
		</fieldset>
		
		<!-- PARTIE COMPTAGE DES PRODUITS -->
		<div data-ng-if="inventory.statusCode=='P' && display=='detail'" class="row line">
			<div class="col-lg-12">
				<fieldset>
					<legend>Ajouter produit</legend>
					<div class="row">
						<label class="col-lg-2 control-label">Produit</label>
						<div class="col-lg-6 ose-format">
							<ui-select focus-on="SetFocus" data-ng-model="$parent.inventoryDetail.product" data-theme="bootstrap"> 
								<ui-select-match class="ui-select-match" data-placeholder="">
									{{inventoryDetail.product.label}}
								</ui-select-match>
								<ui-select-choices data-repeat="product in products" data-refresh="getProducts($select.search)" refresh-delay="0">
									<table width="100%">
										<tr>
											<td width="20%">
												<div data-ng-bind-html="product.barcode | highlight: $select.search"></div>
											</td>
											<td width="80%">
												<div data-ng-bind-html="product.label | highlight: $select.search"></div>
											</td>
										</tr>
									</table>
								</ui-select-choices>
							</ui-select>
						</div>
						<div class="col-lg-2">
							<input name="quantity" class="form-control" data-ng-model="inventoryDetail.quantity">
						</div>
						<div class="col-lg-2">
							<button type="button" class="btn btn-primary" data-ng-click="addInventoryDetail()">Ajouter &agrave; l'inventaire</button>
						</div>
					</div>
				</fieldset>
				
				<!-- TABLEAU RECAP DES DERNIERS COMPTAGES -->
				<fieldset>
					<legend>Dernier comptage</legend>
					<div ng-if="isLoading" class="row">
						<div class="col-lg-12">
							<h1> Loading <i class="fa fa-cog fa-spin"></i> </h1>
						</div>
					</div>
					
					<div data-ng-if="!isLoading && inventoryDetails && inventoryDetails.length!=0">
						
						<div has-permission="PERM_STOCK_INVENTAIRE_EXTRACT" class="row">
							<div class="col-lg-6">
								<button type="button" class="btn btn-primary ose-search-button" data-ng-click="downloadCSV('inventoryDetails')">
									T&eacute;l&eacute;charger (CSV)
								</button>
							</div>
							<div class="col-lg-6">
								<button type="button" class="btn btn-primary ose-search-button" data-ng-click="downloadXLS('inventoryDetails')">
									T&eacute;l&eacute;charger
								</button>
							</div>
						</div>
						
						<div class="row">
							<div class="col-lg-12">
								<table class="table">
									<thead>
										<tr>
											<th width="15%">Date</th>
											<th width="15%">Par</th>
											<th width="10%">R&eacute;f&eacute;rence</th>
											<th width="45%">Libell&eacute;</th>
											<th width="15%">Quantit&eacute; trouv&eacute;e</th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="inventoryDetail in inventoryDetails">
											<td>{{inventoryDetail.date|date:'dd/MM/yyyy HH:mm'}}</td>
											<td>{{inventoryDetail.username}}</td>
											<td>{{inventoryDetail.product.barcode}}</td>
											<td data-ng-if="inventoryDetail.product.stockLocation !='_NR' && inventoryDetail.product.stockLocation.trim() !=''">
												<button type="button" class="btn-xm btn-success pull-left" data-ng-if="isEdit(inventoryDetail)"
													data-ng-click="saveLoc(inventoryDetail)" data-toggle="tooltip" data-placement="top" title="Sauver Emplacement">
													<i class="fa fa-check-square-o fa-lg"></i>
												</button>
												<button type="button" class="btn-xm btn-primary pull-left" data-ng-click="editUser(inventoryDetail)"
													data-ng-if="!isEdit(inventoryDetail)" data-toggle="tooltip" data-placement="top" title="Modifier Emplacement">
													<i class="fa fa-pencil-square-o fa-lg"></i>
												</button> <input class="col-lg-2" name="empl" data-ng-model="inventoryDetail.product.stockLocation"
												data-ng-disabled="!isEdit(inventoryDetail)" data-toggle="tooltip" data-placement="top" title="Emplacement" />
												{{inventoryDetail.product.label}}
											</td>
											<td data-ng-if="inventoryDetail.product.stockLocation =='_NR' || inventoryDetail.product.stockLocation.trim() ==''">
												<button data-ng-if="isEdit(inventoryDetail)" type="button" class="btn-xm btn-success pull-left"
													data-ng-click="saveLoc(inventoryDetail)" data-toggle="tooltip" data-placement="top" title="Sauver Emplacement">
													<i class="fa fa-check-square-o fa-lg"></i>
												</button>
												<button data-ng-if="!isEdit(inventoryDetail)" type="button" class="btn-xm btn-primary pull-left" data-ng-click="editUser(inventoryDetail)"
													data-toggle="tooltip" data-placement="top" title="Modifier Emplacement">
													<i class="fa fa-pencil-square-o fa-lg"></i>
												</button>
												<input class="col-lg-2" data-ng-if="isEdit(inventoryDetail)" name="empl" data-ng-model="inventoryDetail.product.stockLocation"
													data-ng-disabled="!isEdit(inventoryDetail)" data-toggle="tooltip" data-placement="top" title="Emplacement" />
												&nbsp;
												{{inventoryDetail.product.label}}
											</td>
											<td class="text-right">{{inventoryDetail.quantity}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</fieldset>
				</div>
			</div>

		<!-- PARTIE RECAPITULATIF DES PRODUITS COMPTES -->
		<div data-ng-if="inventory.statusCode=='P' && display=='summary'" class="row line">
			<div class="col-lg-12">
				<fieldset>
					<legend>R&eacute;capitulatif des quantit&eacute;s</legend>
					<div ng-if="isLoading" class="row">
						<div class="col-lg-12">
							<h1>
								Loading <i class='fa fa-cog fa-spin'></i>
							</h1>
						</div>
					</div>
					<div data-ng-if="!isLoading && inventoryDetails && inventoryDetails.length!=0">
						<div class="row">
							<label class="col-lg-3 control-label">R&eacute;f&eacute;rences Compt&eacute;es : </label> <label class="col-lg-2 ">{{inventoryInfos[0]}}</label>
							<label class="col-lg-3 control-label">R&eacute;f&eacute;rences Restantes:</label> <label class="col-lg-2 ">{{inventoryInfos[1]}}</label>
						</div>
						<div has-permission="PERM_STOCK_INVENTAIRE_EXTRACT" class="row">
							<div class="col-lg-6">
								<button type="button" class="btn btn-primary ose-search-button" data-ng-click="downloadXLS('inventoryDetailsGrouped')">T&eacute;l&eacute;charger</button>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<table class="table">
									<thead>
										<tr>
											<th width="15%"><a href="" ng-click="sortType = 'productReference'; sortReverse = !sortReverse">R&eacute;f&eacute;rence <span
													ng-show="sortType == 'productReference' && !sortReverse" class="fa fa-caret-down"></span> <span
													ng-show="sortType == 'productReference' && sortReverse" class="fa fa-caret-up"></span>
											</a></th>
											<th width="35%"><a href="" ng-click="sortType = 'productLabel'; sortReverse = !sortReverse">Libell&eacute; <span
													ng-show="sortType == 'productLabel' && !sortReverse" class="fa fa-caret-down"></span> <span
													ng-show="sortType == 'productLabel' && sortReverse" class="fa fa-caret-up"></span>
											</a></th>
											<th width="10%" class="text-center"><a href="" ng-click="sortType = 'quantity'; sortReverse = !sortReverse">Quantit&eacute;
													trouv&eacute;e <span ng-show="sortType == 'quantity' && !sortReverse" class="fa fa-caret-down"></span> <span
													ng-show="sortType == 'quantity' && sortReverse" class="fa fa-caret-up"></span>
											</a></th>
											<th width="10%" class="text-center"><a href="" ng-click="sortType = 'stock'; sortReverse = !sortReverse">Stock
													th&eacute;orique <span ng-show="sortType == 'stock' && !sortReverse" class="fa fa-caret-down"></span> <span
													ng-show="sortType == 'stock' && sortReverse" class="fa fa-caret-up"></span>
											</a></th>
											<th width="10%" class="text-center"><a href="" ng-click="sortType = 'ecart'; sortReverse = !sortReverse">Ecart <span
													ng-show="sortType == 'ecart' && !sortReverse" class="fa fa-caret-down"></span> <span
													ng-show="sortType == 'ecart' && sortReverse" class="fa fa-caret-up"></span>
											</a></th>
											<th width="10%" class="text-center"><a href="" ng-click="sortType = 'valeur'; sortReverse = !sortReverse">Valeur Ecart <span
													ng-show="sortType == 'valeur' && !sortReverse" class="fa fa-caret-down"></span> <span
													ng-show="sortType == 'valeur' && sortReverse" class="fa fa-caret-up"></span>
											</a></th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="inventoryDetail in inventoryDetails | orderBy:sortType:sortReverse">
											<td>{{inventoryDetail.productReference}}</td>
											<td data-ng-if="inventoryDetail.productLocation !='_NR'">
												<input class="col-lg-2" name="empl" data-ng-model="inventoryDetail.productLocation" 
												data-ng-disabled="true" data-toggle="tooltip" data-placement="top"
												title="Emplacement" />-{{inventoryDetail.productLabel}}
											</td>
											<td data-ng-if="inventoryDetail.productLocation =='_NR'">{{inventoryDetail.productLabel}}</td>
											<td class="text-center">{{inventoryDetail.quantity}}</td>
											<td class="text-center">{{inventoryDetail.stock}}</td>
											<td class="text-center">{{inventoryDetail.ecart = inventoryDetail.quantity-inventoryDetail.stock}}</td>
											<td class="text-center">{{inventoryDetail.valeur}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div> <!-- END DIV FORM -->

	<div data-ng-if="inventory.statusCode=='F'">
		<div class="row line">
			<div class="col-lg-12">
				<a href="#/stocks/movements/list?type=100&nbResults=9999&refId={{inventory.id}}">Liste des mouvements de stock associ&eacute;s</a>
			</div>
		</div>
		<div class="row line">
			<div class="col-lg-12">
				<fieldset>
					<legend>Dernier comptage</legend>
					<div ng-if="isLoading" class="row">
						<div class="col-lg-12">
							<h1>
								Loading <i class='fa fa-cog fa-spin'></i>
							</h1>
						</div>
					</div>
					<div data-ng-if="!isLoading && inventoryDetails && inventoryDetails.length!=0">
						<div has-permission="PERM_STOCK_INVENTAIRE_EXTRACT" class="row">
							<div class="col-lg-6">
								<button type="button" class="btn btn-primary ose-search-button" data-ng-click="downloadCSV('inventoryDetails')">
									T&eacute;l&eacute;charger (CSV)
								</button>
							</div>
							<div class="col-lg-6">
								<button type="button" class="btn btn-primary ose-search-button" data-ng-click="downloadXLS('inventoryDetails')">T&eacute;l&eacute;charger</button>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<table class="table">
									<thead>
										<tr>
											<th width="15%">Date</th>
											<th width="20%">Par</th>
											<th width="10%">R&eacute;f&eacute;rence</th>
											<th width="40%">Libell&eacute;</th>
											<th width="15%">Quantit&eacute; trouv&eacute;e</th>
										</tr>
									</thead>
									<tbody>
										<tr data-ng-repeat="inventoryDetail in inventoryDetails">
											<td>{{inventoryDetail.date|date:'dd/MM/yyyy HH:mm'}}</td>
											<td>{{inventoryDetail.username}}</td>
											<td>{{inventoryDetail.product.barcode}}</td>
											<td data-ng-if="inventoryDetail.product.stockLocation !='_NR'">{{inventoryDetail.product.stockLocation}}-{{inventoryDetail.product.label}}</td>
											<td data-ng-if="inventoryDetail.product.stockLocation =='_NR'">{{inventoryDetail.product.label}}</td>
											<td class="text-right">{{inventoryDetail.quantity}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>

	<div class="row line">
		<div class="col-lg-12">
			<button data-ng-if="edit" type="submit" class="btn btn-danger pull-right">Enregistrer</button>
		</div>
	</div>
</form>
