<div class="form">
	<form>
		<fieldset>
			<legend>Rechercher des inventaires</legend>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Magasin</label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.location"> 
						<ui-select-match class="ui-select-match" data-placeholder="">{{criteria.location.label}}</ui-select-match>
						<ui-select-choices class="ui-select-choices" data-repeat="location in locations | filter: $select.search">
							<table width="100%">
								<tr>
									<td width="35%">
										<div data-ng-bind-html="location.id | highlight: $select.search"></div>
									</td>
									<td width="65%">
										<div data-ng-bind-html="location.label | highlight: $select.search"></div>
									</td>
								</tr>
							</table>
						</ui-select-choices>
					</ui-select>
				</div>
				<div has-permission="PERM_STOCK_INVENTAIRE_CREER" class="col-lg-3">
					<a data-ng-if="criteria.location && canCreateNewInventory" class="btn btn-danger ose-search-button"
						href="#/inventory/form?_action=create&locationId={{criteria.location.id}}">Cr&eacute;er un nouvel inventaire</a>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Du </label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.from" is-open="openedFrom"
							datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
							close-text="Fermer" show-weeks="true" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openFrom($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<label class="col-lg-1 ose-control-label">au</label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.to" is-open="openedTo"
							datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
							close-text="Fermer" show-weeks="true" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openTo($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
			</div>
			<div class="row line">
				<div class="col-lg-12">
					<button type="button" class="btn btn-primary col-lg-12 ose-search-button" data-ng-click="searchInventory()">Rechercher</button>
				</div>
			</div>
		</fieldset>
	</form>
	<fieldset data-ng-if="inventories">
		<legend>R&eacute;sultat de la recherche</legend>
		<div class="row line" data-ng-if="inventories.length==0">
			<div class="col-lg-12">Aucun r&eacute;sultat ne correspond &agrave; votre recherche.</div>
		</div>
		<div class="row line" data-ng-if="inventories && inventories.length!=0">
			<div class="col-lg-12">
				<table class="table">
					<thead>
						<tr>
							<th width="15%"><a href="#/inventory/list" ng-click="sortType = 'username'; sortReverse = !sortReverse">Cr&eacute;&eacute;
									par <span ng-show="sortType == 'username' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'username' && sortReverse" class="fa fa-caret-up"></span>
							</a> <i ng-show="search.username.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.username"></th>
							<th width="15%"><a href="#/inventory/list" ng-click="sortType = 'startDate'; sortReverse = !sortReverse">Commenc&eacute; le
									<span ng-show="sortType == 'startDate' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'startDate' && sortReverse" class="fa fa-caret-up"></span>
							</a></th>
							<th width="15%"><a href="#/inventory/list" ng-click="sortType = 'endDate'; sortReverse = !sortReverse">Termin&eacute; le <span
									ng-show="sortType == 'endDate' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'endDate' && sortReverse" class="fa fa-caret-up"></span>
							</a></th>
							<th width="10%"><a href="#/inventory/list" ng-click="sortType = 'type'; sortReverse = !sortReverse">Type <span
									ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span> <span ng-show="sortType == 'type' && sortReverse"
									class="fa fa-caret-up"></span>
							</a> <i ng-show="search.type.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.type"></th>
							<th width="15%"><a href="#/inventory/list" ng-click="sortType = 'statusLabel'; sortReverse = !sortReverse">Status <span
									ng-show="sortType == 'statusLabel' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'statusLabel' && sortReverse" class="fa fa-caret-up"></span>
							</a> <i ng-show="search.statusLabel.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.statusLabel"></th>
							<th width="20%"><a href="#/inventory/list" ng-click="sortType = 'name'; sortReverse = !sortReverse">Nom <span
									ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span> <span ng-show="sortType == 'name' && sortReverse"
									class="fa fa-caret-up"></span>
							</a> <i ng-show="search.name.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.name"></th>
							<th width="20%"><a href="#/inventory/list" ng-click="sortType = 'note'; sortReverse = !sortReverse">Note <span
									ng-show="sortType == 'note' && !sortReverse" class="fa fa-caret-down"></span> <span ng-show="sortType == 'note' && sortReverse"
									class="fa fa-caret-up"></span>
							</a> <i ng-show="search.note.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.note"></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="inventory in inventories | orderBy:sortType:sortReverse  | filter:search">
							<td>{{inventory.username}}</td>
							<td><a href="#/inventory/{{inventory.id}}/form" title="Visualiser l'inventaire">{{inventory.startDate | date:'dd/MM/yyyy'}}</a></td>
							<td><span data-ng-if="inventory.endDate!=null">{{inventory.endDate | date:'dd/MM/yyyy'}}</span> <span
								data-ng-if="inventory.endDate==null">--</span></td>
							<td>{{inventory.type}}</td>
							<td>{{inventory.statusLabel}}</td>
							<td>{{inventory.name}}</td>
							<td>{{inventory.note}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>
