<div class=""col-lg-12"">
      <H1 class="text-center">Bienvenue</H1>
      <horloge></horloge>
      <H2 class="text-center">{{currentTime | date : 'dd/MM/yyyy HH:mm:ss'}}</H2>
      
      <hr/>
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr >
              <th class="text-center" width="25%">Derni&egrave;re Info Produit</th>
              <th class="text-center" width="25%">Derni&egrave;re Info Stock Si&egrave;ge</th>
              <th class="text-center" width="25%">D&eacute;ballages jusqu'&agrave;</th>
              <th class="text-center" width="25%">Dernier Ticket</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" data-ng-class="{'success' : diffDateSeconds(currentTime,dateProd,true) < 24*60*60 , 'danger' : diffDateSeconds(currentTime,dateProd,true) > 48*60*60}">{{dateProd | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td class="text-center" data-ng-class="{'success' : diffDateSeconds(currentTime,dateStock,true) < 24*60*60 , 'danger' : diffDateSeconds(currentTime,dateStock,true) > 48*60*60}">{{dateStock | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td class="text-center" data-ng-class="{'success' : diffDateSeconds(currentTime,dateDeb,false) > 240*60*60 , 'danger' : diffDateSeconds(currentTime,dateDeb,false) < 24*5*60*60}">{{dateDeb | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td class="text-center" data-ng-class="{'success' : diffDateSeconds(currentTime,dateTick,true) < 5*60 , 'danger' : diffDateSeconds(currentTime,dateTick,true) > 120*60}">{{dateTick | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr/>
      <div class="col-lg-12">
      <scrollable-table watch="cashesInfo">
          <table class="table table-condensed table-striped table-bordered">
          <thead>
            <tr >
              <th sortable-header col="locationName" class="text-center" width="17%">Point de Vente</th>
              <th sortable-header col="cashName" class="text-center" width="17%">Caisse</th>
              <th sortable-header col="lastOpen" class="text-center" width="16%">Derni&egrave;re Ouverture</th>
              <th sortable-header col="lastClose" class="text-center" width="16%">Derni&egrave;re Cl&ocirc;ture</th>
              <th sortable-header col="lastTicket" class="text-center" width="16%">Dernier Ticket</th>
              <th sortable-header col="lastTicketHour" class="complete text-center" width="20%">Date Ticket</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="caisse in cashesInfo">
            <td class="text-center" data-ng-if="!caisse.url">{{caisse.locationName }}</td>
            <td class="text-center" data-ng-if="caisse.url"><i data-ng-if="!caisse.available" class="fa fa-times-circle" style="color:red;"></i><i data-ng-if="caisse.available" class="fa fa-check-circle" style="color:green;"></i><a target="_blank" href="{{caisse.url}}">{{caisse.locationName }}</a></td>
            <td class="text-center" >{{caisse.cashName }}</td>
            <td class="text-center" data-ng-class="{'success' : diffDateSeconds(currentTime,caisse.lastOpen,true) < 12*60*60 , 'danger' : diffDateSeconds(currentTime,caisse.lastOpen,true) > 48*60*60}">{{caisse.lastOpen | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td class="text-center" data-ng-class="{'success' : diffDateSeconds(currentTime,caisse.lastClose,true) < 24*60*60 , 'danger' : diffDateSeconds(currentTime,caisse.lastClose,true) > 48*60*60}">{{caisse.lastClose | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
            <td class="text-center" >{{caisse.lastTicket}}</td>
            <td class="text-center" data-ng-class="{'success' : diffDateSeconds(currentTime,caisse.lastTicketHour,true) < 120*60 , 'danger' : diffDateSeconds(currentTime,caisse.lastTicketHour,true) > 300*60}">{{caisse.lastTicketHour | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
