<div class="col-lg-offset-1 col-lg-10 well form ose-dialog-800px">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4>Suppression de lien entre tourn&eacute;e et camion</h4>
        </div>
        <div class="modal-body">
        <legend>{{tour.location.label}} - {{tour.tour.nom}}<br>
            Du :{{tour.startDate | date : 'dd/MM/yyyy HH:mm'}} au {{tour.endDate | date : 'dd/MM/yyyy HH:mm'}}</legend>
         <div class="row">
            Attention - Toute supression est d&eacute;finitive! <br>
            De plus vous ne pouvez pas supprimer un lien qui aurait d&eacute;j&agrave; commenc&eacute;.
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
        </div>
</div>