<div class="col-lg-offset-1 col-lg-10 well form ose-dialog-800px">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4>{{resource.label}} - Suppression</h4>
        </div>
        <div class="modal-body">
        <legend>{{resource.id}} - {{resource.label}}</legend>
         <div class="row">
            Attention - Toute supression est d&eacute;finitive! <br>
            De plus vous ne devriez pas supprimer une ressource qui serait toujours active.
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
        </div>
</div>