<div class="col-lg-offset-1 col-lg-10 well form ose-dialog-800px">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4>{{user.name}} - Suppression</h4>
        </div>
        <div class="modal-body">
        <legend>{{user.id}} - {{user.name}}</legend>
         <div class="row">
            Attention - Toute supression est d&eacute;finitive! <br>
            De plus vous ne pouvez pas supprimer un utilisateur qui aurait d&eacute;j&agrave; &eacute;t&eacute; actif.
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
        </div>
</div>