<div class="col-lg-offset-1 col-lg-10 well form ose-dialog-800px">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4>Suppression de lien entre catalogue et point de vente</h4>
        </div>
        <div class="modal-body">
        <legend>{{tariffArea.location.label}} - {{tariffArea.tariffArea.nom}}<br>
            Du :{{tariffArea.startDate | date : 'dd/MM/yyyy HH:mm'}} au {{tariffArea.endDate | date : 'dd/MM/yyyy HH:mm'}}</legend>
         <div class="row">
            Attention - Toute supression est d&eacute;finitive! <br>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
        </div>
</div>