<div class="form">
	<form name="myForm">
		<fieldset>
			<legend>Rechercher des t&acirc;ches</legend>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Type de t&acirc;che</label>
				<div class="col-lg-2 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.type" data-theme="bootstrap">
						<ui-select-match allow-clear="true" class="ui-select-match" data-placeholder="">
							{{criteria.type}}</ui-select-match>
						<ui-select-choices class="ui-select-choices"
							data-repeat="type in types | filter: $select.search">
							<table width="100%">
								<tr>
									<td width="100%">
										<div data-ng-bind-html="type | highlight: $select.search"></div>
									</td>
								</tr>
							</table>
						</ui-select-choices>
					</ui-select>
				</div>
				<label class="col-lg-2 ose-control-label">Sens</label>
				<div class="col-lg-2 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.sens" data-theme="bootstrap">
						<ui-select-match allow-clear="true" class="ui-select-match" data-placeholder="">
							{{criteria.sens}}</ui-select-match>
						<ui-select-choices class="ui-select-choices"
							data-repeat="unsens in sens  | filter: $select.search">
							<table width="100%">
								<tr>
									<td width="100%">
										<div data-ng-bind-html="unsens | highlight: $select.search"></div>
									</td>
								</tr>
							</table>
						</ui-select-choices>
					</ui-select>
				</div>
				<label class="col-lg-2 ose-control-label">Etat</label>
				<div class="col-lg-2 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.etat" data-theme="bootstrap">
						<ui-select-match allow-clear="true" class="ui-select-match" data-placeholder="">
							{{criteria.etat}}</ui-select-match>
						<ui-select-choices class="ui-select-choices"
							data-repeat="etat in etats  | filter: $select.search">
							<table width="100%">
								<tr>
									<td width="100%">
										<div data-ng-bind-html="etat | highlight: $select.search"></div>
									</td>
								</tr>
							</table>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Du </label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
							ng-model="criteria.dateDeb" is-open="openedFrom" datepicker-options="dateOptions"
							current-text="Aujourd'hui" clear-text="Effacer" close-text="Fermer" show-weeks="true" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openFrom($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<label class="col-lg-1 ose-control-label">au</label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
							ng-model="criteria.dateFin" is-open="openedTo" datepicker-options="dateOptions"
							current-text="Aujourd'hui" clear-text="Effacer" close-text="Fermer" show-weeks="true" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openTo($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
			</div>

			<div class="row line">
				<div class="col-lg-12">
					<button class="btn btn-primary col-lg-12" data-ng-click="searchJobs()">Rechercher</button>
				</div>
			</div>
		</fieldset>
	</form>
	<div class='col-lg-12' ng-if='isLoading'>
		<h1>
			Loading <i class='fa fa-cog fa-spin'></i>
		</h1>
	</div>
	<fieldset data-ng-if="!isLoading && jobs">
		<legend>R&eacute;sultat de la recherche</legend>
		<div class="row line" data-ng-if="jobs.length==0">
			<div class="col-lg-12">Aucun r&eacute;sultat ne correspond
				&agrave; votre recherche.</div>
		</div>
		<div class="row line" data-ng-if="jobs.length!=0">
			<div class="col-lg-12">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th width="10%">Code</th>
							<th class="text-center" width="10%"><a href="#/admin/jobs/list"
									ng-click="sortType = 'sens'; sortReverse = !sortReverse">Sens
									<span ng-show="sortType == 'sens' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'sens' && sortReverse" class="fa fa-caret-up"></span>
								</a>
								<i ng-show="search.sens.length > 0" class="glyphicon glyphicon-filter"></i>
								<input type="text" class="form-control" placeholder="Filtre : !pour exclure"
									ng-model="search.sens"></th>
							<th class="text-center" width="10%"><a href="#/admin/jobs/list"
									ng-click="sortType = 'type'; sortReverse = !sortReverse">Type
									<span ng-show="sortType == 'type' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'type' && sortReverse" class="fa fa-caret-up"></span>
								</a>
								<i ng-show="search.type.length > 0" class="glyphicon glyphicon-filter"></i>
								<input type="text" class="form-control" placeholder="Filtre : !pour exclure"
									ng-model="search.type"></th>
							<th class="text-center" width="10%"><a href="#/admin/jobs/list"
									ng-click="sortType = 'etat'; sortReverse = !sortReverse">Etat
									<span ng-show="sortType == 'etat' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'etat' && sortReverse" class="fa fa-caret-up"></span>
								</a>
								<i ng-show="search.etat.length > 0" class="glyphicon glyphicon-filter"></i>
								<input type="text" class="form-control" placeholder="Filtre : !pour exclure"
									ng-model="search.etat"></th>
							<th class="text-center" width="10%"><a href="#/admin/jobs/list"
									ng-click="sortType = 'dateCreation'; sortReverse = !sortReverse">Date
									Cr&eacute;ation
									<span ng-show="sortType == 'dateCreation' && !sortReverse"
										class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'dateCreation' && sortReverse"
										class="fa fa-caret-up"></span>
								</a>
							</th>
							<th class="text-center" width="10%"><a href="#/admin/jobs/list"
									ng-click="sortType = 'dateEnvoi'; sortReverse = !sortReverse">Date Envoi
									<span ng-show="sortType == 'dateEnvoi' && !sortReverse"
										class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'dateEnvoi' && sortReverse"
										class="fa fa-caret-up"></span>
								</a></th>
							<th class="text-center" width="10%"><a href="#/admin/jobs/list"
									ng-click="sortType = 'dateIntegration'; sortReverse = !sortReverse">Date
									R&eacute;ception
									<span ng-show="sortType == 'dateIntegration' && !sortReverse"
										class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'dateIntegration' && sortReverse"
										class="fa fa-caret-up"></span>
								</a>
							</th>
							<th class="text-center" width="10%"><a href="#/admin/jobs/list"
									ng-click="sortType = 'dateIntegration'; sortReverse = !sortReverse">Date
									Int&eacute;gration
									<span ng-show="sortType == 'dateIntegration' && !sortReverse"
										class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'dateIntegration' && sortReverse"
										class="fa fa-caret-up"></span>
								</a>
							</th>
							<th class="text-center" width="10%">Destinataire</th>
							<th class="text-center" width="10%">Message</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="job in jobs | orderBy:sortType:sortReverse | filter:search">
							<td widtd="10%"><a href="#/admin/jobs/{{job.id}}/form">{{job.id}}</a></td>
							<td class="text-center" widtd="10%">{{job.sens}}</td>
							<td class="text-center" widtd="10%">{{job.type}}</td>
							<td class="text-center" widtd="10%">{{job.etat}}</td>
							<td class="text-center" widtd="10%">{{job.dateCreation | date : 'dd/MM/yyyy HH:mm'}}</td>
							<td class="text-center" widtd="10%">{{job.dateEnvoi | date : 'dd/MM/yyyy HH:mm'}}</td>
							<td class="text-center" widtd="10%">{{job.dateReception | date : 'dd/MM/yyyy HH:mm'}}</td>
							<td class="text-center" widtd="10%">{{job.dateIntegration | date : 'dd/MM/yyyy HH:mm'}}</td>
							<td class="text-center" widtd="10%">{{job.destinataire}}</td>
							<td class="text-center" widtd="10%">{{job.message}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>