<div class="form">
  <form>
    <fieldset>
      <legend>T&acirc;che : {{job.type}}</legend>
      <div class="row">
      <label class="col-lg-2 ose-control-label">Identification</label>
      <div class="col-lg-10 ose-format">{{job.id}}</div>
      </div>
      <div class="row">
      <label class="col-lg-2 ose-control-label">Sens</label>
      <div class="col-lg-4 ose-format">{{job.sens}}</div>
      <label class="col-lg-2 ose-control-label">Etat</label>
      <div class="col-lg-4 ose-format">{{job.etat}}</div>
      </div>
      <div class="row">
      <label class="col-lg-2 ose-control-label">Date Cr&eacute;ation</label>
      <div class="col-lg-4 ose-format">{{job.dateCreation | date : 'dd/MM/yyyy HH:mm:ss'}}</div>
      <label class="col-lg-2 ose-control-label">Date envoi</label>
      <div class="col-lg-4 ose-format">{{job.dateEnvoi | date : 'dd/MM/yyyy HH:mm:ss'}}</div>
      </div>
      <div class="row">
      <label class="col-lg-2 ose-control-label">Date Int&eacute;gration</label>
      <div class="col-lg-4 ose-format">{{job.dateIntegration | date : 'dd/MM/yyyy HH:mm:ss'}}</div>
      <label class="col-lg-2 ose-control-label">Date R&eacute;ception</label>
      <div class="col-lg-4 ose-format">{{job.dateReception | date : 'dd/MM/yyyy HH:mm:ss'}}</div>
      </div>
      <div class="row">
      <label class="col-lg-2 ose-control-label">Destination</label>
      <div class="col-lg-10 ose-format">{{destination.label}}</div>
      </div>
      <div class="row">
      <label class="col-lg-2 ose-control-label">Message</label>
      <div class="col-lg-10 ose-format"><pre >{{job.message}}</pre></div>
      </div>
    </fieldset>
  </form>
</div>