<div class="form">
  <form>
    <fieldset>
      <legend>Historique d'Ex&eacute;cution d'une T&acirc;che</legend>
      <div class="row">
      <label class="col-lg-2 ose-control-label">Identification</label>
      <div class="col-lg-10 ose-format">{{job.id}}</div>
      </div>
      <div class="row">
      <label class="col-lg-2 ose-control-label">Niveau</label>
      <div class="col-lg-4 ose-format">{{job.level}}</div>
      <label class="col-lg-2 ose-control-label">Date</label>
      <div class="col-lg-4 ose-format">{{job.dateCreation | date : 'dd/MM/yyyy HH:mm:ss'}}</div>
      </div>
      <div class="row">
      <label class="col-lg-2 ose-control-label">Job Concern&eacute;</label>
      <div class="col-lg-8 ose-format"><a href="#/admin/jobs/{{job.jobId}}/form">{{job.jobId}}</a></div>
      </div>
      <div class="row">
      <label class="col-lg-2 ose-control-label">Message</label>
      <div class="col-lg-10 ose-format"><pre >{{job.message}}</pre></div>
      </div>
    </fieldset>
  </form>
</div>