<div class="form">
	<form name="myForm">
		<fieldset>
			<legend>Rechercher les journeaux de t&acirc;ches</legend>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Type de Message</label>
				<div class="col-lg-2 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.level" data-theme="bootstrap">
						<ui-select-match allow-clear="true" class="ui-select-match" data-placeholder="">
							{{criteria.level}}</ui-select-match>
						<ui-select-choices class="ui-select-choices"
							data-repeat="level in levels | filter: $select.search">
							<table width="100%">
								<tr>
									<td width="100%">
										<div data-ng-bind-html="level | highlight: $select.search"></div>
									</td>
								</tr>
							</table>
						</ui-select-choices>
					</ui-select>
				</div>
				<label class="col-lg-1 ose-control-label">Du </label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
							ng-model="criteria.dateDeb" is-open="openedFrom" datepicker-options="dateOptions"
							current-text="Aujourd'hui" clear-text="Effacer" close-text="Fermer" show-weeks="true" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openFrom($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<label class="col-lg-1 ose-control-label">au</label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy"
							ng-model="criteria.dateFin" is-open="openedTo" datepicker-options="dateOptions"
							current-text="Aujourd'hui" clear-text="Effacer" close-text="Fermer" show-weeks="true" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openTo($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
			</div>

			<div class="row line">
				<div class="col-lg-12">
					<button class="btn btn-primary col-lg-12" data-ng-click="searchJobsLogs()">Rechercher</button>
				</div>
			</div>
		</fieldset>
	</form>
	<div class='col-lg-12' ng-if='isLoading'>
		<h1>
			Loading <i class='fa fa-cog fa-spin'></i>
		</h1>
	</div>
	<fieldset data-ng-if="!isLoading && jobs">
		<legend>R&eacute;sultat de la recherche</legend>
		<div class="row line" data-ng-if="jobs.length==0">
			<div class="col-lg-12">Aucun r&eacute;sultat ne correspond
				&agrave; votre recherche.</div>
		</div>
		<div class="row line" data-ng-if="jobs.length!=0">
			<div class="col-lg-12">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th width="20%">Code</th>
							<th class="text-center" width="20%"><a href="#/admin/jobs/logs/list"
									ng-click="sortType = 'job_id'; sortReverse = !sortReverse">Job
									<span ng-show="sortType == 'job_id' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'job_id' && sortReverse" class="fa fa-caret-up"></span>
								</a>
								<i ng-show="search.type.length > 0" class="glyphicon glyphicon-filter"></i>
								<input type="text" class="form-control" placeholder="Filtre : !pour exclure"
									ng-model="search.job_id"></th>
							<th class="text-center" width="20%"><a href="#/admin/jobs/list"
									ng-click="sortType = 'level'; sortReverse = !sortReverse">Etat
									<span ng-show="sortType == 'level' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'level' && sortReverse" class="fa fa-caret-up"></span>
								</a>
								<i ng-show="search.etat.length > 0" class="glyphicon glyphicon-filter"></i>
								<input type="text" class="form-control" placeholder="Filtre : !pour exclure"
									ng-model="search.level"></th>
							<th class="text-center" width="20%"><a href="#/admin/jobs/logs/list"
									ng-click="sortType = 'date'; sortReverse = !sortReverse">Date
									<span ng-show="sortType == 'date' && !sortReverse"
										class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'date' && sortReverse"
										class="fa fa-caret-up"></span>
								</a></th>
							<th class="text-center" width="20%">Message</th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="job in jobs | orderBy:sortType:sortReverse | filter:search">
							<td widtd="20%"><a href="#/admin/jobs/logs/{{job.id}}/form">{{job.id}}</a></td>
							<td class="text-center" widtd="20%">{{job.job_id}}</td>
							<td class="text-center" widtd="20%">{{job.level}}</td>
							<td class="text-center" widtd="20%">{{job.date | date : 'dd/MM/yyyy HH:mm'}}</td>
							<td class="text-center" widtd="20%">{{job.message}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>