<div class="col-lg-offset-1 col-lg-10 well form ose-dialog-800px">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4>{{resource.label}} - Modification du contenu</h4>
        </div>
        <div class="modal-body">
        <legend>{{resource.id}} - {{resource.label}}</legend>
          <div class="row">
            <label class="col-lg-2 ose-control-label">Contenu</label>
            <div class="col-lg-10 ose-format">
            <textarea data-ng-if="!resource.type" class="form-control input-sm" data-ng-model="content.content" rows="25"></textarea>
            <img data-ng-if="resource.type" ng-src="data:image/*;base64,{{content.content}}" id="image"/>
          </div>
          <div class="row" data-ng-if="resource.type">
                 <input type="file" accept="image/*" ng-file-select="onFileSelect($files)" >
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
        </div>
</div>