<div class="form">
  <form>
    <fieldset>
      <legend>Rechercher des Ressources</legend>
      <div class="row">
        <label class="col-lg-3 ose-control-label">Code / Nom </label>
        <div class="col-lg-9 ose-format">
          <input name="nom" class="form-control" data-ng-model="criteria.reference" />
        </div>
      </div>
    </fieldset>
  </form>
  <fieldset data-ng-if="resources">
    <legend>R&eacute;sultat de la recherche</legend>
    <div class="row line">
      <div class="col-lg-12">
        <span data-ng-if="resources.length==0"> Aucun r&eacute;sultat ne correspond &agrave; votre recherche. </span> <span
          data-ng-if="resources.length!=0"> Vous n'avez pas trouv&eacute; la bonne ressource? </span> <a href=""
          class="btn btn-danger pull-right" data-ng-click="newResource()">Cr&eacute;er une nouvelle ressource</a>
      </div>
    </div>
    <div class="row line" data-ng-if="resources.length!=0">
      <div class="col-lg-12">
        <table class="table table-condensed">
          <thead>
            <tr >
              <th width="10%">Code</th>
              <th class="text-center" width="30%">Nom</th>
              <th class="text-center" width="40%">Aper&ccedil;u</th>
              <th class="text-center" width="40%">Image ?</th>
              <th class="text-center" width="10%"></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="resource in resources | filter: criteria.reference">
              <td data-ng-if="!isNew(resource)">{{resource.id}}</td>
              <td class="text-center" data-ng-if="isNew(resource)" data-ng-class="{'has-error' : !resource.id}"><input name="id" class="form-control" data-ng-model="resource.id"></td>
              
              <td class="text-center" data-ng-if="!isEdit(resource)">{{resource.label}}</td>
              <td class="text-center" data-ng-if="isEdit(resource)"><input name="label" class="form-control" data-ng-model="resource.label"></td>
              
              <td class="text-center" data-ng-if="!isEdit(resource) && resource.type"><img ng-src="data:image/png;base64,{{resource.content}}" id="image"/></td>
              <td class="text-center" data-ng-if="!isEdit(resource) && !resource.type">{{ resource.content | limitTo: 250 }}{{resource.content.length > 250 ? '...' : ''}}</td>
              <td class="text-center" data-ng-if="isEdit(resource)"><a href="" class="btn btn-danger pull-right" data-ng-click="openContentChange(resource)">Editer</a></td>
          
              <td><toggle-switch
              ng-model="resource.type"
              on-label="Image"
              off-label="Texte"
              is-disabled="!isEdit(resource)"
              class="switch-success pull-right">
              </toggle-switch></td>
              
              <td class="text-center">
              <button type="button" class="btn btn-success pull-left" data-ng-if="isEdit(resource) && resource.id " data-ng-click="saveResource(resource)" data-toggle="tooltip" data-placement="top" title="Sauver"><i class="fa fa-check-square-o fa-lg"></i></button>
              <button type="button" class="btn btn-primary pull-left" data-ng-click="editResource(resource)" data-ng-if="!isEdit(resource)" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="fa fa-pencil-square-o fa-lg"></i></button>
              <button type="button" class="btn btn-danger pull-right" data-ng-click="openDeleteAlert(resource)"><i class="fa fa-trash-o fa-lg" data-toggle="tooltip" data-placement="top" title="Supprimer"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>    
    </div>
  </fieldset>
</div>
