<div class="col-lg-offset-1 col-lg-10 well form ose-dialog-800px">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4>{{role.name}} - Modification des Permissions</h4>
        </div>
        <div class="modal-body">
        <legend>{{role.id}} - {{role.name}}</legend>
          <div class="row">
            <label class="col-lg-2 ose-control-label">Permissions</label>
            <div class="col-lg-10 ose-format">
            <textarea class="form-control input-sm" data-ng-model="content.content" rows="25"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
        </div>
</div>