<div class="form">
	<form>
		<fieldset>
			<legend>Rechercher des R&ocirc;les</legend>
			<div class="row">
				<label class="col-lg-3 ose-control-label">Code / Nom </label>
				<div class="col-lg-9 ose-format">
					<input name="nom" class="form-control" data-ng-model="criteria.reference" />
				</div>
			</div>
			<div class="row line">
				<div class="col-lg-12">
					<button type="submit" class="btn btn-primary col-lg-12" data-ng-click="searchRoles()">Rechercher</button>
				</div>
			</div>
		</fieldset>
	</form>
	<fieldset data-ng-if="roles">
		<legend>R&eacute;sultat de la recherche</legend>
		<div class="row line">
			<div class="col-lg-12">
				<span data-ng-if="roles.length==0"> Aucun r&eacute;sultat ne correspond &agrave; votre recherche. </span> <span
					data-ng-if="roles.length!=0"> Vous n'avez pas trouv&eacute; le bon r&ocirc;le? </span> <a href="" class="btn btn-danger pull-right"
					data-ng-click="newRole()">Cr&eacute;er un nouveau r&ocirc;le</a>
			</div>
		</div>
		<div class="row line" data-ng-if="roles.length!=0">
			<div class="col-lg-12">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th width="10%">
								<a href="#/admin/roles/list" ng-click="sortType = 'id'; sortReverse = !sortReverse"> 
									Code 
									<span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th class="text-center" width="30%">
								<a href="#/admin/roles/list" ng-click="sortType = 'name'; sortReverse = !sortReverse">
									Nom
									<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th class="text-center" width="50%">Permissions</th>
							<th class="text-center" width="10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="role in roles | orderBy:sortType:sortReverse">
							<td data-ng-if="!isNew(role)">{{role.id}}</td>
							<td class="text-center" data-ng-if="isNew(role)" data-ng-class="{'has-error' : !role.id}"><input name="id" class="form-control"
								data-ng-model="role.id"></td>

							<td class="text-center" data-ng-if="!isEdit(role)">{{role.name}}</td>
							<td class="text-center" data-ng-if="isEdit(role)"><input name="name" class="form-control" data-ng-model="role.name"></td>

							<td class="text-center" data-ng-if="!isEdit(role)">{{ role.permissions | limitTo: 250 }}{{role.permissions.length > 250 ? '...'
								: ''}}</td>
							<td class="text-center" data-ng-if="isEdit(role)"><a href="" class="btn btn-danger pull-right"
								data-ng-click="openContentChange(role)">Editer</a></td>

							<td class="text-center">
								<button type="button" class="btn btn-success pull-left" data-ng-if="isEdit(role) && role.id " data-ng-click="saveRole(role)"
									data-toggle="tooltip" data-placement="top" title="Sauver">
									<i class="fa fa-check-square-o fa-lg"></i>
								</button>
								<button type="button" class="btn btn-primary pull-left" data-ng-click="editRole(role)" data-ng-if="!isEdit(role)"
									data-toggle="tooltip" data-placement="top" title="Modifier">
									<i class="fa fa-pencil-square-o fa-lg"></i>
								</button>
								<button type="button" class="btn btn-danger pull-right" data-ng-click="openDeleteAlert(role)">
									<i class="fa fa-trash-o fa-lg" data-toggle="tooltip" data-placement="top" title="Supprimer"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>
