<div class="form">
	<form>
		<fieldset>
			<legend>Rechercher des liaisons Point de vente - Catalogue</legend>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Point de vente</label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.location" data-theme="bootstrap"> 
						<ui-select-match class="ui-select-match" allow-clear="true">{{criteria.location.label}}</ui-select-match>
						<ui-select-choices class="ui-select-choices" data-repeat="location in locations | filter: $select.search">
							<table width="100%">
								<tr>
									<td width="100%">
										<div class="text-left" data-ng-bind-html="location.label | highlight: $select.search"></div>
									</td>
								</tr>
							</table>
						</ui-select-choices>
					</ui-select>
				</div>
				<label class="col-lg-2 ose-control-label">Catalogue </label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.tariffArea" data-theme="bootstrap"> 
						<ui-select-match class="ui-select-match" allow-clear="true">{{criteria.tariffArea.label}}</ui-select-match>
						<ui-select-choices class="ui-select-choices" data-repeat="tariffArea_item in tariffAreas_def  | filter: ({label: $select.search})">
							<table width="100%">
							<tr>
								<td width="100%">
									<div data-ng-bind-html="tariffArea_item.label | highlight: $select.search"></div>
								</td>
							</tr>
						</table>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Du</label>
		        <div class="col-lg-4 ose-format">
		          <p class="input-group ose-input-group">
		            <input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.from" is-open="openedFrom"
		              datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
		              close-text="Fermer" show-weeks="true" />
		            <span class="input-group-btn">
		              <button type="button" class="btn btn-default" ng-click="openFrom($event)">
		                <i class="glyphicon glyphicon-calendar"></i>
		              </button>
		            </span>
		          </p>
		        </div>
		        <label class="col-lg-2 ose-control-label">au</label>
		        <div class="col-lg-4 ose-format">
		          <p class="input-group ose-input-group">
		            <input type="text" name="to" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.to" is-open="openedTo"
		              datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
		              close-text="Fermer" show-weeks="true" />
		            <span class="input-group-btn">
		              <button type="button" class="btn btn-default" ng-click="openTo($event)">
		                <i class="glyphicon glyphicon-calendar"></i>
		              </button>
		            </span>
		          </p>
		        </div>
			</div>
			<div class="row line">
				<div class="col-lg-12">
					<button class="btn btn-primary col-lg-9" data-ng-click="searchTariffAreas()">Rechercher</button>
					<button class="btn btn-danger pull-right col-lg-3" data-ng-click="newTariffArea()" data-ng-if="canEdit(undefined)">Cr&eacute;er une nouvelle liaison</button>

				</div>
			</div>
		</fieldset>
	</form>
	<div data-ng-if="isLoading" class="row">
		<div data-ng-if="isLoading" class="col-lg-12">
			<h1>Loading <i class='fa fa-cog fa-spin'></i></h1>
		</div>
	</div>
	<fieldset data-ng-if="!isLoading && tariffAreas">
		<legend>R&eacute;sultat de la recherche</legend>
		<div class="row line">
			<div class="col-lg-12">
				<span data-ng-if="tariffAreas.length==0"> Aucun r&eacute;sultat ne
					correspond &agrave; votre recherche. </span>
			</div>
		</div>
		<div class="row line" data-ng-if="tariffAreas.length!=0">
			<div class="col-lg-12">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th width="10%">
								<a href="#/admin/tariff-areas/list" ng-click="sortType = 'id'; sortReverse = !sortReverse">Code
									<span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							
							</th>
							<th class="text-center" width="20%">
								<a href="#/admin/tariff-areas/list" ng-click="sortType = 'location.label'; sortReverse = !sortReverse">Point de vente
									<span ng-show="sortType == 'location.label' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'location.label' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							<i ng-show="search.location.label.length > 0" class="glyphicon glyphicon-filter"></i>
                			<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.location.label"></th>
							<th class="text-center" width="20%">
                                <a href="#/admin/tariff-areas/list" ng-click="sortType = 'tariffArea.nom'; sortReverse = !sortReverse">Catalogues
                                    <span ng-show="sortType == 'tariffArea.nom' && !sortReverse" class="fa fa-caret-down"></span> 
                                    <span ng-show="sortType == 'tariffArea.nom' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                            <i ng-show="search.tariffArea.nom.length > 0" class="glyphicon glyphicon-filter"></i>
                            <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.tariffArea.nom"></th>
							<th class="text-center" width="20%">
								<a href="#/admin/tariff-areas/list" ng-click="sortType = 'startDate'; sortReverse = !sortReverse">Date d&eacute;but
									<span ng-show="sortType == 'startDate' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'startDate' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th class="text-center" width="20%">
								<a href="#/admin/tariff-areas/list" ng-click="sortType = 'endDate'; sortReverse = !sortReverse">Date Fin
									<span ng-show="sortType == 'endDate' && !sortReverse" class="fa fa-caret-down"></span> 
									<span ng-show="sortType == 'endDate' && sortReverse" class="fa fa-caret-up"></span>
								</a>
							</th>
							<th class="text-center" width="10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-class="{cardGreen: tariffArea.actif}" data-ng-repeat="tariffArea in tariffAreas | orderBy:sortType:sortReverse | filter:search">
							<td data-ng-if="!isNew(tariffArea)">{{tariffArea.id}}</td>
							<td data-ng-if="isNew(tariffArea)"></td>

							<td><ui-select focus-on="SetFocus"
									data-ng-model="tariffArea.location" data-theme="bootstrap"
									data-ng-disabled="!isNew(tariffArea)"> <ui-select-match
									class="ui-select-match" data-placeholder="">{{tariffArea.location.label}}</ui-select-match>
								<ui-select-choices class="ui-select-choices"
									data-repeat="location in locations2 | filter: $select.search">
								<table width="100%">
									<tr>
										<td width="100%">
											<div
												data-ng-bind-html="location.label | highlight: $select.search"></div>
										</td>
									</tr>
								</table>
								</ui-select-choices> </ui-select></td>
								
						       <td class="text-center"><ui-select focus-on="SetFocus"
                                    data-ng-model="tariffArea.tariffArea" data-theme="bootstrap"
                                    data-ng-disabled="!isNew(tariffArea)"> <ui-select-match
                                    class="ui-select-match" data-placeholder="">{{tariffArea.tariffArea.nom}}{{tariffArea.tariffArea.label}}</ui-select-match>
                                <ui-select-choices class="ui-select-choices"
                                    data-repeat="tariffArea_item in tariffAreas_def  | filter: ({label: $select.search})">
                                <table width="100%">
                                    <tr>
                                        <td width="100%">
                                            <div
                                                data-ng-bind-html="tariffArea_item.label | highlight: $select.search"></div>
                                        </td>
                                    </tr>
                                </table>
                                </ui-select-choices> </ui-select></td>

							<td data-ng-if="!isNew(tariffArea)" class="text-center">{{tariffArea.startDate | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
							<td data-ng-if="isNew(tariffArea)">
								<p class="input-group ose-input-group">
									<input type="text" name="from" class="form-control"
										uib-datepicker-popup="dd/MM/yyyy" ng-model="tariffArea.startDate"
										is-open="$parent.mydp.openedFrom2"
										datepicker-options="dateOptions"
										date-disabled="disabled(date, mode)"
										current-text="Aujourd'hui" clear-text="Effacer"
										close-text="Fermer" show-weeks="true" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="openFrom2($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</td>

							<td data-ng-if="!isEdit(tariffArea)" class="text-center">{{tariffArea.endDate | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
							<td data-ng-if="isEdit(tariffArea)">
								<p class="input-group ose-input-group">
									<input type="text" name="from" class="form-control"
										uib-datepicker-popup="dd/MM/yyyy" ng-model="tariffArea.endDate"
										is-open="$parent.mydp.openedTo2"
										datepicker-options="dateOptions"
										date-disabled="disabled(date, mode)"
										current-text="Aujourd'hui" clear-text="Effacer"
										close-text="Fermer" show-weeks="true" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="openTo2($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</td>

							<td class="text-center">
								<button type="button" class="btn btn-success pull-left"
									data-ng-if="isEdit(tariffArea)" data-ng-click="saveTariffArea(tariffArea)"
									data-toggle="tooltip" data-placement="top" title="Sauver">
									<i class="fa fa-check-square-o fa-lg"></i>
								</button>
								<button type="button" class="btn btn-primary pull-left"
									data-ng-click="editTariffArea(tariffArea)" data-ng-if="canEdit(tariffArea)"
									data-toggle="tooltip" data-placement="top" title="Modifier">
									<i class="fa fa-pencil-square-o fa-lg"></i>
								</button>
								<button type="button" class="btn btn-danger pull-right"
									data-ng-click="openDeleteAlert(tariffArea)">
									<i class="fa fa-trash-o fa-lg" data-toggle="tooltip"
										data-placement="top" title="Supprimer"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>
