<div class="form">
	<form>
		<fieldset>
			<legend>Rechercher des liaisons Tourn&eacute;e - Camion</legend>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Camion</label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.location" data-theme="bootstrap">
						<ui-select-match class="ui-select-match" allow-clear="true">{{criteria.location.label}}</ui-select-match>
						<ui-select-choices class="ui-select-choices" data-repeat="location in locations | filter: $select.search">
						<table width="100%">
							<tr>
								<td width="100%">
									<div class="text-left" data-ng-bind-html="location.label | highlight: $select.search"></div>
								</td>
							</tr>
						</table>
						</ui-select-choices>
					</ui-select>
				</div>
				<label class="col-lg-2 ose-control-label">Tourn&eacute;e </label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.tour" data-theme="bootstrap">
						<ui-select-match class="ui-select-match" allow-clear="true">{{criteria.tour.nom}}</ui-select-match>
						<ui-select-choices class="ui-select-choices" data-repeat="tour_item in tours_def  | filter: ({nom: $select.search})">
						<table width="100%">
							<tr>
								<td width="100%">
									<div data-ng-bind-html="tour_item.nom | highlight: $select.search"></div>
								</td>
							</tr>
						</table>
						</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="row">
                <label class="col-lg-2 ose-control-label">Du</label>
                <div class="col-lg-4 ose-format">
                  <p class="input-group ose-input-group">
                    <input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.from" is-open="openedFrom"
                      datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
                      close-text="Fermer" show-weeks="true" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openSearchFrom($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                  </p>
                </div>
                <label class="col-lg-2 ose-control-label">au</label>
                <div class="col-lg-4 ose-format">
                  <p class="input-group ose-input-group">
                    <input type="text" name="to" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.to" is-open="openedTo"
                      datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
                      close-text="Fermer" show-weeks="true" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openSearchTo($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
                  </p>
                </div>
            </div>
			<div class="row line">
				<div class="col-lg-12">
					<button class="btn btn-primary col-lg-9" data-ng-click="searchTours()">Rechercher</button>
					<button data-ng-if="canEdit(undefined)" class="btn btn-danger pull-right col-lg-3" data-ng-click="newTour()">
						Cr&eacute;er une nouvelle liaison
					</button>
				</div>
			</div>
		</fieldset>
	</form>
	<div data-ng-if="isLoading" class="row">
		<div data-ng-if="isLoading" class="col-lg-12">
			<h1>Loading <i class='fa fa-cog fa-spin'></i></h1>
		</div>
	</div>
	<fieldset data-ng-if="!isLoading && tours">
		<legend>R&eacute;sultat de la recherche</legend>
		<div class="row line">
			<div class="col-lg-12">
				<span data-ng-if="tours.length==0"> Aucun r&eacute;sultat ne correspond &agrave; votre recherche. </span>
			</div>
		</div>
		<div class="row line" data-ng-if="tours.length!=0">
			<div class="col-lg-12">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th width="10%">Code</th>
							<th class="text-center" width="20%">
							<a href="#/admin/tours/list" ng-click="sortType = 'tour'; sortReverse = !sortReverse">Tourn&eacute;e <span
                  ng-show="sortType == 'tour' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'tour' && sortReverse" class="fa fa-caret-up"></span>
                </a></th>
							<th class="text-center" width="20%">
							<a href="#/admin/tours/list" ng-click="sortType = 'location.label'; sortReverse = !sortReverse">Camion <span
                  ng-show="sortType == 'location.label' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'location.label' && sortReverse" class="fa fa-caret-up"></span>
                </a></th>
							<th class="text-center" width="20%">
							<a href="#/admin/tours/list" ng-click="sortType = 'startDate'; sortReverse = !sortReverse">Date d&eacute;but <span
                  ng-show="sortType == 'startDate' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'startDate' && sortReverse" class="fa fa-caret-up"></span>
                </a></th>
							<th class="text-center" width="20%"><a href="#/admin/tours/list" ng-click="sortType = 'endDate'; sortReverse = !sortReverse">Date fin <span
                  ng-show="sortType == 'endDate' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'endDate' && sortReverse" class="fa fa-caret-up"></span>
                </a></th>
							<th class="text-center" width="10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="tour in tours | orderBy:sortType:sortReverse">
							<td data-ng-if="!isNew(tour)">{{tour.id}}</td>
							<td data-ng-if="isNew(tour)"></td>

							<td class="text-center"><ui-select focus-on="SetFocus"
									data-ng-model="tour.tour" data-theme="bootstrap"
									data-ng-disabled="!isNew(tour)"> <ui-select-match
									class="ui-select-match" data-placeholder="">{{tour.tour.nom}}</ui-select-match>
								<ui-select-choices class="ui-select-choices"
									data-repeat="tour_item in tours_def  | filter: ({nom: $select.search})">
								<table width="100%">
									<tr>
										<td width="100%">
											<div
												data-ng-bind-html="tour_item.nom | highlight: $select.search"></div>
										</td>
									</tr>
								</table>
								</ui-select-choices> </ui-select></td>


							<td><ui-select focus-on="SetFocus"
									data-ng-model="tour.location" data-theme="bootstrap"
									data-ng-disabled="!isNew(tour)"> <ui-select-match
									class="ui-select-match" data-placeholder="">{{tour.location.label}}</ui-select-match>
								<ui-select-choices class="ui-select-choices"
									data-repeat="location in locations | filter: $select.search">
								<table width="100%">
									<tr>
										<td width="100%">
											<div
												data-ng-bind-html="location.label | highlight: $select.search"></div>
										</td>
									</tr>
								</table>
								</ui-select-choices> </ui-select></td>

							<td data-ng-if="!isEdit(tour)" class="text-center">{{tour.startDate | date : 'dd/MM/yyyy HH:mm'}}</td>
							<td data-ng-if="isEdit(tour)">
								<p class="input-group ose-input-group">
									<input type="text" name="from" class="form-control"
										uib-datepicker-popup="dd/MM/yyyy  HH:mm" ng-model="tour.startDate"
										is-open="$parent.mydp.openedFrom"
										datepicker-options="dateOptions"
										date-disabled="disabled(date, mode)"
										current-text="Aujourd'hui" clear-text="Effacer"
										close-text="Fermer" show-weeks="true" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="openFrom($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</td>

							<td data-ng-if="!isEdit(tour)" class="text-center">{{tour.endDate | date : 'dd/MM/yyyy HH:mm'}}</td>
							<td data-ng-if="isEdit(tour)">
								<p class="input-group ose-input-group">
									<input type="text" name="from" class="form-control"
										uib-datepicker-popup="dd/MM/yyyy HH:mm" ng-model="tour.endDate"
										is-open="$parent.mydp.openedTo"
										datepicker-options="dateOptions"
										date-disabled="disabled(date, mode)"
										current-text="Aujourd'hui" clear-text="Effacer"
										close-text="Fermer" show-weeks="true" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="openTo($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</td>

							<td class="text-center">
								<button type="button" class="btn btn-success pull-left"
									data-ng-if="isEdit(tour)" data-ng-click="saveTour(tour)"
									data-toggle="tooltip" data-placement="top" title="Sauver">
									<i class="fa fa-check-square-o fa-lg"></i>
								</button>
								<button type="button" class="btn btn-primary pull-left"
									data-ng-click="editTour(tour)" data-ng-if="canEdit(tour)"
									data-toggle="tooltip" data-placement="top" title="Modifier">
									<i class="fa fa-pencil-square-o fa-lg"></i>
								</button>
								<button type="button" class="btn btn-danger pull-right"
									data-ng-click="openDeleteAlert(tour)">
									<i class="fa fa-trash-o fa-lg" data-toggle="tooltip"
										data-placement="top" title="Supprimer"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>
