<div class="form">
	<form>
		<fieldset>
			<legend>Charger des donn&eacute;es </legend>
			<div class="row">
				<label class="col-lg-3 ose-control-label">Sp&eacute;cifiques &agrave; ce point de vente :</label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.location"
						data-theme="bootstrap"> <ui-select-match
						class="ui-select-match" data-placeholder="">{{criteria.location.label}}</ui-select-match>
					<ui-select-choices class="ui-select-choices"
						data-repeat="location in locations | filter: $select.search">
					<table width="100%">
						<tr>
							<td width="100%">
								<div class="text-left"
									data-ng-bind-html="location.label | highlight: $select.search"></div>
							</td>
						</tr>
					</table>
					</ui-select-choices> </ui-select>
				</div>
				<div ngf-drop="upload($files)" ngf-select="upload($files)" ng-model="file" class="col-lg-5 drop-box" 
        ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
        accept=".xlsx,.xls,.xlsm,.res,.role,text/plain,text/csv,application/json,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" 
        ngf-pattern="'.xlsx,.xls,.xlsm,.res,.role,text/plain,text/csv,application/json,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">D&eacute;poser les fichiers ici</div>
        <div class="col-lg-5 ose-format" ngf-no-file-drop><div class="button" ngf-select="upload($files)" ng-model="files" ngf-multiple="true">Charger des fichiers</div></div>
        <!--  https://github.com/danialfarid/ng-file-upload  -->
			</div>

		</fieldset>
	</form>
	<fieldset data-ng-if="logs">
		<legend>R&eacute;sultat de l'import</legend>
		<div class="row line">
			<div class="col-lg-12">
				<span data-ng-if="logs.length==0"> Aucun r&eacute;sultat ne
					correspond &agrave; votre recherche. </span>
			</div>
		</div>
		<div class="row line" data-ng-if="logs.length!=0">
			<div class="col-lg-12">
			<pre>{{logs}}</pre>
			</div>
		</div>
	</fieldset>
</div>
