<div class="col-lg-offset-1 col-lg-10 well form ose-dialog-800px">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4>{{user.name}} - Modification du mot de passe</h4>
        </div>
        <div class="modal-body">
        <legend>{{user.id}} - {{user.name}}</legend>
         <div class="row">
            <label class="col-lg-4 ose-control-label">Ancien mot de passe</label>
            <div class="col-lg-6 ose-format">
                <input type='text' class="form-control" ng-model="pass.old" placeholder="Ancien mot de passe" />
            </div>
          </div>
          <div class="row">
            <label class="col-lg-4 ose-control-label">Nouveau mot de passe</label>
            <div class="col-lg-6 ose-format" data-ng-class="{'has-error' : pass.alert}">
                <input type='password' class="form-control" ng-model="pass.newpw" placeholder="Nouveau mot de passe" />
            </div>
          </div>
          <div class="row">
            <label class="col-lg-4 ose-control-label">R&eacute;p&eacute;ter mot de passe</label>
            <div class="col-lg-6 ose-format" data-ng-class="{'has-error' : pass.alert}">
                <input type='password' class="form-control" ng-model="pass.repeatnewpw" placeholder="R&eacute;p&eacute;ter nouveau mot de passe" />
            </div>
          </div>
          <div class="row" data-ng-if="pass.alert">
            <label class="col-lg-10 ose-control-label">{{pass.alert}}</label>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
        </div>
</div>