<div class="form">
  <form>
    <fieldset>
      <legend>Rechercher des utilisateurs</legend>
      <div class="row">
        <label class="col-lg-3 ose-control-label">Code</label>
        <div class="col-lg-9 ose-format">
          <input name="code" class="form-control" data-ng-model="search.id" />
        </div>
      </div>
      <div class="row">
        <label class="col-lg-3 ose-control-label">Nom </label>
        <div class="col-lg-9 ose-format">
          <input name="nom" class="form-control" data-ng-model="search.name" />
        </div>
      </div>
      <div class="row">
        <label class="col-lg-3 ose-control-label">Non Actifs / Tout / Actifs </label>
        <div class="col-lg-9 ose-format">
          <nz-toggle tri-toggle val-default="true" tip-false="'Non actifs'" tip-null="'Tout'" tip-true="'Actifs'" ng-model="search.actif" on-toggle="showUsers" ></nz-toggle>
        </div>
      </div>
    </fieldset>
  </form>
  <fieldset data-ng-if="users">
    <legend>R&eacute;sultat de la recherche</legend>
    <div class="row line">
      <div class="col-lg-12">
        <span data-ng-if="users.length==0"> Aucun r&eacute;sultat ne correspond &agrave; votre recherche. </span> <span
          data-ng-if="users.length!=0"> Vous n'avez pas trouv&eacute; le bon utilisateur? </span> <a href=""
          class="btn btn-danger pull-right" data-ng-click="newUser()">Cr&eacute;er un nouvel utilisateur</a>
      </div>
    </div>
    <div class="row line" data-ng-if="users.length!=0">
      <div class="col-lg-12">
        <table class="table table-condensed">
          <thead>
            <tr >
              <th width="5%">
              	<a href="#/admin/users/list" ng-click="sortType = 'id'; sortReverse = !sortReverse">
              		Code 
              		<span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-down"></span>
              		<span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-up"></span>
                </a>
               </th>
              <th class="text-center" width="15%">
              	<a href="#/admin/users/list" ng-click="sortType = 'name'; sortReverse = !sortReverse">
              		Login
           			<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                </a>
                </th>
              <th class="text-center" width="15%">
              	<a href="#/admin/users/list" ng-click="sortType = 'nom'; sortReverse = !sortReverse">Nom <span
                  ng-show="sortType == 'nom' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'nom' && sortReverse" class="fa fa-caret-up"></span>
                </a>
                </th>
              <th class="text-center" width="15%"><a href="#/admin/users/list" ng-click="sortType = 'prenom'; sortReverse = !sortReverse">Pr&eacute;nom <span
                  ng-show="sortType == 'prenom' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'prenom' && sortReverse" class="fa fa-caret-up"></span>
                </a>
                </th>
              <th class="text-center" width="10%">Mot De Passe
              </th>
              <th class="text-center" width="10%"><a href="#/admin/users/list" ng-click="sortType = 'ddebut'; sortReverse = !sortReverse">Date d&eacute;but <span
                  ng-show="sortType == 'ddebut' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'ddebut' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th class="text-center" width="10%"><a href="#/admin/users/list" ng-click="sortType = 'dfin'; sortReverse = !sortReverse">Date fin <span
                  ng-show="sortType == 'dfin' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'dfin' && sortReverse" class="fa fa-caret-up"></span>
                </a>
              </th>
              <th class="text-center" width="20%"><a href="#/admin/users/list" ng-click="sortType = 'roleId'; sortReverse = !sortReverse">R&ocirc;le <span
                  ng-show="sortType == 'roleId' && !sortReverse" class="fa fa-caret-down"></span> <span
                  ng-show="sortType == 'roleId' && sortReverse" class="fa fa-caret-up"></span>
                </a>
                </th>
              <th class="text-center" width="5%">Caisse
              </th>
              <th class="text-center" width="5%">Image
              </th>
              <th class="text-center" width="10%"></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="user in users | orderBy:sortType:sortReverse | filter:search ">
              <td data-ng-if="!isNew(user)">{{user.id}}</td>
              <td class="text-center" data-ng-if="isNew(user)" data-ng-class="{'has-error' : !user.id}"><input name="id" class="form-control" data-ng-model="user.id"></td>
              
              <td class="text-center" data-ng-if="!isEdit(user)">{{user.name}}</td>
              <td class="text-center" data-ng-if="isEdit(user)"><input name="name" class="form-control" data-ng-model="user.name"></td>
              
              <td class="text-center" data-ng-if="!isEdit(user)">{{user.nom}}</td>
              <td class="text-center" data-ng-if="isEdit(user)"><input name="nom" class="form-control" data-ng-model="user.nom"></td>
              
              <td class="text-center" data-ng-if="!isEdit(user)">{{user.prenom}}</td>
              <td class="text-center" data-ng-if="isEdit(user)"><input name="prenom" class="form-control" data-ng-model="user.prenom"></td>
              
              <td class="text-center" data-ng-if="!isEdit(user)">****</td>
              <td class="text-center" data-ng-if="isEdit(user)"><a href="" class="btn btn-danger pull-right" data-ng-click="openPwChange(user)">Changer</a></td>
              
              <td class="text-center">{{user.ddebut  | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td class="text-center" data-ng-if="!isEdit(user)">{{user.dfin  | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
               <td data-ng-if="isEdit(user)">
								<p class="input-group ose-input-group">
									<input type="text" name="from" class="form-control"
										uib-datepicker-popup="dd/MM/yyyy" ng-model="user.dfin"
										is-open="$parent.mydp.openedFrom2"
										datepicker-options="dateOptions"
										date-disabled="disabled(date, mode)"
										current-text="Aujourd'hui" clear-text="Effacer"
										close-text="Fermer" show-weeks="true" /> <span
										class="input-group-btn">
										<button type="button" class="btn btn-default"
											ng-click="openFrom2($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</p>
							</td>
          	  
              <td class="text-center"><select id="role" name="role" class="form-control" data-ng-model="user.roleId"
                data-ng-options="l.id as l.name for l in roles" data-ng-required="true" data-ng-disabled="!isEdit(user)">
              </select></td>
              
              <td class="text-center"><input type="checkbox" name="caisse" data-ng-model="user.visible"  data-ng-disabled="!isEdit(user)" /></td>
              <td class="text-center">{{user.hasImage}}</td>
              <td class="text-center">
              <button type="button" class="btn btn-success pull-left" data-ng-if="isEdit(user) && user.id" data-ng-click="saveUser(user)" data-toggle="tooltip" data-placement="top" title="Sauver"><i class="fa fa-check-square-o fa-lg"></i></button>
              <button type="button" class="btn btn-primary pull-left" data-ng-click="editUser(user)" data-ng-if="!isEdit(user)" data-toggle="tooltip" data-placement="top" title="Modifier"><i class="fa fa-pencil-square-o fa-lg"></i></button>
              <button type="button" class="btn btn-danger pull-right" data-ng-click="openDeleteAlert(user)"><i class="fa fa-trash-o fa-lg" data-toggle="tooltip" data-placement="top" title="Supprimer"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </fieldset>
</div>
