    <div class='col-lg-12' ng-if='isLoading'>
        <h1>
            Loading <i class='fa fa-cog fa-spin'></i>
        </h1>
    </div>
<div ng-if='!isLoading'>
  <fieldset>
    <legend>Information produit <button ng-show="!product.active" type="button" class="btn btn-danger">Inactif</button></legend>
    <div class="row">
      <label class="col-lg-2 control-label">Code</label>
      <div class="col-lg-4 ose-format">
        <label class="label-view">{{product.code}} </label>
      </div>
      <label class="col-lg-2 control-label">Nom</label>
      <div class="col-lg-4 ose-format">
        <label class="label-view">{{product.label}}</label>
      </div>
    </div>
    <div class="row">
      <label class="col-lg-2 control-label">Cat&eacute;gorie</label>
      <div class="col-lg-10 ose-format">
        <label class="label-view">{{product.categoryId}} - {{product.categoryLabel}}</label>
      </div>
    </div>
    <div class="row">
      <label class="col-lg-2 control-label">Code(s) barre(s)</label>
      <div class="col-lg-4 ose-format">
        <div data-ng-if="product.barcodes.length>0" class="row" data-ng-repeat="barcode in product.barcodes">
          <div class="col-lg-12">
            <label class="label-view">{{barcode}}</label>
          </div>
        </div>
        <label class="label-view" data-ng-if="product.barcodes.length==0">-</label>
      </div>
    </div>
    <div class="row">
      <label class="col-lg-2 control-label">Message(s)</label>
      <div class="col-lg-7 ose-format">
        <div data-ng-if="product.messages.length>0" class="row" data-ng-repeat="message in product.messages">
          <div class="col-lg-12">
            <label class="label-view">{{message.type}} : {{message.content}} </label>
          </div>
        </div>
        <label class="label-view" data-ng-if="product.messages.length==0">-</label>
      </div>
      <div class="col-lg-3">
          <button class="btn btn-primary col-lg-12" data-ng-if="gestEmpl" ng-click="open()">Modifier Emplacement</button>
      </div>
    </div>
    <div class="row">
      <label data-ng-if="!product.hasComponents" class="col-lg-2 control-label">Offre(s) en cours</label>
      <label data-ng-if="product.hasComponents" class="col-lg-2 control-label">Composition de l'offre</label>
      <div class="col-lg-10 ose-format">
        <div class="row" data-ng-repeat="compound in product.compounds">
          <div class="col-lg-12">
            <label data-ng-if="product.hasComponents" class="label-view">
              <a href="#/products/{{compound.compoundId}}/form">{{compound.compoundCode}}</a> - {{compound.quantity}} x
              {{compound.compoundLabel}}
            </label>
            <label data-ng-if="!product.hasComponents" class="label-view">
              <a href="#/products/{{compound.compoundId}}/form">{{compound.compoundCode}}</a> - {{compound.compoundLabel}}
            </label>
          </div>
        </div>
        <label class="label-view" data-ng-if="product.compounds.length==0">-</label>
      </div>
    </div>
  </fieldset>
  <fieldset has-permission="PERM_PRODUIT_VENTE">
    <legend>Information stock &amp; prix</legend>
    <div class='col-lg-12' ng-if='product.details == null'>
        <h1>
            Loading <i class='fa fa-cog fa-spin'></i>
        </h1>
    </div>
    <div class="row" ng-if='product.details != null'>
      <div class="col-lg-12">
        <table class="table table-striped table-condensed">
          <tr>
            <th class="text-center">Magasin</th>
            <th class="text-center" data-ng-if="product.stockable">Qt&eacute; stock</th>
            <th class="text-center">Prix HT</th>
            <th class="text-center">Prix TTC</th>
            <th class="text-center">Ecotaxes</th>
            <th class="text-center">Ventes 7 j.</th>
            <th class="text-center">Ventes 30 j.</th>
            <th class="text-center">Ventes moy.</th>
            <th class="text-center">Rupture pr&eacute;vue le</th>
          </tr>
          <tr data-ng-repeat="detail in product.details" ng-class="detail.salesLocation.parentId == null ? 'clickable' : 'ok'"
          ng-click="toggle(detail.salesLocation.id)" ng-show="isVisible(detail.salesLocation)">
            <td class="text-center"><i ng-show="!detail.active && detail.priceSell" class="fa fa-ban text-danger"></i>{{detail.salesLocation.label}}</td>
            <td data-ng-if="product.stockable" class="text-center">{{detail.stockUnits}}</td>
            <td class="text-center">
              <div data-ng-if="detail.priceSell">{{detail.priceSell | number:2}} &euro;</div>
            </td>
            <td class="text-center">
              <div data-ng-if="detail.priceSellTtc">{{detail.priceSellTtc | number:2}} &euro;</div>
            </td>
            <td class="text-center">
              <table>
                <tr data-ng-repeat="tax in detail.taxes">
                  <td>{{tax}}</td>
                </tr>
              </table>
            </td>
            <td class="text-center">{{detail.totSell7D}}<div data-ng-if="detail.sell7D && detail.sell7D!=0">(dont promos : {{detail.sell7D}})</div></td>
            <td class="text-center">{{detail.totSell30D}}<div data-ng-if="detail.sell30D && detail.sell30D!=0">(dont promos : {{detail.sell30D}})</div></td>
            <td class="text-center">{{detail.sellsPerDay | number:2}}</td>
            <td class="text-center">{{detail.stockoutDate | date:'dd/MM/yyyy'}}</td>
          <tr>
        </table>
      </div>
    </div>
  </fieldset>
</div>
<div class="modal fade ng-scope in" title="Login form" data-ng-if="showModal" aria-hidden="false" style="display: block;">
    <div class="modal-dialog"><div class="modal-content">
    <div class="modal-header"><button type="button" ng-click="toggleUpdateEmpl()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title ng-binding">Login form</h4>
    </div>
    <div class="modal-body">
    <form role="form" class="ng-pristine ng-valid ng-scope">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <button type="submit" ng-click="updateEmpl()" class="btn btn-default">Submit</button>
    </form>
  </div></div></div></div>
