<div class="form">
  <form>
    <fieldset>
      <legend>Rechercher des produits</legend>
      <div class="row">
        <label class="col-lg-3 ose-control-label">R&eacute;f&eacute;rence / Code / Nom</label>
        <div class="col-lg-9 ose-format">
          <input name="nom" class="form-control" data-ng-model="criteria.reference" />
        </div>
      </div>
      <div class="row line">
        <div class="col-lg-12">
          <button type="submit" class="btn btn-primary ose-search-button col-lg-8" data-ng-click="searchProducts()">Rechercher</button>
          <button has-permission="PERM_PRODUIT_EXTRACT" class="btn btn-primary ose-search-button col-lg-4"  ng-disabled="isLoading || isDownLoading" data-ng-click="downloadXLS()">T&eacute;l&eacute;charger</button>
      </div>
      </div>
    </fieldset>
  </form>
  <div class='col-lg-12' ng-if='isLoading'>
    <h1>
      Loading <i class='fa fa-cog fa-spin'></i>
    </h1>
  </div>
  <fieldset data-ng-if="!isLoading && products">
    <legend>R&eacute;sultat de la recherche</legend>
    <div class="row line" data-ng-if="products.length==0">
      <div class="col-lg-12">Aucun r&eacute;sultat ne correspond &agrave; votre recherche.</div>
    </div>
    <div class="row line" data-ng-if="products.length!=0">
      <div class="col-lg-12">
        <table class="table table-condensed" infinite-scroll="increaseLimit()">
          <thead>
            <tr>
              <th class="text-center">
                <a href="#/products/list" ng-click="sortType = 'barcode'; sortReverse = !sortReverse">Code
                    <span ng-show="sortType == 'barcode' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'barcode' && sortReverse" class="fa fa-caret-up"></span>
                </a>
                <i ng-show="search.barcode.length > 0" class="glyphicon glyphicon-filter"></i>
                <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.barcode">
              </th>
              <th class="text-center">
                <a href="#/products/list" ng-click="sortType = 'label'; sortReverse = !sortReverse">Nom
                    <span ng-show="sortType == 'label' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'label' && sortReverse" class="fa fa-caret-up"></span>
                </a>
                <i ng-show="search.label.length > 0" class="glyphicon glyphicon-filter"></i>
                <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.label"></th>
              <th class="text-center">
                <a href="#/products/list" ng-click="sortType = 'categoryLabel'; sortReverse = !sortReverse">Categorie
                    <span ng-show="sortType == 'categoryLabel' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'categoryLabel' && sortReverse" class="fa fa-caret-up"></span>
                </a>
                <i ng-show="search.categoryLabel.length > 0" class="glyphicon glyphicon-filter"></i>
                <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.categoryLabel">
              </th>
              <th class="text-center">Prix de vente (TTC)<br>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="product in products | orderBy:sortType:sortReverse | filter:search | limitTo:barLimit">
              <td>
                <i ng-show="!product.active" class="fa fa-ban text-danger"></i>
                <a href="#/products/{{product.id}}/form">{{product.barcode}}</a>
              </td>
              <td>{{product.label}}</td>
              <td>{{product.categoryLabel}}</td>
              <td class="text-right">{{product.priceSell | number:2}} &euro;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </fieldset>
</div>
