<div class="col-lg-offset-1 col-lg-10 well form">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4>{{location.label}} - Modification d'emplacement</h4>
        </div>
        <div class="modal-body">
        <legend>{{product.code}} - {{product.label}}</legend>
         <div class="row">
            <label class="col-lg-2 ose-control-label">Emplacement</label>
            <div class="col-lg-7 ose-format">
                <input type='text' class="form-control" ng-model="empl" placeholder="Entrer Emplacement" />
            </div>
            <div class="col-lg-3 ose-margin">
                <button type="button" class="btn btn-primary pull-right" data-ng-click="addEmpl()">Ajouter l'emplacement</button>
            </div>
          </div>
          <div data-ng-if="items.length > 0" class="row">
            <div class="col-lg-12">
              <table class="table">
                <thead>
                  <tr>
                    <th width="80%" class="text-center">Emplacement</th>
                    <th width="20%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr data-ng-repeat="item in items">
                    <td class="text-center">{{item.content}}</td>
                    <td>
                      <i class="fa fa-trash" data-ng-click="removeEmpl(item)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
        </div>
</div>