<div class="form">
	<form>
		<fieldset>
			<legend>Rechercher des mouvements de stock</legend>
			<div class="row">
				<label class="col-lg-3 ose-control-label">Point de Vente</label>
				<div class="col-lg-5 ose-format">

					<ui-select focus-on="SetFocus" data-ng-model="criteria.location"> <ui-select-match class="ui-select-match"
						data-placeholder="">{{criteria.location.label}}</ui-select-match> <ui-select-choices class="ui-select-choices"
						data-repeat="location in locations | filter: $select.search">
					<table width="100%">
						<tr>
							<td width="35%">
								<div data-ng-bind-html="location.id | highlight: $select.search"></div>
							</td>
							<td width="65%">
								<div data-ng-bind-html="location.label | highlight: $select.search"></div>
							</td>
						</tr>
					</table>
					</ui-select-choices> </ui-select>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-3 ose-control-label">Produit</label>
				<div class="col-lg-5 ose-format">
					<ui-select data-ng-model="$parent.criteria.product" data-theme="bootstrap" reset-search-input="true"> <ui-select-match
						class="ui-select-match" allow-clear="true" data-placeholder="">{{criteria.product.label}}</ui-select-match> <ui-select-choices
						class="ui-select-choices" data-repeat="product in products" data-refresh="getProducts($select.search)" refresh-delay="0">
					<table width="100%">
						<tr>
							<td width="20%">
								<div data-ng-bind-html="product.barcode | highlight: $select.search"></div>
							</td>
							<td width="80%">
								<div data-ng-bind-html="product.label | highlight: $select.search"></div>
							</td>
						</tr>
					</table>
					</ui-select-choices>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-3 ose-control-label">R&eacute;f&eacute;rence du mouvement</label>
				<div class="col-lg-5 ose-format">
					<input name="nom" class="form-control" data-ng-model="criteria.mvtReference" />
				</div>
			</div>
			<div class="row">
				<label class="col-lg-3 ose-control-label">Type du mouvement</label>
				<div class="col-lg-5 ose-format">
					<select class="form-control" data-ng-model="criteria.mvtType" data-ng-options="t.id as t.label for t in mvtTypes">
					</select>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-3 ose-control-label">Date du mouvement</label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.from" is-open="openedFrom"
							datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
							close-text="Fermer" show-weeks="true" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openFrom($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<label class="col-lg-2 ose-control-label">au</label>
				<div class="col-lg-3 ose-format">
					<p class="input-group ose-input-group">
						<input type="text" name="from" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.to" is-open="openedTo"
							datepicker-options="dateOptions" date-disabled="disabled(date, mode)" current-text="Aujourd'hui" clear-text="Effacer"
							close-text="Fermer" show-weeks="true" /> <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openTo($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
			</div>
			<div class="row line">
				<div class="col-lg-12">
					<button type="submit" class="btn btn-primary ose-search-button col-lg-9" data-ng-click="getMovements()">Rechercher</button>
					<button has-permission="PERM_STOCK_MVT_EXTRACT" class="btn btn-primary ose-search-button col-lg-3" ng-disabled="isDownLoading"
						data-ng-click="downloadCSV()">T&eacute;l&eacute;charger(CSV)</button>
				</div>
			</div>
		</fieldset>
	</form>

	<div class='col-lg-12' ng-if='isLoading'>
		<h1>
			Loading <i class='fa fa-cog fa-spin'></i>
		</h1>
	</div>
	<fieldset data-ng-if="!isLoading && movements">
		<legend>D&eacute;tail des mouvements de stock : {{libelle}} </legend>
		<div class="row line" data-ng-if="movements.length==0">
			<div class="col-lg-12">Aucun mouvement de stock n'a &eacute;t&eacute; trouv&eacute;.</div>
		</div>
		<div class="row line" data-ng-if="movements.length!=0">
			<div class="col-lg-12">
				<table class="table">
					<thead>
						<tr>
							<th class="text-center" width="10%"><a href="#/stocks/movements/list" ng-click="sortType = 'date'; sortReverse = !sortReverse">Date
									<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
							</a><br>&nbsp;</th>
							                         <th class="text-center" width="10%">
                                <a href="#/stocks/movements/list" ng-click="sortType = 'location.label'; sortReverse = !sortReverse">Origine
                                    <span ng-show="sortType == 'location.label' && !sortReverse" class="fa fa-caret-down"></span> 
                                    <span ng-show="sortType == 'location.label' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                                <i ng-show="search.location.label.length > 0" class="glyphicon glyphicon-filter"></i>
                                <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.location.label">
                            </th>
                            <th class="text-center" width="10%">
                                <a href="#/stocks/movements/list" ng-click="sortType = 'destination.label'; sortReverse = !sortReverse">Destination
                                    <span ng-show="sortType == 'destination.label' && !sortReverse" class="fa fa-caret-down"></span> 
                                    <span ng-show="sortType == 'destination.label' && sortReverse" class="fa fa-caret-up"></span>
                                </a>
                                <i ng-show="search.destination.label.length > 0" class="glyphicon glyphicon-filter"></i>
                                <input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.destination.label">
                            </th>
							<th class="text-center" width="10%"><a href="#/stocks/movements/list"
								ng-click="sortType = 'productCode'; sortReverse = !sortReverse">Code <span ng-show="sortType == 'productCode' && !sortReverse"
									class="fa fa-caret-down"></span> <span ng-show="sortType == 'productCode' && sortReverse" class="fa fa-caret-up"></span>
							</a> <i ng-show="search.productCode.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.productCode"></th>
							<th class="text-center" width="40%"><a href="#/stocks/movements/list"
								ng-click="sortType = 'productLabel'; sortReverse = !sortReverse">Nom <span ng-show="sortType == 'productLabel' && !sortReverse"
									class="fa fa-caret-down"></span> <span ng-show="sortType == 'productLabel' && sortReverse" class="fa fa-caret-up"></span>
							</a> <!--                 <br><span class="input-group-addon"> --> <i ng-show="search.productLabel.length > 0"
								class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control" placeholder="Filtre : !pour exclure"
								ng-model="search.productLabel"></th>
							<!-- <th class="text-center" width="10%">Emplacement</th> -->
							<th class="text-center" width="10%"><a href="#/stocks/movements/list" ng-click="sortType = 'units'; sortReverse = !sortReverse">Quantit&eacute;
									mouvement&eacute;e <span ng-show="sortType == 'units' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'units' && sortReverse" class="fa fa-caret-up"></span>
							</a> <i ng-show="search.units.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.units"></th>
							<th class="text-center" width="10%"><a href="#/stocks/movements/list"
								ng-click="sortType = 'reference'; sortReverse = !sortReverse">R&eacute;f&eacute;rence <span
									ng-show="sortType == 'reference' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'reference' && sortReverse" class="fa fa-caret-up"></span>
							</a> <i ng-show="search.reference.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.reference"></th>
							<th class="text-center" width="20%"><a href="#/stocks/movements/list"
								ng-click="sortType = 'reasonLabel'; sortReverse = !sortReverse">Type de mouvement <span
									ng-show="sortType == 'reasonLabel' && !sortReverse" class="fa fa-caret-down"></span> <span
									ng-show="sortType == 'reasonLabel' && sortReverse" class="fa fa-caret-up"></span>
							</a> <i ng-show="search.reasonLabel.length > 0" class="glyphicon glyphicon-filter"></i> <input type="text" class="form-control"
								placeholder="Filtre : !pour exclure" ng-model="search.reasonLabel"></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="movement in movements | orderBy:sortType:sortReverse | filter:search">
							<td>{{movement.date | date : 'dd/MM/yyyy HH:mm'}}</td>
							<td>{{movement.location.label}}</td>
                            <td>{{movement.destination.label}}</td>
							<td>
								<a has-permission="PERM_PRODUIT" href="#/products/{{movement.productCode}}/form">{{movement.productCode}}</a>
								<div has-permission="!PERM_PRODUIT">{{movement.productCode}}</div>
							</td>
							<td>{{movement.productLabel}}</td>
							<!-- <td>--</td> -->
							<td class="text-right">{{movement.units}}</td>
							<td class="text-right">
								<div data-ng-if="movement.referenceType=='T'">
									<a href="#/tickets/{{movement.reference}}/form?_action=view">{{movement.reference}}</a>
								</div>
								<div data-ng-if="movement.referenceType=='M'">
									<a href="#/stocks/movements/form?_action=view&reference={{movement.reference}}">{{movement.reference}}</a>
								</div>
								<div data-ng-if="movement.referenceType=='U'">{{movement.reference}}</div>
							</td>
							<td class="text-right"><i data-ng-if="movement.reason < 0" class="fa fa-hand-o-up ose-stock-out"></i> <i
								data-ng-if="movement.reason > 0" class="fa fa-hand-o-down ose-stock-in"></i> {{movement.reasonLabel}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>
