<div class="form">
  <fieldset>
    <legend>Rechercher des stocks types</legend>
    <div class="row">
      <label class="col-lg-2 ose-control-label">Points de Vente</label>
      <div class="col-lg-3 ose-format">
        <button type="button" class="btn btn-info col-lg-12" ng-click="selectLocationsList()">S&eacute;lectionner points de vente</button>
      </div>
      <div data-ng-if="selectedLocations.length>0" class="col-lg-2 ose-margin">
        <button type="button" class="btn btn-default" ng-click="clearLocationsList()">Supprimer s&eacute;lection</button>
      </div>
      <div data-ng-if="selectedLocations.length>0" class="col-lg-5 ose-control-label">Points de Vente : {{selectedLocationLabel}}</div>
    </div>
    
    <div class="row">
      <label class="col-lg-2 ose-control-label">Produits</label>
      <div class="col-lg-3 ose-format">
        <button type="button" class="btn btn-info col-lg-12" ng-click="selectProductsList()">S&eacute;lectionner produits</button>
      </div>
      <div data-ng-if="selectedProducts.length>0" class="col-lg-2 ose-margin">
        <button type="button" class="btn btn-default" ng-click="clearProductsList()">Supprimer s&eacute;lection</button>
      </div>
      <div data-ng-if="selectedProducts.length>0" class="col-lg-5 ose-control-label">Produits : {{selectedLabel}}</div>
    </div>
    
    <div class="row">
      <label class="col-lg-2 ose-control-label">Catalogues</label>
      <div class="col-lg-3 ose-format">
        <button type="button" class="btn btn-info col-lg-12" ng-click="selectTariffsList()">S&eacute;lectionner catalogues</button>
      </div>
      <div data-ng-if="selectedTariffs.length>0" class="col-lg-2 ose-margin">
        <button type="button" class="btn btn-default" ng-click="clearTariffsList()">Supprimer s&eacute;lection</button>
      </div>
      <div data-ng-if="selectedTariffLabel.length>0" class="col-lg-5 ose-control-label bg-success">Catalogues Inclus: {{selectedTariffLabel}}</div>
      <br data-ng-if="unSelectedTariffLabel.length>0 && selectedTariffLabel.length>0">
      <div data-ng-if="unSelectedTariffLabel.length>0" class="col-lg-5 ose-control-label bg-danger">Catalogues Exclus: {{unSelectedTariffLabel}}</div>
    </div>

    <div class="row line">
      <div class="col-lg-2">
        <button class="btn btn-primary col-lg-12" data-ng-click="getStocksLevel()">Actualiser</button>
      </div>
<!--       <div class="col-lg-3"> -->
<!--         <button class="btn btn-primary col-lg-12" data-ng-click="download('csv')">T&eacute;l&eacute;charger le fichier -->
<!--           au format csv</button> -->
<!--       </div> -->
<!--       <div class="col-lg-4"> -->
<!--         <button class="btn btn-primary col-lg-12" data-ng-click="download('xls')">T&eacute;l&eacute;charger le fichier -->
<!--           au format xlsx</button> -->
<!--       </div> -->
<!--       <div class="col-lg-3" data-ng-if="!isLoading && stockLevels"> -->
<!--         <button class="btn btn-warning col-lg-12" data-ng-click="clearAll()">Tout remettre &agrave; z&eacute;ro</button> -->
<!--       </div> -->
<!--       <div class="col-lg-4" data-ng-if="!isLoading && stockLevels && nbEdit > 0"> -->
<!--         <button class="btn btn-success col-lg-12" data-ng-click="saveAll()">Tout sauver</button> -->
<!--       </div> -->
    </div>
  </fieldset>
      <div ng-if="isLoading" class="row line col-lg-12">
      <h1>
        Loading <i class='fa fa-cog fa-spin'></i>
      </h1>
    </div>
   
	
	<div class="row line" data-ng-if="stockLevels && !isLoading">
      <div style="height: 100%;width: 100%;overflow: auto">
        <table mat-table class="table table-condensed" infinite-scroll="increaseLimit()">
          <thead>
          	<tr *matHeaderRowDef="displayedColumns; sticky: true">
	            <th colspan=2 style="text-align:center">Produit</th>
	            <th colspan=2 style="text-align:left" ng-repeat="entete in entetes">{{ entete }}</th>
			 </tr>
            <tr>
              <td>Ref </td>
              <td >Nom </td>
	   		  <td class="text-left" ng-repeat-start="entete in entetes" >S&eacute;cu</td>
	   		  <td class="text-left" ng-repeat-end>Type</td>
	   		</tr>
          </thead>
          <tbody data-ng-repeat="stock in stockLevels">
            <tr>
              <td>
                <a href="#/products/{{stock.productsId}}/form">{{stock.productsId}}</a>
              </td>
              <td>{{stock.productName}}</td>
              <td ng-repeat-start="stockLevel in stock.stockLevelLocationsDTO" >{{stockLevel.stockSecurity | number:1}}</td>
              <td ng-repeat-end>{{stockLevel.stockMaximum | number:0}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
	
</div>
