<form name="movementForm" data-role="form" novalidate data-ng-submit="movementForm.$valid && edit && saveMovement()">
	<div class="form">
		<fieldset>
			<legend>Saisie d'un mouvement de stock</legend>
			<div class="row">
				<div class="col-lg-2">
					<label class="control-label">D&eacute;pot*</label>
				</div>
				<div class="col-lg-4 ose-format">
					<label class="label-view">{{movement.location.label}}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<label class="control-label">Type de mouvement*</label>
				</div>
				<div class="col-lg-10 ose-format">
					<div class="row">
						<div class="col-lg-1">
							<div class="checkbox">
								<label class="label-view"> <input type="checkbox" name="in" data-ng-model="sens" data-ng-true-value="'E'"
									data-ng-click="sens='E';updateReason();" data-ng-disabled="!edit" /> Entr&eacute;e
								</label>
							</div>
						</div>
						<div class="col-lg-1">
							<div class="checkbox">
								<label class="label-view"> <input type="checkbox" name="out" data-ng-model="sens" data-ng-true-value="'S'"
									data-ng-click="sens='S';updateReason();" data-ng-disabled="!edit" /> Sortie
								</label>
							</div>
						</div>
						<div data-ng-if="movementForm.$submitted && sens != 'E' && sens !='S'" class="col-lg-4 ose-has-error">
							<span>Le sens du mouvement est obligatoire</span>
						</div>
						<div data-ng-if="!edit" class="col-lg-4">
							<label class="label-view">{{movement.reasonLabel}}</label>
						</div>
						<div data-ng-if="edit && (sens=='S' || sens=='E')" class="col-lg-4"
							data-ng-class="{'has-error' : movementForm.$submitted && movementForm.reason.$invalid}">
							<select id="reason" name="reason" data-ng-required="true" class="form-control" data-ng-model="movement.reason"
								data-ng-options="r.reason as r.label for r in reasons" data-ng-change="reasonUpdated()">
							</select>
						</div>
						<div data-ng-if="!edit" class="col-lg-4">
							<label class="label-view">{{movement.destination.label}}</label>
						</div>
						<div data-ng-if="edit && locations.length>0" class="col-lg-4"
							data-ng-class="{'has-error' : movementForm.$submitted && movementForm.destination.$invalid}">
							<select id="destination" name="destination" data-ng-required="movement.reason==1000||movement.reason==-1000" class="form-control"
								data-ng-model="movement.destination" data-ng-options="l as l.label for l in locations track by l.id"
								data-ng-required="locations.length>0" data-ng-change="locationUpdated()">
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<label class="ose-control-label">Note</label>
				</div>
				<div class="col-lg-10 ose-format">
					<label data-ng-if="!edit" class="label-view">{{movement.note}}</label>
					<textarea data-ng-if="edit" class="form-control" data-ng-model="movement.note"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<label class="ose-control-label">R&eacute;f&eacute;rence</label>
				</div>
				<div class="col-lg-4 ose-format">
					<label data-ng-if="!edit" class="label-view">{{movement.reference}}</label> <input data-ng-if="edit" name="reference"
						class="form-control" data-ng-model="movement.reference" list="refs" ng-change="loadModel()">
					<datalist id="refs">
						<option data-ng-repeat="item in recents" value="{{item.reference}}" />
					</datalist>
				</div>
			</div>
			<div class="row" data-ng-if="!edit">
				<div class="col-lg-2">
					<label class="control-label">Date</label>
				</div>
				<div class="col-lg-10 ose-format">
					<label data-ng-if="!edit" class="label-view">{{movement.date | date : 'dd/MM/yyyy'}}</label>
				</div>
			</div>

			<uib-accordion data-ng-if="edit" close-others="true">
				<div data-ng-if="movement.reason == 1000 || movement.reason == -1000" uib-accordion-group heading="Ajouter des produits en masse" is-open="false">
					<div class="row">
						<label class="col-lg-4 ose-control-label">Choix de la cat&eacute;gorie de produits</label>
						<div class="col-lg-6 ose-format">
							<ui-select data-ng-model="$parent.categ" data-theme="bootstrap" on-select="$parent.updateCategs($item)" append-to-body="true">
							<ui-select-match class="ui-select-match" data-placeholder="">{{categ.label}}</ui-select-match> <ui-select-choices
								class="ui-select-choices" data-repeat="loopcateg in categs | filter: {label: $select.search }" position='up'>
							<table width="100%">
								<tr>
									<td><div data-ng-bind-html="loopcateg.label | highlight: $select.search"></div></td>
								</tr>
							</table>
							</ui-select-choices> </ui-select>
						</div>
						<div class="col-lg-2 ose-margin">
							<button data-ng-if="!$parent.inRepeat" ng-disabled="$parent.isloading" type="button" class="btn btn-primary col-lg-12"
								data-ng-click="addProducts()">Ajouter ces produits</button>
							<i data-ng-if="$parent.isloading || $parent.inRepeat" class="fa fa-cog fa-spin"></i>
						</div>
					</div>
				</div>
				<div uib-accordion-group heading="Ajouter un produit" is-open="true">
					<fieldset>
						<div class="row">
							<label class="col-lg-2 ose-control-label">Produit</label>
							<div class="col-lg-6 ose-format">
								<ui-select focus-on="SetFocus" data-ng-model="productMovement.product" data-theme="bootstrap" reset-search-input="true"
									append-to-body="true"> <ui-select-match class="ui-select-match" data-placeholder="">{{productMovement.product.label}}</ui-select-match>
								<ui-select-choices class="ui-select-choices" data-repeat="product in products" data-refresh="getProducts($select.search)"
									refresh-delay="0">
								<table width="100%">
									<tr>
										<td width="20%">
											<div data-ng-bind-html="product.barcode | highlight: $select.search"></div>
										</td>
										<td width="80%">
											<div data-ng-bind-html="product.label | highlight: $select.search"></div>
										</td>
									</tr>
								</table>
								</ui-select-choices> </ui-select>
							</div>
							<div class="col-lg-2 ose-margin">
								<input name="quantity" class="form-control" data-ng-model="productMovement.units">
							</div>
							<div class="col-lg-2 ose-margin">
								<i data-ng-if="isloading" class='fa fa-cog fa-spin'></i>
								<button type="button" class="btn btn-primary col-lg-12" ng-disabled="isloading" data-ng-click="addProduct()">Ajouter un produit</button>
							</div>
						</div>
					</fieldset>
				</div>
			</uib-accordion>
			
			<div class="row line">
				<div class="col-lg-12">
					<div ng-if="isLoading" class="row">
						<div class="col-lg-12">
							<h1>Loading <i class="fa fa-cog fa-spin"></i></h1>
						</div>
					</div>
					<fieldset ng-if="!isLoading">
						<legend>D&eacute;tail des mouvements produits</legend>
						<div class="row">
							<div data-ng-if="movementForm.$submitted && movement.products.length==0" class="col-lg-12 ose-has-error">
								<span>Il faut au moins un produit pour enregistrer le mouvement de stock</span>
							</div>
						</div>
						<div data-ng-if="!edit && movement.products.length!=0" has-permission="PERM_STOCK_MVT_EXTRACT" class="row">
							<div class="col-lg-12">
								<button class="btn btn-primary ose-search-button" data-ng-click="downloadCSV()">T&eacute;l&eacute;charger (CSV)</button>
							</div>
						</div>
						<div class="row line">
							<div class="col-lg-12">
								<div style="display: none" ng-init="movement.products.length < 1 && finished()"></div>
								<table class="table table-condensed">
									<tr>
										<th class="text-center" width="20%">R&eacute;f&eacute;rence</th>
										<th class="text-center" width="60%">Produit</th>
										<th class="text-center" width="20%">Quantit&eacute;</th>
										<th data-ng-if="edit"></th>
									</tr>
									<tbody data-ng-repeat="productMovement in movement.products" ng-init="$last && finished()">
										<tr>
											<td>{{productMovement.product.barcode}}</td>
											<td>{{productMovement.product.label}}</td>
											<td data-ng-if="!edit">{{productMovement.units}}</td>
											<td data-ng-if="edit"><input name="unit" class="form-control input-sm" data-ng-model="productMovement.units"
												data-ng-required="true"></td>
											<td data-ng-if="edit"><a href="" class="fa fa-icon fa-trash" title="Supprimer la ligne"
												data-ng-click="removeProductMovement($index)"></a></td>
										</tr>
										<tr data-ng-if="!movement.note">
											<td colspan=3 data-ng-if="!edit">{{productMovement.note}}</td>
											<td colspan=4 data-ng-if="edit"><input name="note" class="form-control input-sm" data-ng-model="productMovement.note"
												data-ng-required="false"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</fieldset>
		<div class="row line">
			<div class="col-lg-12">
				<button data-ng-if="edit && !isloading" class="btn btn-danger pull-right" data-ng-click="saveLocation()">Enregistrer</button>
				<button data-ng-if="edit && salesLocation.id" class="btn btn-default pull-right" data-ng-click="cancelLocation()">Annuler</button>
			</div>
		</div>
		<div class="row line">
			<div class="col-lg-12" data-ng-if="!edit">
				<io-barcode code="{{movement.reference}}" type="CODE128B"></io-barcode>
			</div>
		</div>
	</div>
</form>