<div class="form">
	<form>
		<fieldset>
			<legend>Etat des stocks</legend>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Point de Vente</label>
				<div class="col-lg-4 ose-format">
					<ui-select focus-on="SetFocus" data-ng-model="criteria.location">
						<ui-select-match class="ui-select-match" data-placeholder="">{{criteria.location.label}}</ui-select-match>
						<ui-select-choices class="ui-select-choices" data-repeat="location in locations | filter: $select.search">
							<table width="100%">
								<tr>
									<td width="35%">
										<div data-ng-bind-html="location.id | highlight: $select.search"></div>
									</td>
									<td width="65%">
										<div data-ng-bind-html="location.label | highlight: $select.search"></div>
									</td>
								</tr>
							</table>
						</ui-select-choices>
					</ui-select>
				</div>
				<div has-permission="PERM_STOCK_MVT" class="col-lg-3">
					<a data-ng-if="criteria.location" class="btn btn-danger ose-search-button" href="#/stocks/movements/form?_action=create&locationId={{criteria.location.id}}">
						Cr&eacute;er des mouvements de stock dans ce point de vente
					</a>
				</div>
			</div>
			<div class="row">
				<label class="col-lg-2 ose-control-label">Produit</label>
				<div class="col-lg-4 ose-format">
					<input name="nom" class="form-control" data-ng-model="criteria.reference" />
				</div>
			</div>
			<div class="row line">
				<div class="col-lg-12">
					<button type="submit" class="btn btn-primary ose-search-button col-lg-9" data-ng-click="searchSalesLocations()">Rechercher</button>
					<button has-permission="PERM_STOCK_EXTRACT" class="btn btn-primary ose-search-button col-lg-3" data-ng-click="downloadCSV()">T&eacute;l&eacute;charger (CSV)</button>
				</div>
			</div>
		</fieldset>
	</form>

	<div class='col-lg-12' ng-if='isLoading'>
		<h1>
			Loading <i class='fa fa-cog fa-spin'></i>
		</h1>
	</div>
	<fieldset data-ng-if="!isLoading && stocks">
		<legend>R&eacute;sultat de la recherche</legend>
		<div class="row line" data-ng-if="stocks.length==0">
			<div class="col-lg-12">Aucun r&eacute;sultat ne correspond &agrave; votre recherche.</div>
		</div>
		<div class="row line" data-ng-if="stocks.length!=0">
			<div class="col-lg-12">
				<table class="table">
					<thead>
						<tr>
							<th class="text-center col-lg-2">
								<a href="javascript:window.location" ng-click="sortType = 'productCode'; sortReverse = !sortReverse">
									Code
									<span ng-show="sortType == 'productCode' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'productCode' && sortReverse" class="fa fa-caret-up"></span>
								</a> <i ng-show="search.productCode.length > 0" class="glyphicon glyphicon-filter"></i>
								<input type="text" class="form-control"	placeholder="Filtre : !pour exclure" ng-model="search.productCode">
							</th>
							<th class="text-center">
								<a href="javascript:window.location" ng-click="sortType = 'productLabel'; sortReverse = !sortReverse">
									Nom 
									<span ng-show="sortType == 'productLabel' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'productLabel' && sortReverse" class="fa fa-caret-up"></span>
								</a>
								<!--                 <br><span class="input-group-addon"> -->
								<i ng-show="search.productLabel.length > 0" class="glyphicon glyphicon-filter"></i>
								<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.productLabel">
							</th>
							<th class="text-center col-lg-2">
								<a href="javascript:window.location" ng-click="sortType = 'units'; sortReverse = !sortReverse">
									Stock <span ng-show="sortType == 'units' && !sortReverse" class="fa fa-caret-down"></span>
									<span ng-show="sortType == 'units' && sortReverse" class="fa fa-caret-up"></span>
								</a> 
								<i ng-show="search.units.length > 0" class="glyphicon glyphicon-filter"></i> 
								<input type="text" class="form-control" placeholder="Filtre : !pour exclure" ng-model="search.units">
							</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="stock in stocks | orderBy:sortType:sortReverse | filter:search">
							<td>
								<a has-permission="PERM_PRODUIT" href="#/products/{{stock.productId}}/form">{{stock.productCode}}</a>
								<div has-permission="!PERM_PRODUIT">{{stock.productCode}}</div>
							</td>
							<td>{{stock.productLabel}}</td>
							<td class="text-center">{{stock.units}}</td>
							<td>
								<a has-permission="PERM_STOCK_MVT" href="#/stocks/movements/list?locationId={{criteria.location.id}}&productId={{stock.productId}}"
								class="fa fa-icon fa-external-link" title="Visualiser les mouvements de stock"></a>
							</td>
							<td>
								<a has-permission="PERM_STOCK_MVT" href="#/stocks/movements/form?_action=create&locationId={{criteria.location.id}}&productId={{stock.productId}}"
								class="fa fa-icon fa-plus-square-o" title="Saisir un mouvement de stock"></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</fieldset>
</div>
